<div class="newLoginBtn"><a href="/contact-us">Submit Query</a></div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script>
  $(document).ready(function () {
    $('#nav-toggle').click(function () {
      $("#nav-toggle,body,header nav").toggleClass('active');
    });
  });
  $('#trustedBusinesses').owlCarousel({
    loop: true,
    margin: 5,
    nav: true,
    dots: false,
    autoplay: 100,
    slideSpeed: 300,
    paginationSpeed: 400,
    autoplayHoverPause: true,
    slideTransition: 'linear',
    responsive: {
      0: {
        items: 2,
        slideBy: 2
      },
      700: {
        items: 6,
        slideBy: 5
      },
      1000: {
        items: 8,
        slideBy: 7
      }
    },
    navText: ["<div class='left-arrow'><</div>", "<div class='right-arrow'>></div>"],
  });

  $('#clientsSaysBox').owlCarousel({
    loop: true,
    margin: 0,
    nav: true,
    dots: false,
    autoplay: true,
    autoplayHoverPause: true,

    responsive: {
      0: {
        items: 1,
        slideBy: 1
      },
      700: {
        items: 2,
        slideBy: 2
      },
      1000: {
        items: 2,
        slideBy: 2
      }
    },
    navText: ["<div class='left-arrow'><</div>", "<div class='right-arrow'>></div>"],
  });
  function searchdiv(ids) {
    if (ids == "findJobsTab") {
      // $("#findJobsTab").addClass("active in");
      // $("#hireTalentTab").removeClass("active in");
      // $("#findJobsTab").css({ "display": "block" });
      // $("#hireTalentTab").css({ "display": "none" });
      $("#tab1").addClass("active");
      $("#tab2").removeClass("active");

      $(".jobsdiv").css({ "display": "block" });
      $(".benchsdiv").css({ "display": "none" });

      $("#skills").val("");
      $("#locations").val("");
    }
    if (ids == "hireTalentTab") {
      // $("#findJobsTab").css({ "display": "none" });
      // $("#hireTalentTab").css({ "display": "block" });
      // $("#hireTalentTab").addClass("active in");
      // $("#findJobsTab").removeClass("active in");
      $("#tab2").addClass("active");
      $("#tab1").removeClass("active");

      $(".jobsdiv").css({ "display": "none" });
      $(".benchsdiv").css({ "display": "block" });
      $("#skills").val("");
      $("#locations").val("");
    }
  }
  function stopplay(val) {
    if (val == 1) {
      $('#movie1').get(0).pause();
      $('#movie1').get(0).load();
    } else {
      $('#movie2').get(0).pause();
      $('#movie2').get(0).load();
    }
  }
  function playvideo(val) {
    if (val == 1) {
      $('#businessModal').modal({ backdrop: 'static', keyboard: false });
      var htmlv1 = '<video id="movie1" width="100%"  controls>';
      htmlv1 += '<source src="https://www.onbenchmark.com/ssrsystem/video/home.mp4" type="video/mp4">';
      htmlv1 += '<source src="movie.ogg" type="video/ogg">';
      htmlv1 += 'Your browser does not support the video tag.';
      htmlv1 += '</video>';
      $("#vshow1").html(htmlv1);
      var htmlv2 = '<video id="movie2" width="100%"  controls>';
      htmlv2 += '<source src="https://www.onbenchmark.com/ssrsystem/video/VideoforFreelancers.mp4" type="video/mp4">';
      htmlv2 += '<source src="movie.ogg" type="video/ogg">';
      htmlv2 += 'Your browser does not support the video tag.';
      htmlv2 += '</video>';
      $("#vshow2").html(htmlv2);
      $('#movie1').get(0).play();
      $('#movie2').get(0).pause();
      $('#movie2').get(0).load();
    } else {
      $('#freelancerModal').modal({ backdrop: 'static', keyboard: false });
      var htmlv1 = '<video id="movie1" width="100%"  controls>';
      htmlv1 += '<source src="https://www.onbenchmark.com/ssrsystem/video/home.mp4" type="video/mp4">';
      htmlv1 += '<source src="movie.ogg" type="video/ogg">';
      htmlv1 += 'Your browser does not support the video tag.';
      htmlv1 += '</video>';
      $("#vshow1").html(htmlv1);
      var htmlv2 = '<video id="movie2" width="100%"  controls>';
      htmlv2 += '<source src="https://www.onbenchmark.com/ssrsystem/video/VideoforFreelancers.mp4" type="video/mp4">';
      htmlv2 += '<source src="movie.ogg" type="video/ogg">';
      htmlv2 += 'Your browser does not support the video tag.';
      htmlv2 += '</video>';
      $("#vshow2").html(htmlv2);
      $('#movie2').get(0).play();
      $('#movie1').get(0).pause();
      $('#movie1').get(0).load();
    }
  }
  window.onscroll = function () { scrollFunction() };
  function scrollFunction() {
    if (document.body.scrollTop > 65 || document.documentElement.scrollTop > 65) {
      $("header").addClass("fixed-header");
      //document.getElementById("navbar").style.top = "0";
    } else {
      $("header").removeClass("fixed-header");
      //document.getElementById("navbar").style.top = "-50px";
    }
  }
</script>
<script>
  function get_city(val) {
    var filter = { "city_name": { $regex: '^' + val, "$options": "i" } };
    var baseurl = "index.html";
    var url = baseurl + "notoken/city?filter=";
    $(".city_loader").css({ "display": "block" });
    $.ajax({
      type: "GET",
      url: url + JSON.stringify(filter),
      success: function (res) {
        var cdata = res.data;
        $(".city_loader").css({ "display": "none" });

        if (cdata.length > 0) {
          html = '<span class="closecity" onclick="closecity()">X</span>';
          for (var i = 0; i < cdata.length; i++) {
            html += '<a id="' + cdata[i]._id + '" onclick=setvalue("' + cdata[i]._id + '",' + i + ') rel="' + cdata[i].city_name + '"> ';
            html += cdata[i].city_name + '(' + cdata[i].country_id.country_name + ')';
            html += '</a>';
          }
          $(".locationlist").css({ "display": "block" }).html(html);
        } else {
          $(".locationlist").css({ "display": "none" });
        }
      },
      error: function (response) {
        $(".city_loader").css({ "display": "none" });
      }
    });
  }
  function setvalue(_id, i) {
    var city_name = $("#" + _id).attr('rel');
    $("#locations").val(city_name);
    $(".locationlist").css({ "display": "none" })
  }
  function closecity() {
    $(".locationlist").css({ "display": "none" });
  }

  function getSkill(valdata) {
    var strc = valdata.length;
    if (valdata[strc - 1] == ',') {
      $(".skilllist").css({ "display": "none" });
      return false;
    }
    $(".skilllist").css({ "display": "block" });
    var arr = valdata.split(',');
    var val = arr[arr.length - 1];
    var strtext = '';
    $(".skilltext").each(function () {
      strtext = '';
      strtext = $(this).text().toLowerCase();
      if (strtext.search(val.toLowerCase()) != -1) {
        $(this).css({ "display": "block" });
      } else {
        $(this).css({ "display": "none" });
      }
    });
  }
  function setskilltext(val) {
    if (val) {
      var arr = val.split(',');
      var vald = arr[arr.length - 1];
      if (vald) {
        $("#skills").val(val + ',');
      }
    }
  }
  function setskill(valdata) {
    var vald = $("#skills").val();
    var arr = [];
    arr = vald.split(',');
    console.log(arr);
    if (vald) {
      arr[arr.length - 1] = valdata;
      $("#skills").val(arr.toString());
      $(".skilllist").css({ "display": "none" });
    } else {
      $("#skills").val(valdata);
      $(".skilllist").css({ "display": "none" });
    }
  }
  $("body").click(function (e) {
    console.log(e.target.className);
    if (e.target.className != "form-control salectchanged") {
      $("#myDropdown").css({ "display": "none" });
    }
  });

  function searchform(val) {
    var baseurl = "index.html";
    var searchType = "";
    if (val == 1) {
      var stype = $("input[name='jobs']:checked").val();// parseInt($("#stype").val());
      var skills = $("#skills").val() ? $("#skills").val() : '';
      var locations = $("#locations").val() ? $("#locations").val() : '';
      // console.log(stype);
      //console.log("skills",skills);
      //return false;
      if (!skills) {

        $(".error-text").text("Please enter skills or location to search relevant jobs");
        $(".error-text").css({ "display": "block" });
        return false;
      }
      if (stype == "1") {
        var url = baseurl + "contract-jobs";
        searchType = "Contract Jobs";
      }
      if (stype == "2") {
        var url = baseurl + "freelance-jobs";
        searchType = "Freelance Jobs"
      }
      url += "?page=1";
      url += "&limit=15";
      if (skills) {
        skills = skills.toLowerCase();
        skills = skills.replace(/,/g, '-');
        skills = skills.replace(/-\s*$/, "");
        url += "&skills=" + encodeURIComponent(skills);
      }
      if (locations) {
        url += "&locations=" + locations.toLowerCase();;
      }
      //window.location = url;
    }
    if (val == 2) {
      var stype = $("input[name='talent']:checked").val();// parseInt($("#stype").val());
      var skills = $("#skills").val() ? $("#skills").val() : '';
      var locations = $("#locations").val() ? $("#locations").val() : '';
      // console.log(stype);
      //console.log("skills",skills);
      //return false;
      if (!skills) {

        $(".error-text").text("Please enter skills or location to search relevant Talent");
        $(".error-text").css({ "display": "block" });
        return false;
      }
      if (stype == "1") {
        var url = baseurl + "hire-bench-resources";
        searchType = "Hire Bench Resources";
      }
      if (stype == "2") {
        var url = baseurl + "hire-freelancers";
        searchType = "Hire Freelancers";
      }
      url += "?page=1";
      url += "&limit=15";
      if (skills) {
        skills = skills.toLowerCase();
        skills = skills.replace(/,/g, '-');
        skills = skills.replace(/-\s*$/, "");
        url += "&skills=" + encodeURIComponent(skills);
      }
      if (locations) {
        url += "&locations=" + locations.toLowerCase();;
      }

    }
    const postdata = {
      "type": val,
      "searchType": searchType,
      "skills": skills,
      "location": locations
    };
    $.ajax({
      "type": "POST",
      "url": baseurl + "auth/homesearch",
      "data": postdata,
      success: function (res) {
        if (res.confirmation == 'success') {

          window.location = url;
        } else {
          window.location = url;
        }
      },
      error: function (response) {
        window.location = url;
      }
    });
  }

  $('.count').each(function () {
    var $this = $(this);
    jQuery({ Counter: 0 }).animate({ Counter: $this.attr('data-stop') }, {
      duration: 3000,
      easing: 'swing',
      step: function (now) {
        $this.text(Math.ceil(now));
      }
    });
  });
</script>
<script>
  jQuery.event.special.touchstart = {
    setup: function (_, ns, handle) {
      if (ns.includes("noPreventDefault")) {
        this.addEventListener("touchstart", handle, { passive: false });
      } else {
        this.addEventListener("touchstart", handle, { passive: true });
      }
    }
  };
  jQuery.event.special.touchmove = {
    setup: function (_, ns, handle) {
      if (ns.includes("noPreventDefault")) {
        this.addEventListener("touchmove", handle, { passive: false });
      } else {
        this.addEventListener("touchmove", handle, { passive: true });
      }
    }
  };




</script>
<div id="myModal" class="modal2">
  <div class="modal2-content"><span class="close2" onclick="close_btn_offer();">&times;</span><a
      href="pricing-table.html" class="img-content-model"></a></div>
</div>
<script>

  function close_btn_offer() {
    $("#myModal").css({ "display": "none" });
  }
  $(document).ready(function () {
    // Check if the popup was displayed today and how many times
    const popupShownToday = localStorage.getItem('popupShownToday');
    const popupShownCount = parseInt(localStorage.getItem('popupShownCount')) || 0;
    // Get the current date
    const today = new Date().toLocaleDateString();
    // Get the date when the popup was last shown
    const lastPopupDate = localStorage.getItem('lastPopupDate');
    console.log(today, lastPopupDate);
    if (lastPopupDate != today) {
      // If it's a new day, reset the popup count
      localStorage.setItem('popupShownCount', '0');
    }
    if (popupShownCount < 4) {
      //alert(popupShownCount);
      // Show the popup
      $("#myModal").css({ "display": "block" });

      // Increment the popup count for the current day
      localStorage.setItem('popupShownCount', (popupShownCount + 1).toString());

      // Set the flag to indicate the popup has been shown today
      localStorage.setItem('popupShownToday', 'true');

      // Update the last popup date
      localStorage.setItem('lastPopupDate', today);
    }

  });
  var htmldiv = ` 
<img class="img-responsive" src="/ssrsystem/images/offer-50-15.jpeg" style="border: 1px solid #8BC34A;"  
alt="OnBenchMark Logo" width="100%"> `;
  $(".img-content-model").html(htmldiv);


</script>
</body>

</html>