<footer class="p-3 bg-dark text-white text-center" style=" position: fixed;left: 0;  bottom: 0;width: 100%;background-color: red;color: white;text-align: center;">
  <div class="container">
    <p class="lead">Copyright &copy; LinkCollect
      <img src="/image/logo.svg">
    </p>
  </div>
</footer>
<script src="/js/bootstrap.min.js"></script>
</body>

</html>