<footer>
  <div class="container">
    <div class="linkBox">
      <div class="headingBox">QUICK LINKS</div>
      <ul>
        <li><a href="/about-us">Why OBM</a></li>
        <li><a href="/freelance-jobs">Find jobs /Projects</a></li>
        <li><a href="/hire-bench-resources">Hire Bench</a></li>
        <li><a href="/hire-freelancers">Hire Freelancers</a></li>
        <li><a href="/deploy-bench">Deploy Bench</a></li>
        <li><a href="/post-project">Post Job</a></li>
        <li><a href="/contract-jobs">Contract Jobs</a></li>
        <li><a href="/freelance-jobs">Freelancer Jobs</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/auth/terms-condition">Terms &amp; Conditions</a></li>
        <li><a href="/auth/privacy-policy">Privacy Policy</a></li>
        <li><a href="/auth/faq">FAQ</a></li>
        <li><a href="/pricing-table">Pricing</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
      </ul>
    </div>
    <div class="linkBox">
      <div class="headingBox">SERVICES IN COUNTRY</div>
      <ul>
        <li><a href="/freelance-jobs/l/jobs-in-india">Jobs in India</a></li>
        <li><a href="/freelance-jobs/l/jobs-in-united">Jobs in USA</a></li>
        <li><a href="/freelance-jobs/l/jobs-in-united">Jobs in UK</a></li>
        <li><a href="/freelance-jobs/l/jobs-in-canada">Jobs in Canada</a></li>
        <li><a href="/freelance-jobs/l/jobs-in-russia">Jobs in Russia</a></li>
        <li><a href="/freelance-jobs/l/jobs-in-japan">Jobs in Japan</a></li>
        <li><a href="/freelance-jobs/l/jobs-in-new">Jobs in New Zealand</a></li>
        <li><a href="/freelance-jobs/l/jobs-in-australia">Jobs in Australia</a></li>
        <li><a href="/freelance-jobs/l/jobs-in-singapore">Jobs in Singapore</a></li>
        <li><a href="/freelance-jobs/l/jobs-in-hong">Jobs in Hong Kong</a></li>
        <li><a href="/freelance-jobs/l/jobs-in-france">Jobs in France</a></li>
        <li><a href="/freelance-jobs/l/jobs-in-germany">Jobs in Germany</a></li>
        <li><a href="/freelance-jobs/l/jobs-in-ireland">Jobs in Ireland</a></li>
        <li><a href="/freelance-jobs/l/jobs-in-brazil">Jobs in Brazil</a></li>
        <li><a href="/freelance-jobs/l/jobs-in-south">Jobs in South Africa</a></li>
        <li><a href="/freelance-jobs/l/jobs-in-united-emirates">Jobs in UAE</a></li>
        <li><a href="/freelance-jobs/l/jobs-in-saudi">Jobs in Saudi Arabia</a></li>
        <li><a href="/freelance-jobs/l/jobs-in-korea">South Korea</a></li>
      </ul>
    </div>
    <div class="linkBox">
      <div class="headingBox">CATEGORIES</div>
      <ul>
        <li><a href="/cat/information-technology">Information Technology &amp; Services</a></li>
        <li><a href="/cat/design-and-multimedia">Design &amp; Multimedia</a></li>
        <li><a href="/cat/writing">Writing &amp; Editing</a></li>
        <li><a href="/cat/admin-support">Admin Support</a></li>
        <li><a href="/cat/engineering-and-design">Engineering &amp; Design</a></li>
        <li><a href="/cat/architecture-and-planning">Architecture &amp; Planning</a></li>
        <li><a href="/cat/marketing-and-sales">Marketing &amp; Sales</a></li>
        <li><a href="/cat/operations">Operations</a></li>
        <li><a href="/cat/human-resource">Human Resource</a></li>
        <li><a href="/cat/finance">Finance</a></li>
        <li><a href="/cat/legal-services">Law/Legal Services</a></li>
        <li><a href="/cat/life-coach">Life Coach/Trainer</a></li>
        <li><a href="/cat/apparel-and-fashion">Apparel &amp; Fashion</a></li>
        <li><a href="/cat/health-wellness-and-fitness">Health Wellness &amp; Fitness</a></li>
        <li><a href="/cat/education">Education</a></li>
        <li><a href="/cat/travel-and-tourism">Leisure, Travel &amp; Tourism</a></li>
      </ul>
    </div>
  </div>
</footer>
<div class="copyrightBox">Copyright : 2023 – OnBenchMark All Right Reserved.</div>