<!doctype html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
  <meta charset="utf-8">
  <title>Quick Talent Marketplace to hire Developers on Contract &amp; Part-Time</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <meta name='description' content='OnBenchMark is a Quick Talent Marketplace to hire any developers in just a day for an hour to an year or more from  network community of over 5000 IT Company’s Bench Employees &amp; pool of vetted Freelancers'>
  <meta name='keywords' content='Quick Talent Marketplace, Bench Resources, Bench Sharing, Resource Sharing, Contract, Part-Time, Bench employees'>
  <meta property="og:title" content="Quick Talent Marketplace to hire Developers on Contract &amp; Part-Time" />
  <meta property="og:site_name" content="OnBenchMark">
  <meta property="og:description" content="OnBenchMark is a Quick Talent Marketplace to hire any developers in just a day for an hour to an year or more from  network community of over 5000 IT Company’s Bench Employees &amp; pool of vetted Freelancers">
  <meta property="og:type" content="Website">
  <meta name="image" property="og:image" content="../obmassets.s3.ap-south-1.amazonaws.com/ogimages/l75qs85n_joblogo3.jpeg">
  <meta property="og:image:width" content="540">
  <meta property="og:image:height" content="120">
  <meta property="og:url" content="index.html">

  <% if(styles.length>0 && styles.includes('bootstrap')){ %>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <% } %>
  <% if(styles.length>0 && styles.includes('global')){ %>
  <link rel="stylesheet" type='text/css' href="/css/global30f4.css?v=3">
  <% } %>
  <% if(styles.length>0 && styles.includes('freelancer-register')){ %>
  <link rel="stylesheet" type='text/css' href="/css/freelancer-register.css">
  <% } %>
  <% if(styles.length>0 && styles.includes('testimonials')){ %>
  <link rel="stylesheet" type='text/css' href="/css/testimonials.css">
  <% } %>

  <% if(styles.length>0 && styles.includes('toaster')){ %>
  <link rel="stylesheet" type='text/css' href="/css/toastr.min.css">
  <% } %>

  <meta name="robots" content="index,follow" />
  <meta name="googlebot" content="index,follow" />
  <!-- Google tag (gtag.js) -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-CSMG53V9MW"></script> -->
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    // gtag('config', 'G-CSMG53V9MW');
  </script>
  <style type="text/css">
    body,
    html,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    div,
    a {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .offer-new {
      padding: 4px 4rem;
      /* background: #ff9800; */
      background: linear-gradient(90deg, #ff9a34 0%, #ff9a34 30%, #138708 100%);
      overflow-x: hidden;
      text-align: center;
      color: white;
    }

    /* .scrollTop { 
    position: fixed;
    right: 5px;
    bottom: 5px;
    background: linear-gradient(to right,#0294c1,#35ceff);
    padding: 10px;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
}
.scrollTop a {
  font-size: 18px;
  color: #fff;
} */
  </style>

  <% if(styles.length>0 && styles.includes('owl')){ %>
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <% } %>
  <% if(styles.length>0 && styles.includes('owl-theme')){ %>
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">
  <% } %>
  <% if(styles.length>0 && styles.includes('home')){ %>
  <link rel="stylesheet" type='text/css' href="/css/home4290.css?v=25">
  <% } %>
  <% if(styles.length>0 && styles.includes('login')){ %>
  <link rel="stylesheet" type='text/css' href="/css/login5e1f.css">
  <% } %>
  <% if(styles.length>0 && styles.includes('forgot')){ %>
  <link rel="stylesheet" type='text/css' href="/css/forgot.css">
  <% } %>

  <% if(styles.length>0 && styles.includes('contact')){ %>
  <link rel="stylesheet" type='text/css' href="/css/contact.css">
  <% } %>

  <% if(styles.length>0 && styles.includes('faq')){ %>
  <link rel="stylesheet" type='text/css' href="/css/faq.css">
  <% } %>

  <script type="text/javascript">
    var tokenuser = localStorage.getItem("onbechmarktokenuser");
    if (tokenuser) {
      window.location = "onbench/business.html";
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "Onbenchmark Global Inc.",
      "url": "https://www.onbenchmark.com",
      "sameAs": [
        "https://www.facebook.com/onbenchmark/",
        "https://twitter.com/Onbenchmark",
        "https://www.linkedin.com/company/onbenchmark.com?originalSubdomain=in",
        "https://www.youtube.com/channel/UChJnKs-kLF8ujTzzdWnicCw"
      ],
      "contactPoint": [{
          "@type": "ContactPoint",
          "telephone": "9718928125",
          "contactType": "customer support"
        },
        {
          "@type": "ContactPoint",
          "telephone": "9015286526",
          "contactType": "technical support"
        },
        {
          "@type": "ContactPoint",
          "telephone": "9773698553",
          "contactType": "billing support"
        }
      ]
    }
  </script>
  <style>
    .offer-new {
      padding: 4px 4rem;
      /* background: #ff9800; */
      background: linear-gradient(90deg, #ff9a34 0%, #ff9a34 30%, #138708 100%);
      overflow-x: hidden;
      text-align: center;
      color: white;
    }

    .logo-c {
      padding-top: 10px;

    }

    .a-c-b {
      text-decoration: none !important;
      color: #000;
    }

    .a-c-w {
      text-decoration: none !important;
      color: white;
    }


    .servicesBox .box .appstore {
      width: 50%;
      padding: 20px 20px 75px;
      display: flex;
      /* border: #00aade solid 2px; */
      border-radius: 50px 8px;
      position: relative;
    }

    img.link-img.img-responsive {
      margin: 0 0 0 18rem;
      width: 50%;
    }

    .appstore {
      margin: 3.5rem 0 0 10rem;
    }

    .btn-blckBtn {
      display: inline-block;
      color: black;
      /* border: #000000 solid 1px; */
      /* background: #00aade; */
    }

    .detail-box {
      font-weight: 700;
    }

    .detailsBox {
      text-align: center;
    }

    .btnBox {
      text-align: center;
    }

    .detail {
      line-height: 4rem;
      font-weight: 700;

    }
  </style>
</head>

<body>