<div class="fluid-container offer-new">
  <div class="row">
    <div><b>50% discount on Annual Subscription plan (valid till 15th August 2023)</b></div>
  </div>
</div>
<header>
  <div class="container">
    <div class="logoBox"><a href="/"><img class="img-responsive" src="/images/logo.svg" width="198px" height="51px" alt="OnBenchMark Logo"></a></div>
    <nav>
      <div class="btnBox"><a class="btn btn-lineBtn btn2" href="/post-jobs">Free Job Post</a><a class="btn btn-blueBtn btn2" href="/login">Login</a></div>
      <ul class="nav-bar-user">
        <li><a href="/pricing-table">Pricing</a></li>
        <li><a href="/freelancer-register">Upload Resume</a></li>
        <li><a href="/hire-on-contract">Hire on-Contract</a></li>
        <li><a href="/deploy-bench">Find Clients</a></li>
      </ul>
    </nav>
    <div id="nav-toggle"><span></span></div>
  </div>
</header>