<div class="bannerSection">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="bannerBox">
          <div class="formDetails">
            <h2 class="top-h2">
              <!-- Join the Biggest  -->Quick Talent Marketplace
            </h2>
            <h1 class="top-h1">Hire Developers on Contract & Part-Time from over&nbsp;<span class="focus-text">5000
                active Bench</span></h1>
            <h1 class="top-h1">Connect with over&nbsp;<span class="focus-text">5000 Global Clients</span>&nbsp;to
              Sell
              Bench or get Projects</h1>
            <div class="lets-talk">
              <!-- <span>Let's talk</span>&nbsp;+91 97189 28125   -->
              <!-- &nbsp;  --><a class="btn btn-blueBtn btn2" href="/contact-us">Know
                more</a><!-- <button type="button" class="btn btn-request-demo">Request Demo</button>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <!-- <div class="img-slider"><img class="img-responsive" src="/ssrsystem/images/icon/banner-bg.svg" alt=""></div>-->
        <!-- Directly talk to Clients to Deploy Bench or get Projects -->
        <div class="tabBox">
          <ul class="nav nav-tabs nav-justified">
            <li id="tab2" class="active"><a data-toggle="tab" href="javascript:void(0)" onclick="searchdiv('hireTalentTab',2)">Hire Talent</a></li>
            <li id="tab1"><a data-toggle="tab" href="javascript:void(0)" onclick="searchdiv('findJobsTab',1)">Find
                Projects</a></li>
          </ul>
          <div class="tab-content">
            <div id="findJobsTab" class="tab-pane fade in active">
              <form>
                <div class="form-check jobsdiv" style="display: none;"><input type="radio" class="form-check-input" id="Contractjob" name="jobs" checked value="1"><label class="form-check-label pointer" for="Contractjob">Contract Jobs</label><input type="radio" class="form-check-input" id="Freelancejob" name="jobs" value="2"><label class="form-check-label pointer" for="Freelancejob">Freelance Jobs</label></div>
                <div class="form-check benchsdiv"><input type="radio" class="form-check-input" id="Contract" name="talent" checked value="1"><label class="form-check-label pointer" for="Contract">Hire
                    on-Contract (Bench Resources)</label><input type="radio" class="form-check-input" id="Freelance" name="talent" value="2"><label class="form-check-label pointer" for="Freelance">Freelancer</label>
                </div>
                <div class="form-group"><input type="text" class="form-control form-control3 salectchanged" id="skills" placeholder="Search by Skills" onkeyup="getSkill(this.value)" onfocus="setskilltext(this.value)">
                  <div id="myDropdown" class="dropdown-content search-top skilllist"><a onclick="setskill('Java')" class="skilltext" style="display: none;">Java</a><a onclick="setskill('.Net')" class="skilltext" style="display: none;">.Net</a><a onclick="setskill('GIS')" class="skilltext" style="display: none;">GIS</a><a onclick="setskill('SQL')" class="skilltext" style="display: none;">SQL</a><a onclick="setskill('C')" class="skilltext" style="display: none;">C</a><a onclick="setskill('C++')" class="skilltext" style="display: none;">C++</a><a onclick="setskill('System Programming')" class="skilltext" style="display: none;">System Programming</a><a onclick="setskill('MainFrame')" class="skilltext" style="display: none;">MainFrame</a><a onclick="setskill('Java Applet')" class="skilltext" style="display: none;">Java Applet</a><a onclick="setskill('Python')" class="skilltext" style="display: none;">Python</a><a onclick="setskill('R Programming')" class="skilltext" style="display: none;">R Programming</a><a onclick="setskill('Statistics')" class="skilltext" style="display: none;">Statistics</a><a onclick="setskill('Mathematics')" class="skilltext" style="display: none;">Mathematics</a><a onclick="setskill('Pascal')" class="skilltext" style="display: none;">Pascal</a><a onclick="setskill('Hash')" class="skilltext" style="display: none;">Hash</a><a onclick="setskill('DS')" class="skilltext" style="display: none;">DS</a><a onclick="setskill('DAA')" class="skilltext" style="display: none;">DAA</a><a onclick="setskill('Remote sensing ')" class="skilltext" style="display: none;">Remote sensing </a><a onclick="setskill('Android Studio')" class="skilltext" style="display: none;">Android Studio</a><a onclick="setskill('SQLite')" class="skilltext" style="display: none;">SQLite</a><a onclick="setskill('JSON')" class="skilltext" style="display: none;">JSON</a><a onclick="setskill('Google Cloud Messaging')" class="skilltext" style="display: none;">Google
                      Cloud Messaging</a><a onclick="setskill('Oracle')" class="skilltext" style="display: none;">Oracle</a><a onclick="setskill('PL/SQL')" class="skilltext" style="display: none;">PL/SQL</a><a onclick="setskill('Yii2 Framework')" class="skilltext" style="display: none;">Yii2
                      Framework</a><a onclick="setskill('Jquery')" class="skilltext" style="display: none;">Jquery</a><a onclick="setskill('Bootstrap')" class="skilltext" style="display: none;">Bootstrap</a><a onclick="setskill('SAP ABAP HR')" class="skilltext" style="display: none;">SAP ABAP HR</a><a onclick="setskill('Manual QA')" class="skilltext" style="display: none;">Manual QA</a><a onclick="setskill('Software testing')" class="skilltext" style="display: none;">Software testing</a><a onclick="setskill('Manual testing')" class="skilltext" style="display: none;">Manual
                      testing</a><a onclick="setskill('Others')" class="skilltext" style="display: none;">Others</a><a onclick="setskill('Xamarin')" class="skilltext" style="display: none;">Xamarin</a><a onclick="setskill('Oracle Fusion')" class="skilltext" style="display: none;">Oracle Fusion</a><a onclick="setskill('Weblogic')" class="skilltext" style="display: none;">Weblogic</a><a onclick="setskill('11g/12c')" class="skilltext" style="display: none;">11g/12c</a><a onclick="setskill('Oracle AS 10g')" class="skilltext" style="display: none;">Oracle AS 10g</a><a onclick="setskill('Oracle BI')" class="skilltext" style="display: none;">Oracle BI</a><a onclick="setskill('Quality Analyst')" class="skilltext" style="display: none;">Quality Analyst</a><a onclick="setskill('Android')" class="skilltext" style="display: none;">Android</a><a onclick="setskill('iOS')" class="skilltext" style="display: none;">iOS</a><a onclick="setskill('Mobile')" class="skilltext" style="display: none;">Mobile</a><a onclick="setskill('Struts1.0')" class="skilltext" style="display: none;">Struts1.0</a><a onclick="setskill('Magento')" class="skilltext" style="display: none;">Magento</a><a onclick="setskill('Drupal')" class="skilltext" style="display: none;">Drupal</a><a onclick="setskill('Microsoft Dynamics AX')" class="skilltext" style="display: none;">Microsoft
                      Dynamics AX</a><a onclick="setskill('ERP')" class="skilltext" style="display: none;">ERP</a><a onclick="setskill('Majento')" class="skilltext" style="display: none;">Majento</a><a onclick="setskill('WordPress')" class="skilltext" style="display: none;">WordPress</a><a onclick="setskill('Drupal')" class="skilltext" style="display: none;">Drupal</a><a onclick="setskill('LAMP')" class="skilltext" style="display: none;">LAMP</a><a onclick="setskill('SAP BO')" class="skilltext" style="display: none;">SAP BO</a><a onclick="setskill('Business Objects')" class="skilltext" style="display: none;">Business
                      Objects</a><a onclick="setskill('OpenCv')" class="skilltext" style="display: none;">OpenCv</a><a onclick="setskill('OpenGL')" class="skilltext" style="display: none;">OpenGL</a><a onclick="setskill('iphone')" class="skilltext" style="display: none;">iphone</a><a onclick="setskill('full stack development')" class="skilltext" style="display: none;">full stack
                      development</a><a onclick="setskill('lite sql')" class="skilltext" style="display: none;">lite
                      sql</a><a onclick="setskill('C#')" class="skilltext" style="display: none;">C#</a><a onclick="setskill('SQL')" class="skilltext" style="display: none;">SQL</a><a onclick="setskill('Javascript')" class="skilltext" style="display: none;">Javascript</a><a onclick="setskill('Query')" class="skilltext" style="display: none;">Query</a><a onclick="setskill('HTML')" class="skilltext" style="display: none;">HTML</a><a onclick="setskill('CSS')" class="skilltext" style="display: none;">CSS</a><a onclick="setskill('XML')" class="skilltext" style="display: none;">XML</a><a onclick="setskill('C#.NET')" class="skilltext" style="display: none;">C#.NET</a><a onclick="setskill('Core Php')" class="skilltext" style="display: none;">Core Php</a><a onclick="setskill('Photoshop CC15')" class="skilltext" style="display: none;">Photoshop
                      CC15</a><a onclick="setskill('Dreamweaver CC15')" class="skilltext" style="display: none;">Dreamweaver CC15</a><a onclick="setskill('Flash CS4')" class="skilltext" style="display: none;">Flash CS4</a><a onclick="setskill('HTML5')" class="skilltext" style="display: none;">HTML5</a><a onclick="setskill('XHTML')" class="skilltext" style="display: none;">XHTML</a><a onclick="setskill('CSS3')" class="skilltext" style="display: none;">CSS3</a><a onclick="setskill('Ajax')" class="skilltext" style="display: none;">Ajax</a><a onclick="setskill('Responsive Design')" class="skilltext" style="display: none;">Responsive Design</a><a onclick="setskill('Digital Marketing')" class="skilltext" style="display: none;">Digital
                      Marketing</a><a onclick="setskill('SMO')" class="skilltext" style="display: none;">SMO</a><a onclick="setskill('PPC)')" class="skilltext" style="display: none;">PPC)</a><a onclick="setskill('Google Analytics')" class="skilltext" style="display: none;">Google
                      Analytics</a><a onclick="setskill('Google Webmaster')" class="skilltext" style="display: none;">Google Webmaster</a><a onclick="setskill('comScore')" class="skilltext" style="display: none;">comScore</a><a onclick="setskill('Majestic Seo')" class="skilltext" style="display: none;">Majestic Seo</a><a onclick="setskill('Moz')" class="skilltext" style="display: none;">Moz</a><a onclick="setskill('Alexa')" class="skilltext" style="display: none;">Alexa</a><a onclick="setskill('Webconfig')" class="skilltext" style="display: none;">Webconfig</a><a onclick="setskill('Schema')" class="skilltext" style="display: none;">Schema</a><a onclick="setskill('Link detox')" class="skilltext" style="display: none;">Link detox</a><a onclick="setskill('MozSEO')" class="skilltext" style="display: none;">MozSEO</a><a onclick="setskill('(SAP PO 7.4)')" class="skilltext" style="display: none;">(SAP PO 7.4)</a><a onclick="setskill('(BPM)')" class="skilltext" style="display: none;">(BPM)</a><a onclick="setskill('(BRM)')" class="skilltext" style="display: none;">(BRM)</a><a onclick="setskill('Custom Adapters')" class="skilltext" style="display: none;">Custom Adapters</a><a onclick="setskill('django')" class="skilltext" style="display: none;">django</a><a onclick="setskill('ASP.Net')" class="skilltext" style="display: none;">ASP.Net</a><a onclick="setskill('VB.Net')" class="skilltext" style="display: none;">VB.Net</a><a onclick="setskill('cPanel')" class="skilltext" style="display: none;">cPanel</a><a onclick="setskill('Zend')" class="skilltext" style="display: none;">Zend</a><a onclick="setskill('Zend2')" class="skilltext" style="display: none;">Zend2</a><a onclick="setskill('PHP framework')" class="skilltext" style="display: none;">PHP framework</a><a onclick="setskill('Intel XDK')" class="skilltext" style="display: none;">Intel XDK</a><a onclick="setskill('PhoneGap')" class="skilltext" style="display: none;">PhoneGap</a><a onclick="setskill('Corodova')" class="skilltext" style="display: none;">Corodova</a><a onclick="setskill('Angular JS')" class="skilltext" style="display: none;">Angular JS</a><a onclick="setskill('Bootstrap 3')" class="skilltext" style="display: none;">Bootstrap 3</a><a onclick="setskill('Selenium')" class="skilltext" style="display: none;">Selenium</a><a onclick="setskill('QTP')" class="skilltext" style="display: none;">QTP</a><a onclick="setskill('TestStudio')" class="skilltext" style="display: none;">TestStudio</a><a onclick="setskill('Protractor')" class="skilltext" style="display: none;">Protractor</a><a onclick="setskill('JIRA')" class="skilltext" style="display: none;">JIRA</a><a onclick="setskill('Maven')" class="skilltext" style="display: none;">Maven</a><a onclick="setskill('Jenkins')" class="skilltext" style="display: none;">Jenkins</a><a onclick="setskill('VB Script')" class="skilltext" style="display: none;">VB Script</a><a onclick="setskill('Automation Testing')" class="skilltext" style="display: none;">Automation Testing</a><a onclick="setskill('ASP.NET MVC')" class="skilltext" style="display: none;">ASP.NET MVC</a><a onclick="setskill('Objective-C or Swift')" class="skilltext" style="display: none;">Objective-C
                      or Swift</a><a onclick="setskill('Cocoa Touch')" class="skilltext" style="display: none;">Cocoa
                      Touch</a><a onclick="setskill('NS Operations')" class="skilltext" style="display: none;">NS
                      Operations</a><a onclick="setskill('GCD')" class="skilltext" style="display: none;">GCD</a><a onclick="setskill('Git or SVN')" class="skilltext" style="display: none;">Git or SVN</a><a onclick="setskill('Silverlight')" class="skilltext" style="display: none;">Silverlight</a><a onclick="setskill('Dotnet nuke')" class="skilltext" style="display: none;">Dotnet nuke</a><a onclick="setskill('WCF')" class="skilltext" style="display: none;">WCF</a><a onclick="setskill('Visual Studio')" class="skilltext" style="display: none;">Visual
                      Studio</a><a onclick="setskill('Visual Designer')" class="skilltext" style="display: none;">Visual
                      Designer</a><a onclick="setskill('UX')" class="skilltext" style="display: none;">UX</a><a onclick="setskill('Visual Studio')" class="skilltext" style="display: none;">Visual
                      Studio</a><a onclick="setskill('Visual Designer')" class="skilltext" style="display: none;">Visual
                      Designer</a><a onclick="setskill('SEO')" class="skilltext" style="display: none;">SEO</a><a onclick="setskill('salesforce')" class="skilltext" style="display: none;">salesforce</a><a onclick="setskill('apex')" class="skilltext" style="display: none;">apex</a><a onclick="setskill('triggers')" class="skilltext" style="display: none;">triggers</a><a onclick="setskill('visualforce')" class="skilltext" style="display: none;">visualforce</a><a onclick="setskill('Web API')" class="skilltext" style="display: none;">Web API</a><a onclick="setskill('TDD')" class="skilltext" style="display: none;">TDD</a><a onclick="setskill('NoteJS')" class="skilltext" style="display: none;">NoteJS</a><a onclick="setskill('Junit')" class="skilltext" style="display: none;">Junit</a><a onclick="setskill('Sharepoint')" class="skilltext" style="display: none;">Sharepoint</a><a onclick="setskill('NET')" class="skilltext" style="display: none;">NET</a><a onclick="setskill('MVC  and AZURE')" class="skilltext" style="display: none;">MVC and
                      AZURE</a><a onclick="setskill('Azure modern apps')" class="skilltext" style="display: none;">Azure modern apps</a><a onclick="setskill('Azure Storage')" class="skilltext" style="display: none;">Azure Storage</a><a onclick="setskill('ACS')" class="skilltext" style="display: none;">ACS</a><a onclick="setskill('Active Directory would be added advantage')" class="skilltext" style="display: none;">Active Directory would be added advantage</a><a onclick="setskill('NET Technologies C#')" class="skilltext" style="display: none;">NET
                      Technologies C#</a><a onclick="setskill('ASP.NET')" class="skilltext" style="display: none;">ASP.NET</a><a onclick="setskill('VB.NET')" class="skilltext" style="display: none;">VB.NET</a><a onclick="setskill('LINQ')" class="skilltext" style="display: none;">LINQ</a><a onclick="setskill('Entity Framework 4.0')" class="skilltext" style="display: none;">Entity Framework 4.0</a><a onclick="setskill('Multithreading')" class="skilltext" style="display: none;">Multithreading</a><a onclick="setskill('Web Services')" class="skilltext" style="display: none;">Web Services</a><a onclick="setskill('ASP.NET MVC')" class="skilltext" style="display: none;">ASP.NET MVC</a><a onclick="setskill('WCF')" class="skilltext" style="display: none;">WCF</a><a onclick="setskill('AJAX')" class="skilltext" style="display: none;">AJAX</a><a onclick="setskill('C#')" class="skilltext" style="display: none;">C#</a><a onclick="setskill('.NET')" class="skilltext" style="display: none;">.NET</a><a onclick="setskill('JSP')" class="skilltext" style="display: none;">JSP</a><a onclick="setskill('10g')" class="skilltext" style="display: none;">10g</a><a onclick="setskill('DB2')" class="skilltext" style="display: none;">DB2</a><a onclick="setskill('PostGres')" class="skilltext" style="display: none;">PostGres</a><a onclick="setskill('Networking')" class="skilltext" style="display: none;">Networking</a><a onclick="setskill('Hardware.')" class="skilltext" style="display: none;">Hardware.</a><a onclick="setskill('Ruby on Rails')" class="skilltext" style="display: none;">Ruby on
                      Rails</a><a onclick="setskill('scarping')" class="skilltext" style="display: none;">scarping</a><a onclick="setskill('Database')" class="skilltext" style="display: none;">Database</a><a onclick="setskill('scarping')" class="skilltext" style="display: none;">scarping</a><a onclick="setskill('Database')" class="skilltext" style="display: none;">Database</a><a onclick="setskill('SOA')" class="skilltext" style="display: none;">SOA</a><a onclick="setskill('OSB')" class="skilltext" style="display: none;">OSB</a><a onclick="setskill('BPM')" class="skilltext" style="display: none;">BPM</a><a onclick="setskill('BPEL')" class="skilltext" style="display: none;">BPEL</a><a onclick="setskill('ESB')" class="skilltext" style="display: none;">ESB</a><a onclick="setskill('ETL')" class="skilltext" style="display: none;">ETL</a><a onclick="setskill('Cordys')" class="skilltext" style="display: none;">Cordys</a><a onclick="setskill('WebSphere')" class="skilltext" style="display: none;">WebSphere</a><a onclick="setskill('PHP')" class="skilltext" style="display: none;">PHP</a><a onclick="setskill('MySQL')" class="skilltext" style="display: none;">MySQL</a><a onclick="setskill('SQL')" class="skilltext" style="display: none;">SQL</a><a onclick="setskill('Linux')" class="skilltext" style="display: none;">Linux</a><a onclick="setskill('Apache')" class="skilltext" style="display: none;">Apache</a><a onclick="setskill('XML')" class="skilltext" style="display: none;">XML</a><a onclick="setskill('HTML')" class="skilltext" style="display: none;">HTML</a><a onclick="setskill('Service Delivery')" class="skilltext" style="display: none;">Service Delivery</a><a onclick="setskill('WebRTC')" class="skilltext" style="display: none;">WebRTC</a><a onclick="setskill('Websocket')" class="skilltext" style="display: none;">Websocket</a><a onclick="setskill('React JS')" class="skilltext" style="display: none;">React JS</a><a onclick="setskill('RAC')" class="skilltext" style="display: none;">RAC</a><a onclick="setskill('datagaurd')" class="skilltext" style="display: none;">datagaurd</a><a onclick="setskill('RMAN backup')" class="skilltext" style="display: none;">RMAN backup</a><a onclick="setskill('bringup')" class="skilltext" style="display: none;">bringup</a><a onclick="setskill('Core Java')" class="skilltext" style="display: none;">Core Java</a><a onclick="setskill('J2EE')" class="skilltext" style="display: none;">J2EE</a><a onclick="setskill('Spring Boot')" class="skilltext" style="display: none;">Spring Boot</a><a onclick="setskill('JMS')" class="skilltext" style="display: none;">JMS</a><a onclick="setskill('Kafka/RabbitMQ')" class="skilltext" style="display: none;">Kafka/RabbitMQ</a><a onclick="setskill('Document writer - User manuals')" class="skilltext" style="display: none;">Document writer - User manuals</a><a onclick="setskill('SRS')" class="skilltext" style="display: none;">SRS</a><a onclick="setskill('Training Manuals')" class="skilltext" style="display: none;">Training
                      Manuals</a><a onclick="setskill('Technical documents')" class="skilltext" style="display: none;">Technical documents</a><a onclick="setskill('Operating manuals')" class="skilltext" style="display: none;">Operating manuals</a><a onclick="setskill('Spring')" class="skilltext" style="display: none;">Spring</a><a onclick="setskill('Keyword Research')" class="skilltext" style="display: none;">Keyword Research</a><a onclick="setskill('Content Marketing')" class="skilltext" style="display: none;">Content
                      Marketing</a><a onclick="setskill('UI')" class="skilltext" style="display: none;">UI</a><a onclick="setskill('HTML5')" class="skilltext" style="display: none;">HTML5</a><a onclick="setskill('HTML5')" class="skilltext" style="display: none;">HTML5</a><a onclick="setskill('HTML5')" class="skilltext" style="display: none;">HTML5</a><a onclick="setskill('SQL')" class="skilltext" style="display: none;">SQL</a><a onclick="setskill('Data Structures')" class="skilltext" style="display: none;">Data
                      Structures</a><a onclick="setskill('Alogrithms')" class="skilltext" style="display: none;">Alogrithms</a><a onclick="setskill('Java8')" class="skilltext" style="display: none;">Java8</a><a onclick="setskill('Angular 2')" class="skilltext" style="display: none;">Angular 2</a><a onclick="setskill('Boot Strap')" class="skilltext" style="display: none;">Boot Strap</a><a onclick="setskill('HTML')" class="skilltext" style="display: none;">HTML</a><a onclick="setskill('Hybris')" class="skilltext" style="display: none;">Hybris</a><a onclick="setskill('Node.html')" class="skilltext" style="display: none;">Node.JS</a><a onclick="setskill('Build &amp; Release')" class="skilltext" style="display: none;">Build &amp; Release</a><a onclick="setskill('Hibernate')" class="skilltext" style="display: none;">Hibernate</a><a onclick="setskill('Spring MVC')" class="skilltext" style="display: none;">Spring MVC</a><a onclick="setskill('Photoshop')" class="skilltext" style="display: none;">Photoshop</a><a onclick="setskill('After effects')" class="skilltext" style="display: none;">After
                      effects</a><a onclick="setskill('illustrator')" class="skilltext" style="display: none;">illustrator</a><a onclick="setskill('sketch artist')" class="skilltext" style="display: none;">sketch artist</a><a onclick="setskill('flash or other 2D animation applications')" class="skilltext" style="display: none;">flash or other 2D animation applications</a><a onclick="setskill('After effects')" class="skilltext" style="display: none;">After
                      effects</a><a onclick="setskill('illustrator')" class="skilltext" style="display: none;">illustrator</a><a onclick="setskill('sketch artist')" class="skilltext" style="display: none;">sketch artist</a><a onclick="setskill('flash or other 2D animation applications')" class="skilltext" style="display: none;">flash or other 2D animation applications</a><a onclick="setskill('servlets')" class="skilltext" style="display: none;">servlets</a><a onclick="setskill('Codeignitor')" class="skilltext" style="display: none;">Codeignitor</a><a onclick="setskill('Joomla')" class="skilltext" style="display: none;">Joomla</a><a onclick="setskill('Knockout.html')" class="skilltext" style="display: none;">Knockout.JS</a><a onclick="setskill('Apache Cordova')" class="skilltext" style="display: none;">Apache
                      Cordova</a><a onclick="setskill('SAP security &amp; GRC Consultant')" class="skilltext" style="display: none;">SAP security &amp; GRC Consultant</a><a onclick="setskill('Teamcenter')" class="skilltext" style="display: none;">Teamcenter</a><a onclick="setskill('BI tools')" class="skilltext" style="display: none;">BI tools</a><a onclick="setskill('SQL Server Integration Services')" class="skilltext" style="display: none;">SQL Server Integration Services</a><a onclick="setskill('SQL Server Reporting Services.')" class="skilltext" style="display: none;">SQL Server Reporting Services.</a><a onclick="setskill('laravel')" class="skilltext" style="display: none;">laravel</a><a onclick="setskill('Cake PHP')" class="skilltext" style="display: none;">Cake PHP</a><a onclick="setskill('Ionic')" class="skilltext" style="display: none;">Ionic</a><a onclick="setskill('Vue.html')" class="skilltext" style="display: none;">Vue.JS</a><a onclick="setskill('MongoDB')" class="skilltext" style="display: none;">MongoDB</a><a onclick="setskill('ColdFusion')" class="skilltext" style="display: none;">ColdFusion</a><a onclick="setskill('Pytorch')" class="skilltext" style="display: none;">Pytorch</a><a onclick="setskill('Tensorflow')" class="skilltext" style="display: none;">Tensorflow</a><a onclick="setskill('Google Cloud')" class="skilltext" style="display: none;">Google Cloud</a><a onclick="setskill('data modeling')" class="skilltext" style="display: none;">data
                      modeling</a><a onclick="setskill('data warehousing')" class="skilltext" style="display: none;">data
                      warehousing</a><a onclick="setskill('Power BI')" class="skilltext" style="display: none;">Power
                      BI</a><a onclick="setskill('Data Analysis')" class="skilltext" style="display: none;">Data
                      Analysis</a><a onclick="setskill('SAS')" class="skilltext" style="display: none;">SAS</a><a onclick="setskill('Jasper Ireport')" class="skilltext" style="display: none;">Jasper
                      Ireport</a><a onclick="setskill('SVN')" class="skilltext" style="display: none;">SVN</a><a onclick="setskill('TOAD')" class="skilltext" style="display: none;">TOAD</a><a onclick="setskill('MySQL Workbench')" class="skilltext" style="display: none;">MySQL
                      Workbench</a><a onclick="setskill('Erwin')" class="skilltext" style="display: none;">Erwin</a><a onclick="setskill('Data Extraction')" class="skilltext" style="display: none;">Data
                      Extraction</a><a onclick="setskill('Software Development Life Cycle(SDLC)')" class="skilltext" style="display: none;">Software Development Life Cycle(SDLC)</a><a onclick="setskill('JSP')" class="skilltext" style="display: none;">JSP</a><a onclick="setskill('HTML')" class="skilltext" style="display: none;">HTML</a><a onclick="setskill('Oracle Weblogic')" class="skilltext" style="display: none;">Oracle Weblogic</a><a onclick="setskill('Servlets')" class="skilltext" style="display: none;">Servlets</a><a onclick="setskill('Jboss')" class="skilltext" style="display: none;">Jboss</a><a onclick="setskill('Apache Tomcat Server')" class="skilltext" style="display: none;">Apache
                      Tomcat Server</a><a onclick="setskill('MS SQL Server')" class="skilltext" style="display: none;">MS SQL Server</a><a onclick="setskill('Windows Server')" class="skilltext" style="display: none;">Windows
                      Server</a><a onclick="setskill('Solaris')" class="skilltext" style="display: none;">Solaris</a><a onclick="setskill('C')" class="skilltext" style="display: none;">C</a><a onclick="setskill('Linux')" class="skilltext" style="display: none;">Linux</a><a onclick="setskill('Device Drivers')" class="skilltext" style="display: none;">Device Drivers</a><a onclick="setskill('RTOS')" class="skilltext" style="display: none;">RTOS</a><a onclick="setskill('Networking-L2')" class="skilltext" style="display: none;">Networking-L2</a><a onclick="setskill('C++')" class="skilltext" style="display: none;">C++</a><a onclick="setskill('Boot loaders')" class="skilltext" style="display: none;">Boot loaders</a><a onclick="setskill('Microsoft Azure')" class="skilltext" style="display: none;">Microsoft Azure</a><a onclick="setskill('IOT')" class="skilltext" style="display: none;">IOT</a><a onclick="setskill('Cisco Kinetic')" class="skilltext" style="display: none;">Cisco Kinetic</a><a onclick="setskill('IBM Rational Clear Case')" class="skilltext" style="display: none;">IBM
                      Rational Clear Case</a><a onclick="setskill('Tortoise')" class="skilltext" style="display: none;">Tortoise</a><a onclick="setskill('SVN')" class="skilltext" style="display: none;">SVN</a><a onclick="setskill('GIT')" class="skilltext" style="display: none;">GIT</a><a onclick="setskill('Jenkins')" class="skilltext" style="display: none;">Jenkins</a><a onclick="setskill('JIRA')" class="skilltext" style="display: none;">JIRA</a><a onclick="setskill('IBM Rational Clear Quest')" class="skilltext" style="display: none;">IBM Rational Clear Quest</a><a onclick="setskill('Bugzilla')" class="skilltext" style="display: none;">Bugzilla</a><a onclick="setskill('Mantis')" class="skilltext" style="display: none;">Mantis</a><a onclick="setskill('Request Tracker')" class="skilltext" style="display: none;">Request
                      Tracker</a><a onclick="setskill('FIDO')" class="skilltext" style="display: none;">FIDO</a><a onclick="setskill('Software Development Life Cycle (SDLC)')" class="skilltext" style="display: none;">Software Development Life Cycle (SDLC)</a><a onclick="setskill('J2EE')" class="skilltext" style="display: none;">J2EE</a><a onclick="setskill('Spring Boot')" class="skilltext" style="display: none;">Spring Boot</a><a onclick="setskill('Angular JS')" class="skilltext" style="display: none;">Angular JS</a><a onclick="setskill('JSP')" class="skilltext" style="display: none;">JSP</a><a onclick="setskill('Servlets')" class="skilltext" style="display: none;">Servlets</a><a onclick="setskill('HTML')" class="skilltext" style="display: none;">HTML</a><a onclick="setskill('Eclipse')" class="skilltext" style="display: none;">Eclipse</a><a onclick="setskill('Jboss')" class="skilltext" style="display: none;">Jboss</a><a onclick="setskill('Ibatis')" class="skilltext" style="display: none;">Ibatis</a><a onclick="setskill('MVC')" class="skilltext" style="display: none;">MVC</a><a onclick="setskill('Apache Tomcat Server')" class="skilltext" style="display: none;">Apache Tomcat Server</a><a onclick="setskill('Windows Server')" class="skilltext" style="display: none;">Windows
                      Server</a><a onclick="setskill('Kudu')" class="skilltext" style="display: none;">Kudu</a><a onclick="setskill('Hadoop Admin')" class="skilltext" style="display: none;">Hadoop Admin</a><a onclick="setskill('SSIS')" class="skilltext" style="display: none;">SSIS</a><a onclick="setskill('C')" class="skilltext" style="display: none;">C</a><a onclick="setskill('C++')" class="skilltext" style="display: none;">C++</a><a onclick="setskill('Linux')" class="skilltext" style="display: none;">Linux</a><a onclick="setskill('Perl')" class="skilltext" style="display: none;">Perl</a><a onclick="setskill('HTML')" class="skilltext" style="display: none;">HTML</a><a onclick="setskill('Windows Server')" class="skilltext" style="display: none;">Windows
                      Server</a><a onclick="setskill('MATLAB')" class="skilltext" style="display: none;">MATLAB</a><a onclick="setskill('Netbeans')" class="skilltext" style="display: none;">Netbeans</a><a onclick="setskill('Turbo C')" class="skilltext" style="display: none;">Turbo C</a><a onclick="setskill('J2EE')" class="skilltext" style="display: none;">J2EE</a><a onclick="setskill('JIRA')" class="skilltext" style="display: none;">JIRA</a><a onclick="setskill('Spring Boot')" class="skilltext" style="display: none;">Spring Boot</a><a onclick="setskill('Struts')" class="skilltext" style="display: none;">Struts</a><a onclick="setskill('Apache Tomcat Server')" class="skilltext" style="display: none;">Apache
                      Tomcat Server</a><a onclick="setskill('Jboss')" class="skilltext" style="display: none;">Jboss</a><a onclick="setskill('Eclipse')" class="skilltext" style="display: none;">Eclipse</a><a onclick="setskill('Servlets')" class="skilltext" style="display: none;">Servlets</a><a onclick="setskill('JSP')" class="skilltext" style="display: none;">JSP</a><a onclick="setskill('SQL')" class="skilltext" style="display: none;">SQL</a><a onclick="setskill('Windows Server')" class="skilltext" style="display: none;">Windows Server</a><a onclick="setskill('Hadoop Admin')" class="skilltext" style="display: none;">Hadoop Admin</a><a onclick="setskill('Horton Works')" class="skilltext" style="display: none;">Horton Works</a><a onclick="setskill('Cloudera')" class="skilltext" style="display: none;">Cloudera</a><a onclick="setskill('Mapr')" class="skilltext" style="display: none;">Mapr</a><a onclick="setskill('C')" class="skilltext" style="display: none;">C</a><a onclick="setskill('Windows Server')" class="skilltext" style="display: none;">Windows Server</a><a onclick="setskill('Unix')" class="skilltext" style="display: none;">Unix</a><a onclick="setskill('PostGre SQL')" class="skilltext" style="display: none;">PostGre SQL</a><a onclick="setskill('Cisco Networking')" class="skilltext" style="display: none;">Cisco Networking</a><a onclick="setskill('AWS')" class="skilltext" style="display: none;">AWS</a><a onclick="setskill('Cloud Puppet')" class="skilltext" style="display: none;">Cloud Puppet</a><a onclick="setskill('Chef')" class="skilltext" style="display: none;">Chef</a><a onclick="setskill('HTML')" class="skilltext" style="display: none;">HTML</a><a onclick="setskill('BootStrap')" class="skilltext" style="display: none;">BootStrap</a><a onclick="setskill('EXT JS')" class="skilltext" style="display: none;">EXT JS</a><a onclick="setskill('Data Modeling')" class="skilltext" style="display: none;">Data Modeling</a><a onclick="setskill('Teradata')" class="skilltext" style="display: none;">Teradata</a><a onclick="setskill('Informatica')" class="skilltext" style="display: none;">Informatica</a><a onclick="setskill('Power Center')" class="skilltext" style="display: none;">Power Center</a><a onclick="setskill('Erwin')" class="skilltext" style="display: none;">Erwin</a><a onclick="setskill('Control M')" class="skilltext" style="display: none;">Control M</a><a onclick="setskill('Data Warehousing')" class="skilltext" style="display: none;">Data
                      Warehousing</a><a onclick="setskill('C')" class="skilltext" style="display: none;">C</a><a onclick="setskill('Unix Shell Scripting')" class="skilltext" style="display: none;">Unix Shell
                      Scripting</a><a onclick="setskill('Solaris')" class="skilltext" style="display: none;">Solaris</a><a onclick="setskill('HP UX')" class="skilltext" style="display: none;">HP UX</a><a onclick="setskill('AIX Unix')" class="skilltext" style="display: none;">AIX Unix</a><a onclick="setskill('DB2')" class="skilltext" style="display: none;">DB2</a><a onclick="setskill('QTP Automation')" class="skilltext" style="display: none;">QTP Automation</a><a onclick="setskill('IBM Data Stage')" class="skilltext" style="display: none;">IBM Data
                      Stage</a><a onclick="setskill('Teradata')" class="skilltext" style="display: none;">Teradata</a><a onclick="setskill('Informatica')" class="skilltext" style="display: none;">Informatica</a><a onclick="setskill('Scrum-Scaled Agile Framework')" class="skilltext" style="display: none;">Scrum-Scaled Agile Framework</a><a onclick="setskill('Test Plan')" class="skilltext" style="display: none;">Test Plan</a><a onclick="setskill('Functional Testing')" class="skilltext" style="display: none;">Functional
                      Testing</a><a onclick="setskill('Regression Testing')" class="skilltext" style="display: none;">Regression Testing</a><a onclick="setskill('Integration Testing')" class="skilltext" style="display: none;">Integration Testing</a><a onclick="setskill('Data Warehousing')" class="skilltext" style="display: none;">Data
                      Warehousing</a><a onclick="setskill('ETL Testing')" class="skilltext" style="display: none;">ETL
                      Testing</a><a onclick="setskill('SAAS')" class="skilltext" style="display: none;">SAAS</a><a onclick="setskill('Vendor Management')" class="skilltext" style="display: none;">Vendor
                      Management</a><a onclick="setskill('DB2')" class="skilltext" style="display: none;">DB2</a><a onclick="setskill('Automated Cross Browser Testing')" class="skilltext" style="display: none;">Automated Cross Browser Testing</a><a onclick="setskill('Functional Testing')" class="skilltext" style="display: none;">Functional
                      Testing</a><a onclick="setskill('Smoke Testing')" class="skilltext" style="display: none;">Smoke
                      Testing</a><a onclick="setskill('Sanity Testing')" class="skilltext" style="display: none;">Sanity Testing</a><a onclick="setskill('Regression Testing')" class="skilltext" style="display: none;">Regression Testing</a><a onclick="setskill('Database Testing')" class="skilltext" style="display: none;">Database
                      Testing</a><a onclick="setskill('Test Plan')" class="skilltext" style="display: none;">Test
                      Plan</a><a onclick="setskill('J2EE')" class="skilltext" style="display: none;">J2EE</a><a onclick="setskill('QTP Automation')" class="skilltext" style="display: none;">QTP
                      Automation</a><a onclick="setskill('Spring Boot')" class="skilltext" style="display: none;">Spring Boot</a><a onclick="setskill('Angular JS')" class="skilltext" style="display: none;">Angular JS</a><a onclick="setskill('PostGre SQL')" class="skilltext" style="display: none;">PostGre SQL</a><a onclick="setskill('MEM SQL')" class="skilltext" style="display: none;">MEM SQL</a><a onclick="setskill('Greenplum')" class="skilltext" style="display: none;">Greenplum</a><a onclick="setskill('Vertica')" class="skilltext" style="display: none;">Vertica</a><a onclick="setskill('Sybase')" class="skilltext" style="display: none;">Sybase</a><a onclick="setskill('Ingres')" class="skilltext" style="display: none;">Ingres</a><a onclick="setskill('Vectorwise')" class="skilltext" style="display: none;">Vectorwise</a><a onclick="setskill('Linux')" class="skilltext" style="display: none;">Linux</a><a onclick="setskill('DB2')" class="skilltext" style="display: none;">DB2</a><a onclick="setskill('ITIL')" class="skilltext" style="display: none;">ITIL</a><a onclick="setskill('Informix')" class="skilltext" style="display: none;">Informix</a><a onclick="setskill('Tivoli')" class="skilltext" style="display: none;">Tivoli</a><a onclick="setskill('Kotlin')" class="skilltext" style="display: none;">Kotlin</a><a onclick="setskill('SSRS')" class="skilltext" style="display: none;">SSRS</a><a onclick="setskill('TSQL')" class="skilltext" style="display: none;">TSQL</a><a onclick="setskill('ATG')" class="skilltext" style="display: none;">ATG</a><a onclick="setskill('e-commerce')" class="skilltext" style="display: none;">e-commerce</a><a onclick="setskill('legacy platforms')" class="skilltext" style="display: none;">legacy platforms</a><a onclick="setskill('SEO')" class="skilltext" style="display: none;">SEO</a><a onclick="setskill('Ember.html')" class="skilltext" style="display: none;">Ember.js</a><a onclick="setskill('Express.html')" class="skilltext" style="display: none;">Express.js</a><a onclick="setskill('React Native')" class="skilltext" style="display: none;">React Native</a><a onclick="setskill('Azure')" class="skilltext" style="display: none;">Azure</a><a onclick="setskill('Microservices')" class="skilltext" style="display: none;">Microservices</a></div>
                </div>
                <div class="input-group">
                  <div class="form-group input-group-prepend"><input type="text" class="form-control" placeholder="Enter Location" onkeyup="get_city(this.value)" id="locations"><span id="loderstt" class="city_loader" style="display: none;"><img src="images/refresh.png" /></span>
                    <div class="dropdown-content-city locationlist"></div>
                  </div>
                  <div class="form-group jobsdiv" style="display: none;"><button type="button" class="btn btn-blackBtn btn2" onclick="searchform(1)">Search</button></div>
                  <div class="form-group benchsdiv"><button type="button" class="btn btn-blackBtn btn2" onclick="searchform(2)">Search</button></div>
                </div>
                <div class="error-text" style="display: none;"></div>
              </form>
            </div>
            <!-- <div id="hireTalentTab" class="tab-pane fade"><form><div class="form-check"><input type="radio" class="form-check-input" id="Contract" name="talent" value="1"><label class="form-check-label pointer" for="Contract">Hire on-Contract (Bench Resources)</label><input type="radio" class="form-check-input" id="Freelance" name="talent" value="2"><label class="form-check-label pointer" for="Freelance">Freelance</label></div><div class="form-group"><input type="text" class="form-control" placeholder="Search by skill, profession"></div><div class="input-group"><div class="form-group input-group-prepend"><input type="text" class="form-control" placeholder="Enter Location"></div><div class="form-group"><button class="btn btn-blackBtn btn2" onclick="searchform(2)">Search</button></div></div></form></div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="whiteBox shadow-b padding-0">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="trustedBusinessesBox owlSlider">
          <div class="owl-carousel owl-theme" id="trustedBusinesses">
            <div class="item">
              <figure><img class="img-responsive" src="images/19c1fdkmvoj8me.jpg" alt="Devii"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/19c1fdkmvoj8me.png" alt="eMudhra Limited">
              </figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/19c1fdkmvoj8me.png" alt="MBO partners">
              </figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/19c1fdkmvoj8me.jpg" alt="Maveric Systems Limited"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/19c1fdkmvoj8me.png" alt="Bitwise Inc">
              </figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/19c1fdkmvoj8me.png" alt="Uplers"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/19c1fdkmvoj8me.jpg" alt="Htc Global">
              </figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/19c1fdkmvoj8me.jpg" alt="Tata technologies">
              </figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/19c1fdkmvoj8me.jpg" alt="Voonik"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/19c1fdkmvoj8me.jpg" alt="Clean Harbors"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/19c1fdkmvoj8me.jpg" alt="Infobeans Logo">
              </figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/19c1fdkmvoj8me.jpg" alt="Urban Ladder Logo">
              </figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/19c1fdkmvoj8me.jpg" alt="Wheebox logo"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/19c1fdkmvoj8me.png" alt="Birlasoft Logo"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/19c1fdkmvoj8me.png" alt="Technicolor Logo">
              </figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/19c1fdkmvoj8me.jpg" alt="FarEye Logo"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/19c1fdkmvoj8me.jpg" alt="LensKart Logo"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/19c1fdkmvoj8me.png" alt="Tata Steel Logo">
              </figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/19c1fdkmvoj8me.jpg" alt="CarDekho Logo"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/19c1fdkmvoj8me.jpg" alt="ThoughtWorks"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/19c1fdkmvoj8me.jpg" alt="Epam"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/19c1fdkmvoj8me.jpg" alt="AccionLabs"></figure>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-xs-12 col-sm-2 text-center logo-c"><div style="width: 165px;height:62px;"><a href="https://www.onbenchmark.com/client/advertisement?redirect=https%3A%2F%2Fhubs.la%2FQ01r6wCM0" target="_blank"><img class="img-responsive" src="/ssrsystem/images/client-devii.gif" alt="Devii-OnBenchMark-Banner"></a></div></div>-->
    </div>
    <!-- <h3>Trusted Businesses</h3><span>Our strong community of businesses works in collaboration and they  are our biggest asset.</span>-->
  </div>
</section>
<section class="blackBox">
  <div class="container">
    <div class="counterBox">
      <div class="box">
        <div>5819</div>
        <div class="cnt-text">Contract / Freelance Jobs</div>
      </div>
      <div class="box">
        <div>7007</div>
        <div class="cnt-text">Bench Resources</div>
      </div>
      <div class="box">
        <div>65182</div>
        <div class="cnt-text">Freelancers</div>
      </div>
      <div class="box">
        <div>4917</div>
        <div class="cnt-text">Business / Company</div>
      </div>
    </div>
  </div>
</section>
<section class="grayBox">
  <div class="container">
    <div class="servicesBox">
      <div class="appstore">
        <div class="detailsBox">
          <h3 class="detail-box">Find Clients or Hire Candidates on Contract on the Move</h3>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="servicesBox">
      <div class="box">
        <figure><img class="img-responsive" src="images/business-icon.svg" alt=""></figure>
        <div class="detailsBox">
          <h2>Business</h2>
          <ul>
            <li>Hire Immediate joiner on-contract /part-time</li>
            <li>Deploy or bill your bench resources</li>
            <li>Connect directly with clients</li>
          </ul>
        </div>
        <div class="btnBox"><a class="btn btn-lineBtn btn2" href="/hire-bench">Hire on-contract</a>
          <a class="btn btn-blueBtn btn2" href="/freelancer-register">Deploy Bench</a>
        </div>
      </div>
      <div class="box">
        <figure><img class="img-responsive" src="images/freelancer-icon.svg" alt=""></figure>
        <div class="detailsBox">
          <h2>Freelancer</h2>
          <ul>
            <li>Get project work at zero commission</li>
            <li>Connect directly with clients</li>
            <li>Create virtual team & grow</li>
          </ul>
        </div>
        <div class="btnBox"><a class="btn btn-lineBtn btn2" href="/freelancer-register">Upload Resume</a>
          <a class="btn btn-blueBtn btn2" href="/contract-jobs">Find Jobs</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="grayBox">
  <div class="container">
    <h3>Find & Hire Contract/Part-Time Talent</h3><span>Hire bench employees on contract from the network community
      of
      over 3500 IT Companies</span>
    <div class="findHireBox">
      <figure><img class="img-responsive" src="images/find-hire-bg.svg" alt=""><a class="play-btn" href="javascript:void(0)" onclick="playvideo(1)"></a></figure>
      <div class="details">
        <ul>
          <li><a class="a-c-w" href="/hire-bench">
              <h4>Join Community of IT Companies</h4>
              <p>Join networked community of companies to deploy & bill your bench on contract or get projects.</p>
            </a></li>
          <li><a class="a-c-b" href="/hire-bench">
              <h4>Top talent on demand</h4>
              <p>Hire the top rated Contract /part-time talent in a day</p>
            </a></li>
          <li><a class="a-c-b" href="/hire-bench">
              <h4>Hire on Contract /Part-Time</h4>
              <p>Get immediate joiner on contract/ part-time from the biggest pool of bench.</p>
            </a></li>
          <li><a class="a-c-w" href="/hire-bench">
              <h4>Find talent your way</h4>
              <p>Connect directly with bench employers or freelancers at zero commission.</p>
            </a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center pt-2"><a class="btn btn-blackBtn btn2" href="/hire-bench">Find
          Talent</a></div>
    </div>
  </div>
</section>
<div id="businessModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><button type="button" class="close" data-dismiss="modal" onclick="stopplay(1)">&times;</button>
        <h4 class="modal-title">Deploy Bench Resources or Hire Contractors & Freelancers</h4>
      </div>
      <div class="modal-body">
        <div id="vshow1"></div>
      </div>
    </div>
  </div>
</div>
<section class="grayBox">
  <div class="container">
    <h3>Find Clients & Deploy Bench Employees or Get IT Projects</h3><span>Join the Biggest Talent Marketplace.
      Connect with Global Clients to Sell Bench or Get Projects. Expand your Business & Reduce Sales Cost</span>
    <div class="findHireBox">
      <figure><img class="img-responsive" src="/images/client-connection.jpg" alt=""><a class="play-btn" href="javascript:void(0)" onclick="playvideo(1)"></a></figure>
      <div class="details">
        <ul>
          <li><a class="a-c-w" href="/hire-bench">
              <h4>Sell Bench or Get Projects</h4>
              <p>Connect directly with global clients to deploy & bill your bench on contract or get projects.</p>
            </a></li>
          <li><a class="a-c-b" href="/hire-bench">
              <h4>Reduce Sales Cost</h4>
              <p>Expand your business & reduce your sales cost. Make relevant clients to sell your bench employees
                or
                get project</p>
            </a></li>
          <li><a class="a-c-b" href="/hire-bench">
              <h4>Reduce Bench Resource Loss</h4>
              <p>Reduce bench resource loss and get your bench employees & sell you bench to global clients.</p>
            </a></li>
          <li><a class="a-c-w" href="/hire-bench">
              <h4>Join Community of IT Companies</h4>
              <p>Join Networked community of IT Companies to work in collaboration & create Business Opportunities.
              </p>
            </a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center pt-2"><a class="btn btn-blackBtn btn2" href="/contract-jobs">Find Clients</a></div>
    </div>
  </div>
</section>
<div id="businessModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><button type="button" class="close" data-dismiss="modal" onclick="stopplay(1)">&times;</button>
        <h4 class="modal-title">Deploy Bench Resources or Hire Contractors & Freelancers</h4>
      </div>
      <div class="modal-body">
        <div id="vshow1"></div>
      </div>
    </div>
  </div>
</div>
<section class="whiteBox">
  <div class="container">
    <h3>Find Freelance Work at Zero Commission</h3><span>Connect directly with clients & get project work at zero
      commission from global clients. Connect with fellow freelancers & create your virtual team to bid for bigger
      projects</span>
    <div class="findFreelanceBox">
      <figure><img class="img-responsive" src="/images/find-freelance-bg.svg" alt=""><a class="play-btn" href="javascript:void(0)" onclick="playvideo(2)"></a></figure>
      <div class="details">
        <ul>
          <li><a class="a-c-w" href="/hire-bench">
              <h4>Freedom as Freelancer</h4>
              <p>Get freedom and autonomy as freelancer to work directly with clients.</p>
            </a></li>
          <li><a class="a-c-b" href="/hire-bench">
              <h4>Find Work at Zero Commission</h4>
              <p>Stop paying commission to freelancing sites for your hard work.</p>
            </a></li>
          <li><a class="a-c-b" href="/hire-bench">
              <h4>Connect with Fellow Freelancers</h4>
              <p>Create your virtual team and connect with fellow freelancers to execute bigger project</p>
            </a></li>
          <li><a class="a-c-w" href="/hire-bench">
              <h4>Connect Directly with Clients</h4>
              <p>Connect directly with global clients without any restrictions.</p>
            </a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center pt-4"><a class="btn btn-blueBtn btn2" href="/freelancer-register">Upload Resume</a></div>
    </div>
  </div>
</section>
<div id="freelancerModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><button type="button" class="close" data-dismiss="modal" onclick="stopplay(2)">&times;</button>
        <h4 class="modal-title">Get Freelance Project Work from Global clients</h4>
      </div>
      <div class="modal-body">
        <div id="vshow2"></div>
      </div>
    </div>
  </div>
</div>
<section class="grayBox">
  <div class="container">
    <h3>How it works</h3><span>Join the business community to hire&nbsp;<b>immediate</b>&nbsp;joiner on contract
      from
      real time bench resource pool. Deploy & bill your bench.</span>
    <div class="howItWorks">
      <div class="stepBox">
        <div class="details">
          <figure><img class="img-responsive" src="/images/step1.svg" alt=""></figure>
          <h4>Sign Up</h4>
          <p>Sign Up for free If you have a hiring need for Immediate Joiner or have bench employees / looking for
            clients.</p>
        </div>
      </div>
      <div class="stepBox">
        <div class="details">
          <figure><img class="img-responsive" src="images/step2.svg" alt=""></figure>
          <h4>Upload Bench /Post Job</h4>
          <p>Post a job if you need immediate joiner on contract/ part-time. Upload profile of employees to deploy
            to
            clients</p>
        </div>
      </div>
      <div class="stepBox">
        <div class="details">
          <figure><img class="img-responsive" src="/images/step3.svg" alt=""></figure>
          <h4>Connect Directly</h4>
          <p>Connect directly with clients or bench employer and hire/deploy resources.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="whiteBox">
  <div class="container">
    <h3>Contract Jobs Skills</h3><span>Quick glance on some of the top skills our partners are hiring.</span>
    <div class="topJobSkills">
      <div class="detailsBox">
        <ul>
          <li><a class="link" href="/contract-jobs" target="_blank">PHP
              Developer</a>
          </li>
          <li><a class="link" href="/contract-jobs" target="_blank">.Net Developer</a></li>
          <li><a class="link" href="/contract-jobs" target="_blank">Java
              Developer</a></li>
          <li><a class="link" href="/contract-jobs" target="_blank">Python
              Developer</a></li>
          <li><a class="link" href="/contract-jobs" target="_blank">Android
              Developer</a></li>
          <li><a class="link" href="/contract-jobs" target="_blank">DevOps
              Engineer</a></li>
          <li><a class="link" href="/contract-jobs" target="_blank">Data
              Scientist</a></li>
          <li><a class="link" href="/contract-jobs" target="_blank">Artificial Intelligence</a></li>
        </ul>
      </div>
      <figure><img class="img-responsive" src="images/contract-bg.svg" alt=""></figure>
    </div>
  </div>
</section>
<section class="grayBox">
  <div class="container">
    <h3>Freelance Job Skills</h3><span>Quick glance on some of the top skills our partners are hiring.</span>
    <div class="topJobSkills">
      <figure><img class="img-responsive" src="/images/top-job-skills-bg.svg" alt=""></figure>
      <div class="detailsBox">
        <ul>
          <li><a class="link" href="/contract-jobs">Digital Marketing</a></li>
          <li><a class="link" href="/contract-jobs">Web Designer</a></li>
          <li><a class="link" href="/contract-jobs">PHP Developer</a></li>
          <li><a class="link" href="/contract-jobs">.Net Developer</a></li>
          <li><a class="link" href="/contract-jobs">Java Developer</a></li>
          <li><a class="link" href="/contract-jobs">Python Developer</a></li>
          <li><a class="link" href="/contract-jobs">Android Developer</a></li>
          <li><a class="link" href="/contract-jobs">Sales &amp; Marketing</a></li>
          <li><a class="link" href="/contract-jobs">Writing &amp; Editing</a></li>
          <li><a class="link" href="/contract-jobs">DevOps Engineer</a></li>
          <li><a class="link" href="/contract-jobs">Data Scientist</a></li>
          <li><a class="link" href="/contract-jobs">Artificial Intelligence</a></li>
          <li><a class="link" href="/contract-jobs">Project Manager</a></li>
          <li><a class="link" href="/contract-jobs">Fashion Designer</a></li>
          <li><a class="link" href="/contract-jobs">Finance &amp; Accounts</a></li>
          <li><a class="link" href="/contract-jobs">Engineering &amp; Design</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="grayBoxGradient">
  <div class="container">
    <h3>What Our Clients Says</h3>
    <div class="clientsSaysBox owlSlider">
      <div class="owl-carousel owl-theme" id="clientsSaysBox">
        <div class="item">
          <div class="clientItem">
            <figure><img class="img-responsive" src="images/4740z1gdlakn9355.jpg" alt="Navin Patel">
            </figure>
            <div class="name">Navin Patel</div>
            <div class="position">Director - Recruitment at Affine, Bengaluru</div>
            <p>OnBenchMark is a great aggregator platform which brings consultant partners, freelancers and hiring
              companies together to support resource fulfillment in a short time.
              Affine has got some good closures recently and look forward to more in the future.</p>
          </div>
        </div>
        <div class="item">
          <div class="clientItem">
            <figure><img class="img-responsive" src="images/4740z1h1rzlah27h0c.jpg" alt="Mahesh Menon">
            </figure>
            <div class="name">Mahesh Menon</div>
            <div class="position">Managing Director, MBO Partners India</div>
            <p>We were looking for Java Architects and found 2 good resources through OnBenchMark in a weeks time
            </p>
          </div>
        </div>
        <div class="item">
          <div class="clientItem">
            <figure><img class="img-responsive" src="images/19c1fdkmvooz81.jpg" alt="Jyant Kohli">
            </figure>
            <div class="name">Jyant Kohli</div>
            <div class="position">Founder &amp; COO of Lawrbit Global Compliance</div>
            <p>OnBenchMark is a complete solution for all our temporary hiring needs. We have got an excellent
              quality
              of candidates at competitive cost with a simplified and unrestricted process of connecting with
              candidates</p>
          </div>
        </div>
        <div class="item">
          <div class="clientItem">
            <figure><img class="img-responsive" src="images/19cu6ksfsd6qf.jpg" alt="Artee Puri">
            </figure>
            <div class="name">Artee Puri</div>
            <div class="position">Director-Talent-India &amp; SEA at CarDekho.com</div>
            <p>OnBenchMark is a unique platform to hire contractors &amp; freelancers. It&#39;s having a vast pool
              of
              real time Bench resources from Networked community of companies. Highly recommend for Temp hiring</p>
          </div>
        </div>
        <div class="item">
          <div class="clientItem">
            <figure><img class="img-responsive" src="images/19c1fdkmvousoe.jpg" alt="Sanjeev Sinha">
            </figure>
            <div class="name">Sanjeev Sinha</div>
            <div class="position">CEO at Parintek Innovations</div>
            <p>OnBenchMark is at the heart of successful business needs for Global market from resourcing
              perspective.
              Their deep insights into market enable us to achieve business goals.</p>
          </div>
        </div>
        <div class="item">
          <div class="clientItem">
            <figure><img class="img-responsive" src="images/19c1fdkmvor5f9.jpg" alt="Harry"></figure>
            <div class="name">Harry</div>
            <div class="position">Freelancer -Video or VFX Producer</div>
            <p>OnBenchMark has a unique concept of creating Virtual Team. Sharing Resources and On-Demand resourcing
              from global market is helping us in big way for our Just-In-Time hiring needs.</p>
          </div>
        </div>
        <div class="item">
          <div class="clientItem">
            <figure><img class="img-responsive" src="images/19c1fdkmvoj8me.jpg" alt="Vyom Bhardwaj">
            </figure>
            <div class="name">Vyom Bhardwaj</div>
            <div class="position">Director Technology at Muoro</div>
            <p>We are using OnBenchMark platform and hired top quality talent on niche technologies. The platform is
              a
              great initiative considering our business where we help global IT Companies to build their remote tech
              teams</p>
          </div>
        </div>
        <div class="item">
          <div class="clientItem">
            <figure><img class="img-responsive" src="images/19c1fdkmvovwc6.jpg" alt="Ankit Kumar Singh">
            </figure>
            <div class="name">Ankit Kumar Singh</div>
            <div class="position">Freelancer-Graphic Designer</div>
            <p>&#34;I am happy to be associated with OnBenchMark as it provides me much needed freedom as a
              freelancer. I got some very good projects through them without worrying about paying high commission
              unlike other top freelancing website. I highly recommend OnBenchMark for its trusted services at no
              extra cost&#34;</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="whiteBox">
  <div class="container">
    <h3>Frequently asked questions</h3>
    <div class="faqBox">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne_0">
            <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_0" aria-expanded="false" aria-controls="collapseOne">How can I find projects /
                Jobs
                ?</a></h4>
          </div>
          <div id="collapseOne_0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_0">
            <div class="panel-body">
              <p>As a freelancers you just need to login and apply to the job against any jobs /project and directly
                connect with client. You can either send a message through internal chat or send an email and you
                can
                also directly call the client, if the client has given access to his/her phone number</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne_1">
            <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_1" aria-expanded="false" aria-controls="collapseOne">How will I get the payment
                from Client ?</a></h4>
          </div>
          <div id="collapseOne_1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_1">
            <div class="panel-body">
              <p>Freelancers can have an agreement with the client and can work at his /her own terms &amp;
                conditions
                as we are connecting freelancers directly with client.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne_2">
            <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_2" aria-expanded="false" aria-controls="collapseOne">Is it mandatory to work at
                an
                hourly rate?</a></h4>
          </div>
          <div id="collapseOne_2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_2">
            <div class="panel-body">
              <p>No, its not mandatory to work only at hourly rate. You can discuss with the client about fixed
                rate
                or monthly rate also.It entirely depends on your preference and agreement between freelancer &amp;
                client</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne_3">
            <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_3" aria-expanded="false" aria-controls="collapseOne">Are these projects only for
                freelancers or for bench employees also?</a></h4>
          </div>
          <div id="collapseOne_3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_3">
            <div class="panel-body">
              <p>No, its not only for freelancers. Client select an option for only freelancers but if they have
                chosen an option of Contract that mean they are also open for bench resources.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne_4">
            <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_4" aria-expanded="false" aria-controls="collapseOne">How can I find
                freelancer?</a>
            </h4>
          </div>
          <div id="collapseOne_4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_4">
            <div class="panel-body">
              <p>As a Business you just need to login and search for freelancer and directly connect with the
                freelancer.Client can view the contact details of freelancers as paid member</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne_5">
            <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_5" aria-expanded="false" aria-controls="collapseOne">How will I pay to
                freelancers?</a></h4>
          </div>
          <div id="collapseOne_5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_5">
            <div class="panel-body">
              <p>Company can have an agreement with the freelancer as per agreed terms &amp; conditions and directly
                pay in his/her account without any commission to be deducted by OnBenchMark</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="blueBox">
  <div class="container">
    <div class="contactBox">
      <div class="box">
        <figure><img class="img-responsive" src="/images/email_new.svg" alt=""></figure>
        <div class="details">Write to us at<span>info@onbenchmark.com</span></div>
      </div>
      <div class="box">
        <figure><img class="img-responsive" src="/images/contact.svg" alt=""></figure>
        <div class="details">Lets talk<span>+91 97189 28125</span></div>
      </div>
      <div class="box">
        <div class="heading">Follow Us</div>
        <ul>
          <li><a href="https://www.facebook.com/onbenchmark/" target="_blank"><img class="img-responsive" src="images/new-facebook.svg" alt="facebook icon" width="45" height="40"></a></li>
          <li><a href="https://www.linkedin.com/company/onbenchmark.com/mycompany/" target="_blank"><img class="img-responsive" src="/images/new-linkedin.svg" alt="linkedin icon" width="45" height="40"></a></li>
          <li><a href="https://twitter.com/Onbenchmark" target="_blank"><img class="img-responsive" src="images/new-twitter.svg" alt="twitter icon" width="45" height="40"></a></li>
          <li><a href="https://www.instagram.com/onbenchmark/" target="_blank"><img class="img-responsive" src="images/instagram.svg" alt="twitter icon" width="40" height="40"></a></li>
          <li><a href="https://www.youtube.com/@onbenchmark7974" target="_blank"><img class="img-responsive" src="/images/youtube.svg" alt="Youtube icon" width="40" height="40"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>