.b-p-20 {
  padding-bottom: 25px
}

.formCont {
  margin-top: 40px
}

.input-wrap {
  margin-bottom: 15px;
  position: relative;
  height: 45px;
  padding: 6px 15px;
  border-radius: 0
}

.texthide {
  display: none
}

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: 0 0 1px 0 #999;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.contact-btn .sub {
  width: 100%;
  height: 45px;
  border-radius: 0;
  color: #fff;
  font-size: 16px;
  border: none;
  font-weight: 700;
  background: #00b4db;
  background: -webkit-linear-gradient(to right, #00b4db, #0083b0);
  background: linear-gradient(to right, #3eddff, #00aade)
}

button[disabled] {
  cursor: not-allowed;
  background: #528141
}

.inner-content.contact-now {
  padding: 0 0 25px 0
}

.inner-heading {
  padding: 25px 0;
  text-align: center;
  background: #353535
}

.inner-heading h3 {
  font-size: 25px;
  color: #ebf6f0;
  text-align: center;
  text-transform: uppercase;
  margin: 0
}

.contact {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgb(27 20 65 / 10%);
  padding: 30px 30px
}

p.mail-info {
  padding-left: 30px
}

.information {
  padding: 14px 0 0 0
}