body {
  width: 100%;
  height: max-content;
  background-color: #ecefee
}

a,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
html,
span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.client-banner-section {
  background: url(../images/bigin-bgb.png);
  padding: 5px 0 0 0;
  height: max-content
}

.client-banner-section .title-client-banner {
  font-size: 5rem;
  font-weight: 800;
  padding: 0;
  color: #000;
  text-align: center
}

.client-banner-section .deploybench-title {
  font-size: 4rem;
  font-weight: 700;
  padding: 5rem 0 1px 0
}

.client-banner-section .deploybench-content {
  padding: 10px 5rem 5px 0;
  line-height: 3rem;
  font-weight: 500
}

.client-banner-section span {
  color: #00aade
}

.client-banner-section .deploybench-client-img {
  width: 100%
}

.client-banner-section .btn-blueBtn {
  display: inline-block;
  color: #fff;
  border: #00aade solid 1px;
  background: #00aade;
  padding: .5rem 5rem .5rem 5rem
}

.contacrtjobsskills {
  background: url(../images/bigin-bgc.png);
  padding: 3rem 0 0 0;
  height: max-content
}

.contacrtjobsskills .mr-5 {
  border: 1px solid #ddd;
  border: 1px solid rgba(86, 61, 124, .2);
  margin: 2px 0 0 0;
  width: 150px
}

.contacrtjobsskills .title-jobskills {
  text-align: center
}

.contacrtjobsskills .skills-title {
  text-align: center;
  font-size: 4rem;
  font-weight: 700
}

.contacrtjobsskills .jobs-para {
  text-align: center
}

.contacrtjobsskills .jobsskills-link {
  padding: 0;
  margin: 13rem 0 5px 0;
  text-align: center
}

.contacrtjobsskills .img-port-skills {
  width: 100%
}

.find-hire {
  padding: 4rem 10px 6rem 10px;
  text-align: left
}

.find-hire .title-find-hire {
  text-align: center
}

.find-hire .step-box-works {
  text-align: center;
  background: #fff;
  padding: 10px 10px 10px 10px;
  margin: 20px 0 10px 0;
  border: solid;
  border-color: #00aade;
  border-radius: 25px
}

.find-hires .title-remoteworks {
  padding: 10px 10px 10px 10px;
  font-weight: 600
}

.find-hire .subtitle-remoteworks {
  font-size: 16px
}

.howitworks {
  background-color: #fff;
  padding: 3rem 10px 6rem 10px
}

.howitworks .title-works {
  text-align: center;
  font-weight: 500
}

.howitworks span {
  text-align: 18px;
  font-weight: 400
}

.howitworks .img-port-howitworks {
  text-align: center;
  display: initial
}

.howitworks .step-box {
  min-height: 240px;
  background-color: #ecefee;
  padding: 1rem;
  text-align: center;
  box-shadow: rgba(99, 99, 99, .2) 0 2px 8px 0
}

.foremployers {
  padding: 4rem 10px 5rem 10px
}

.foremployers .title-foremployers {
  text-align: center;
  font-weight: 700
}

.foremployers span {
  text-align: 18px;
  font-weight: 400
}

.foremployers .img-port-foremployers {
  text-align: center;
  display: initial
}

.foremployers .img-port-box {
  margin: -100px 0 11rem 0;
  width: 100%;
  height: 40px
}

.foremployers .step-box {
  background-color: #fff;
  height: 285px;
  padding: 3rem 10px 30px 10px;
  margin: 10rem 10px 20px 10px;
  text-align: center;
  box-shadow: rgba(99, 99, 99, .2) 0 2px 8px 0;
  border: solid;
  border-color: #00aade;
  border-radius: 20px
}

.whyremoteworks {
  background-color: #fff;
  padding: 2rem 10px 6rem 10px;
  text-align: center
}

.whyremoteworks .step-box-works {
  background-color: #fff;
  padding: 40px 20px 10px 20px;
  margin: 20px 0 10px 0;
  text-align: center;
  box-shadow: rgba(0, 0, 0, .16) 0 1px 4px;
  height: 300px
}

.whyremoteworks .title-remoteworks {
  padding: 10px 10px 10px 10px;
  font-weight: 600
}

.whyremoteworks .subtitle-remoteworks {
  font-size: 16px
}

.hireorgethired {
  text-align: center;
  padding: 2rem 10px 4rem 10px
}

.hireorgethired .hire-hireorgethired {
  padding: 10px 10px 20px 10px
}

.hireorgethired .btn-blueBtn {
  background-color: #00aade;
  color: #fff;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 700
}

.hireorgethired .postjobfindwork-btn {
  padding: 20px 0 0 0
}

@media only screen and (max-width: 600px) {
  .client-banner-section .deploybench-title {
    font-size: 4rem;
    font-weight: 700;
    padding: 5rem 0 1px 0;
    text-align: center
  }

  .client-banner-section .deploybench-content {
    padding: 10px 5px 5px 5px;
    line-height: 3rem;
    font-weight: 500
  }

  .client-banner-section .btn-blueBtn {
    display: inline-block;
    color: #fff;
    border: #00aade solid 1px;
    background: #00aade;
    padding: .5rem 5rem .5rem 5rem
  }

  .client-banner-section .sign-btn-deploybench {
    text-align: center
  }

  .contacrtjobsskills {
    background: url(../images/bigin-bgc.png);
    padding: 3rem 0 0 0;
    height: max-content
  }

  .contacrtjobsskills .mr-5 {
    border: 1px solid #ddd;
    border: 1px solid rgba(86, 61, 124, .2);
    margin: 2px 0 0 0;
    width: 150px
  }

  .contacrtjobsskills .title-jobskills {
    text-align: center
  }

  .contacrtjobsskills .skills-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 700
  }

  .contacrtjobsskills .jobs-para {
    text-align: center
  }

  .contacrtjobsskills .jobsskills-link {
    padding: 0;
    margin: 0 0 40px 0;
    text-align: center
  }

  .contacrtjobsskills .img-port-skills {
    width: 100%
  }

  .foremployers {
    padding: 4rem 10px 5rem 10px
  }

  .foremployers .title-foremployers {
    text-align: center;
    font-weight: 700
  }

  .foremployers span {
    text-align: 18px;
    font-weight: 400
  }

  .foremployers .img-port-foremployers {
    text-align: center;
    display: initial
  }

  .foremployers .img-port-box {
    margin: -100px 0 11rem 0;
    width: 100%;
    height: 40px
  }

  .foremployers .step-box {
    background-color: #fff;
    height: 315px;
    padding: 3rem 10px 30px 10px;
    margin: 10rem 10px 20px 10px;
    text-align: center;
    box-shadow: rgba(99, 99, 99, .2) 0 2px 8px 0;
    border: solid;
    border-color: #00aade;
    border-radius: 20px
  }

  .whyremoteworks .step-box-works {
    background-color: #fff;
    padding: 40px 20px 10px 20px;
    margin: 20px 0 10px 0;
    text-align: center;
    box-shadow: rgba(0, 0, 0, .16) 0 1px 4px;
    height: 260px
  }
}

.detailsBox {
  display: block;
  width: 100%
}

.detailsBox ul {
  margin-bottom: 30px;
  display: block
}

.detailsBox ul li {
  margin: 0 0 5px;
  display: inline-block
}

.detailsBox ul li .link {
  padding: 8px 8px;
  display: block;
  color: #242222;
  border: #242222 solid 1px;
  border-radius: 50px;
  background: #fff;
  font-size: 14px;
  text-align: center;
  transition: .5s;
  margin: 0 0 4px 5px
}

.detailsBox ul li .link:hover {
  color: #00aade;
  border: #00aade solid 1px;
  transition: .5s
}

.detailsBox .btnBox {
  display: block;
  text-align: center
}

.detailsBox .btnBox .btn {
  display: inline-block;
  text-align: center;
  min-width: 350px
}

.pb-5rem {
  padding-bottom: 5rem
}