.login-inner {
  padding: 10px 0 25px 0
}

.loginWrp {
  background: #f3f2f2
}

.login {
  border: 8px solid #fff;
  box-shadow: 0 0 8px rgb(0 0 0 / 17%);
  padding: 15px 0 15px 0;
  background: #fff
}

.heading-register {
  text-align: center;
  padding: 0 0 15px 0;
  font-size: 30px;
  color: #000
}

.color-green {
  color: #38c13e
}

.form-control {
  display: block;
  width: 100%;
  height: 45px;
  padding: 6px 10px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  box-shadow: 0 0 1px 0 #999;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  font-size: 16px;
  border-radius: 8px;
  border: #242222 solid 1px
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block
}

.pointer {
  cursor: pointer
}

img {
  vertical-align: middle;
  border-style: none
}

img {
  max-width: 100%
}

.drop-caret {
  position: absolute;
  right: 8px;
  top: 20px
}

.dropdown-menu {
  background: #fff !important;
  padding: 0;
  border-bottom: 1px solid #459134;
  border-top: 1px solid #489339;
  min-width: 200px;
  border-left: none;
  border-right: none;
  z-index: 10000
}

.texthide {
  display: none
}

h4 {
  font-size: 20px
}

.inner-view {
  padding: 5px 20px 15px 20px;
  border-left: 1px solid #818284;
  margin-left: 15px
}

.inner-test {
  padding: 15px 10px
}

.carousel-inner {
  min-height: 260px !important
}

.left.carousel-control,
.right.carousel-control {
  width: 5%
}

.carousel-control.left {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, .0001) 100%);
  background-repeat: repeat-x
}

.left.carousel-control,
.right.carousel-control {
  width: 5%
}

.carousel-control.right {
  right: 0;
  left: auto;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
  background-repeat: repeat-x
}

.error-msg {
  font-size: 15px;
  font-weight: 600;
  color: #ff1908;
  padding-bottom: 5px
}

.file-upload {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer
}

.file-upload-btn {
  position: absolute;
  margin-top: -1px;
  right: 13px;
  top: 0;
  color: #fff;
  background-color: #6d6c6c;
  border-color: #ccc;
  display: inline-block;
  padding: 13px 12px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none
}

.skill-test {
  font-size: 16px;
  border-radius: 8px;
  border: #242222 solid 1px
}

.skills-write {
  border: none;
  outline: 0;
  font-size: 14px;
  padding: 14px 10px;
  border-radius: 8px
}

.skills-write:focus {
  border: none
}

.skill-list-inner {
  display: inline-block;
  padding: 3px 10px;
  background: #00aade;
  border: 1px solid #00aade;
  border-radius: 10px;
  margin: 6px 5px;
  color: #fff
}

span.close-btn {
  padding-left: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: 600
}

.text-width-200 {
  width: 270px
}

.drop2 {
  margin: 1px 0 0 15px;
  width: 95%;
  height: 200px;
  overflow-y: auto
}

.skill_list {
  padding: 5px 15px;
  border-bottom: 1px solid #c5c5c5;
  color: #5f5f5f
}

.reset-div {
  position: absolute;
  right: 1px;
  background: #f44336;
  color: #fff;
  padding: 0 4px;
  cursor: pointer
}

.progress {
  margin-bottom: 0
}

.progress-bar {
  background-color: #38c13e
}

.progress-div {
  position: absolute;
  width: 90%;
  top: 0;
  padding: 12px 1px;
  background: #1010102b
}

.heading-register span {
  color: #00aade
}

.btn-gmail {
  padding: 0 0 15px 0
}

button[disabled] {
  cursor: not-allowed;
  background: #989898;
  border: 1px solid #747474
}

.btn-theme-100 {
  width: 100%;
  background: #00aade;
  padding: 8px 0;
  border-radius: 0;
  border: none;
  text-transform: uppercase;
  font-size: 17px;
  color: #fff;
  border-radius: 0;
  font-weight: 700
}

.conForm .btn {
  padding: 11px
}

.btn-gray {
  background: #545d61;
  color: #fff
}

h6 {
  font-size: 16px;
  font-weight: 700
}

.city_loader {
  position: absolute;
  top: 37px;
  left: 44%;
  z-index: 9;
  font-size: 20px
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  right: 0;
  z-index: 1;
  width: 100%;
  max-height: 100px
}

.closecity {
  position: absolute;
  right: 0;
  cursor: pointer;
  background: #646767;
  color: #fff;
  padding: 1px 5px
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer
}

.view-pwd {
  display: none
}

.free-reg-btn {
  display: inline-block;
  color: #fff;
  border: #242222 solid 1px;
  background: #242222;
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 16px;
  min-width: 125px;
  outline: 0;
  width: 100%
}

@media only screen and (min-width:600px) {
  .pad-top-15 {
    padding-top: 15px
  }

  .margin-top-15 {
    margin-top: 15px
  }

  .toggle-password {
    position: absolute;
    top: 25px;
    right: 23px;
    cursor: pointer
  }
}

@media only screen and (max-width:600px) {
  .pad-top-15 {
    padding-top: 15px
  }

  .margin-top-15 {
    margin-top: 15px
  }

  .toggle-password {
    position: absolute;
    top: 25px;
    right: 23px;
    cursor: pointer
  }
}

@media only screen and (min-width:768px) {
  .pad-top-15 {
    padding-top: 15px
  }

  .margin-top-15 {
    margin-top: 15px
  }

  .toggle-password {
    position: absolute;
    top: 25px;
    right: 23px;
    cursor: pointer
  }
}

@media only screen and (min-width:992px) {
  .input-wrap {
    margin-bottom: 15px;
    position: relative
  }

  .pad-top-15 {
    padding-top: 0
  }

  .margin-top-15 {
    margin-top: 0
  }

  .toggle-password {
    position: absolute;
    top: 10px;
    right: 23px;
    cursor: pointer
  }
}

@media only screen and (min-width:1200px) {
  .input-wrap {
    margin-bottom: 15px;
    position: relative
  }

  .pad-top-15 {
    padding-top: 0
  }

  .margin-top-15 {
    margin-top: 0
  }

  .toggle-password {
    position: absolute;
    top: 10px;
    right: 23px;
    cursor: pointer
  }
}