a,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
html,
span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.owlSlider {
  padding-top: 15px
}

.owlSlider .owl-carousel {
  padding: 0 50px
}

.newLoginBtn {
  position: fixed !important;
  top: 20rem;
  right: -6.5rem;
  transform: rotate(90deg)
}

.newLoginBtn a {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  border-radius: 4px;
  font-size: 14px;
  background-color: #00aade;
  color: #fff;
  text-transform: uppercase;
  transition: all .3s ease-in
}

.owlSlider .owl-theme .owl-nav .owl-prev {
  margin: 0;
  width: 50px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -16px
}

.owlSlider .owl-theme .owl-nav .owl-prev:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background: #00aade;
  border-radius: 50px
}

.owlSlider .owl-theme .owl-nav .owl-prev:after {
  content: "\e91b";
  position: absolute;
  top: -3px;
  left: 8px;
  width: 32px;
  height: 32px;
  font-size: 28px;
  color: #a7d3ff00;
  font-family: icomoon
}

.owlSlider .owl-theme .owl-nav .owl-next {
  margin: 0;
  width: 50px;
  height: 32px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -16px
}

.owlSlider .owl-theme .owl-nav .owl-next:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  background: #00aade;
  border-radius: 50px
}

.owlSlider .owl-theme .owl-nav .owl-next:after {
  content: "\e91c";
  position: absolute;
  top: -3px;
  right: 8px;
  width: 32px;
  height: 32px;
  font-size: 28px;
  color: #a7d3ff00;
  font-family: icomoon
}

.owlSlider .owl-theme .owl-nav [class*=owl-]:hover {
  background: 0 0;
  opacity: .7
}

.btn2 {
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 16px;
  min-width: 125px;
  outline: 0
}

.btn+.btn {
  margin-left: 10px;
  transition: .5s
}

.btn-lineBtn {
  display: inline-block;
  color: #242222;
  border: #242222 solid 1px;
  background: #fff
}

.btn-lineBtn:hover {
  color: #fff;
  background: #242222;
  box-shadow: 0 3px 6px 0 #00000029;
  transition: .5s
}

.btn-blueBtn {
  display: inline-block;
  color: #fff;
  border: #00aade solid 1px;
  background: #00aade
}

.btn-blueBtn:hover {
  color: #fff;
  box-shadow: 0 3px 6px 0 #00000029;
  transition: .5s
}

.btn-blackBtn {
  display: inline-block;
  color: #fff;
  border: #242222 solid 1px;
  background: #242222
}

.btn-blackBtn:hover {
  color: #fff;
  box-shadow: 0 3px 6px 0 #00000029;
  transition: .5s
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: -2px
}

header {
  padding: 10px 0;
  background: #fff;
  height: 70px;
  width: 100%;
  box-shadow: 0 0 4px 4px #6e6e6e14;
  position: relative;
  top: 0;
  left: 0;
  z-index: 3
}

header .container {
  display: flex;
  align-items: center;
  position: relative
}

header .logoBox {
  display: inline-block;
  float: left
}

header nav {
  margin-top: 2px;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row-reverse
}

header nav ul {
  padding: 0;
  margin: 0;
  display: inline-block
}

header nav ul li {
  padding-left: 15px;
  margin-left: 15px;
  display: inline-block;
  position: relative
}

header nav ul li::after {
  content: '';
  position: absolute;
  left: -3px;
  top: 4px;
  background: #242222;
  width: 1px;
  height: 14px
}

header nav ul li:first-child::after {
  display: none
}

header nav ul li a {
  display: block;
  color: #242222;
  font-size: 16px;
  position: relative
}

header nav ul li a:hover {
  color: #00aade
}

header .btnBox {
  margin-left: 15px;
  display: flex
}

.dropdownNavBox {
  display: none;
  position: absolute;
  top: 22px;
  left: 0
}

.dropdownNavBox .dropdownLinkBox {
  padding: 15px;
  margin-top: 22px;
  background: #fff;
  box-shadow: 0 0 4px 4px #6e6e6e14;
  border-radius: 8px;
  display: flex;
  width: 600px
}

.dropdownNavBox .dropdownLinkBox .box {
  width: 33.3%
}

.dropdownNavBox .dropdownLinkBox .box+.box {
  padding-left: 15px;
  border-left: #f1f1f1 solid 1px
}

.dropdownNavBox .dropdownLinkBox .navHeading {
  padding-bottom: 10px;
  display: block;
  font-size: 16px;
  color: #242222;
  font-weight: 700
}

.dropdownNavBox .dropdownLinkBox ul {
  padding: 0;
  margin: 0;
  display: block
}

.dropdownNavBox .dropdownLinkBox ul li {
  padding-left: 0;
  margin: 0 0 10px;
  display: block;
  position: relative
}

.dropdownNavBox .dropdownLinkBox ul li::after {
  display: none
}

.dropdownNavBox .dropdownLinkBox ul li a {
  display: inline-block;
  color: #242222;
  font-size: 14px;
  position: relative;
  line-height: 20px
}

.dropdownNavBox .dropdownLinkBox ul li a:hover {
  color: #00aade
}

.dropdownNavBox .dropdownLinkBox ul li a::after {
  display: none
}

.dropdownNavBox .dropdownLinkBox .btn-link {
  padding: 7px 15px;
  display: inline-block;
  color: #242222;
  border: #242222 solid 1px;
  background: #fff;
  transition: .5s;
  font-size: 14px
}

.dropdownNavBox .dropdownLinkBox .btn-link:hover {
  color: #fff;
  background: #242222;
  box-shadow: 0 3px 6px 0 #00000029;
  transition: .5s
}

.dropdownNavBox .dropdownLinkBox .btn-link::after {
  display: none
}

header nav ul li.dropdownMenu:hover .dropdownNavBox {
  display: block
}

#nav-toggle {
  padding: 16px 10px 2px;
  margin: 0 15px 0 0;
  cursor: pointer;
  width: 42px;
  height: 38px;
  display: none;
  border: #000 solid 1px;
  border-radius: 5px;
  position: absolute;
  top: 5px;
  right: 2px;
  z-index: 9;
  transition: .5s
}

#nav-toggle span,
#nav-toggle span:after,
#nav-toggle span:before {
  content: '';
  cursor: pointer;
  height: 2px;
  width: 20px;
  background: #000;
  position: absolute;
  display: block;
  border-radius: 3px;
  transition: .5s
}

#nav-toggle span:before {
  top: -7px
}

#nav-toggle span:after {
  bottom: -7px
}

#nav-toggle span,
#nav-toggle span:after,
#nav-toggle span:before {
  transition: all .2s ease-in-out
}

#nav-toggle.active span {
  background-color: transparent !important;
  transition: .5s
}

#nav-toggle.active span:after,
#nav-toggle.active span:before {
  top: 0;
  transition: .5s
}

#nav-toggle.active span:before {
  transform: rotate(45deg)
}

#nav-toggle.active span:after {
  transform: rotate(-45deg)
}

footer {
  padding: 50px 0 35px;
  background: #242222
}

footer .linkBox {
  display: block
}

footer .linkBox .headingBox {
  margin-bottom: 10px;
  display: block;
  font-size: 20px;
  color: #fff
}

footer .linkBox ul {
  margin-bottom: 15px;
  display: block
}

footer .linkBox ul li {
  padding-right: 15px;
  margin: 0 15px 5px 0;
  display: inline-block;
  position: relative
}

footer .linkBox ul li:after {
  content: '';
  position: absolute;
  right: -2px;
  top: 4px;
  background: #b1b1b1;
  width: 1px;
  height: 14px
}

footer .linkBox ul li a {
  display: block;
  font-size: 16px;
  color: #fff
}

.copyrightBox {
  background: #000;
  font-size: 14px;
  color: #fff;
  display: block;
  text-align: center;
  height: 55px;
  line-height: 55px
}

@media screen and (max-width: 768px) {
  header {
    overflow: inherit
  }

  #nav-toggle {
    display: block
  }

  header nav {
    position: fixed;
    right: -500px;
    top: 68px;
    background-color: rgba(0, 0, 0, .95);
    width: 332px;
    height: calc(100vh - 68px);
    overflow: hidden;
    overflow-y: auto;
    transition: .3s;
    display: block
  }

  header nav.active {
    right: -15px;
    transition: .3s
  }

  header nav ul {
    display: block;
    width: calc(100% - 15px);
    height: calc(100vh - 147px);
    overflow: hidden;
    overflow-y: auto
  }

  header nav ul li {
    padding: 0;
    margin: 0;
    display: block;
    border-top: #4a4a4a solid 1px
  }

  header nav ul li a {
    padding: 0 15px;
    color: #fff;
    line-height: 40px;
    opacity: .8
  }

  header nav ul li.dropdownMenu a:after {
    color: #939798;
    right: 15px;
    top: 12px;
    transition: .2s
  }

  header nav ul li:after {
    display: none
  }

  header nav ul li:first-child {
    border-top: #4a4a4a solid 0
  }

  header .btnBox {
    padding: 15px;
    margin: 0;
    display: block;
    border-bottom: #4a4a4a solid 1px
  }

  header nav ul li a:hover {
    opacity: 1
  }

  .dropdownNavBox {
    position: inherit;
    top: inherit;
    left: inherit
  }

  .dropdownNavBox .dropdownLinkBox {
    background: 0 0;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0
  }

  .dropdownNavBox .dropdownLinkBox .box {
    width: 100%
  }

  .dropdownNavBox .dropdownLinkBox .box+.box {
    padding: 0;
    border: 0
  }

  .dropdownNavBox .dropdownLinkBox .navHeading {
    padding: 10px 15px;
    color: #c7c7c7
  }

  .dropdownNavBox .dropdownLinkBox ul {
    width: 100%;
    height: auto
  }

  .dropdownNavBox .dropdownLinkBox ul li {
    margin: 0;
    display: block;
    color: #d9d9d9
  }

  .dropdownNavBox .dropdownLinkBox ul li a {
    display: block;
    line-height: 45px;
    color: #ababab
  }

  .dropdownNavBox .dropdownLinkBox .btn-link {
    margin: 0 0 20px 15px
  }

  header nav ul li.dropdownMenu a:after {
    content: "⌄";
    font-family: icomoon;
    font-size: 25px;
    line-height: 14px;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 4px;
    transition: .2s
  }

  .img-content-model {
    width: 650px;
    height: 470px
  }
}

@media only screen and (max-width: 540px) {
  .owlSlider .owl-carousel {
    padding: 0 48px
  }

  .img-content-model {
    width: 650px;
    height: 470px
  }
}

.left-arrow {
  position: relative;
  font-size: 20px;
  margin: 0 15px 7px 0;
  color: #fff
}

.right-arrow {
  position: relative;
  font-size: 20px;
  margin: 0 0 3px 20px;
  color: #fff
}

.fixed-header {
  position: fixed;
  width: 100%;
  box-shadow: 0 0 4px 4px rgb(20 102 143 / 8%);
  animation: slide-in--down .3s cubic-bezier(0, 0, .3, 1);
  z-index: 999
}

.pointer {
  cursor: pointer
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 2px solid #5e5e5e;
  border-radius: 0;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
  box-shadow: 0 3px 9px rgb(0 0 0 / 50%)
}

.form-control {
  height: 45px;
  color: #242222;
  font-size: 16px;
  border-radius: 8px;
  border: #242222 solid 1px
}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px
  }
}

.modal2 {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, .4)
}

.close2:focus,
.close2:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer
}

@media only screen and (max-width: 600px) {
  .img-content-model {
    width: 260px;
    height: 155px
  }

  .modal2-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%
  }

  .close2 {
    color: #fff;
    background: #050505;
    font-size: 19px;
    position: absolute;
    font-weight: 700;
    top: 4rem;
    line-height: 1.5;
    border-radius: 5rem;
    padding: 0 8px;
    right: 1.5rem
  }
}

@media only screen and (min-width: 600px) {
  .modal2-content {
    background-color: #fefefe;
    margin: 3% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%
  }

  .img-content-model {
    width: 675px;
    height: 400px
  }

  .close2 {
    color: #fff;
    background: #050505;
    font-size: 19px;
    position: absolute;
    font-weight: 700;
    top: 10rem;
    line-height: 1.5;
    border-radius: 5rem;
    padding: 0 8px;
    right: 35rem
  }
}

@media only screen and (min-width: 768px) {
  .modal2-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%
  }

  .img-content-model {
    width: 575px;
    height: 340px
  }

  .close2 {
    color: #fff;
    background: #050505;
    font-size: 20px;
    position: absolute;
    font-weight: 700;
    top: 10rem;
    line-height: 1.5;
    border-radius: 5rem;
    padding: 3px 11px;
    right: 6rem
  }
}

@media only screen and (min-width: 992px) {
  .modal2-content {
    background-color: #fefefe;
    margin: 3% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%
  }

  .img-content-model {
    width: 675px;
    height: 400px
  }

  .close2 {
    color: #fff;
    background: #050505;
    font-size: 19px;
    position: absolute;
    font-weight: 700;
    top: 10rem;
    line-height: 1.5;
    border-radius: 5rem;
    padding: 0 8px;
    right: 35rem
  }
}

@media only screen and (min-width: 1200px) {
  .modal2-content {
    background-color: #fefefe;
    margin: 3% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%
  }

  .img-content-model {
    width: 675px;
    height: 400px
  }

  .close2 {
    color: #fff;
    background: #050505;
    font-size: 19px;
    position: absolute;
    font-weight: 700;
    top: 2rem;
    line-height: 1.5;
    border-radius: 5rem;
    padding: 0 8px;
    right: 35rem
  }
}