.inner-heading {
  background: #353535;
  background-size: cover;
  padding: 1px 0 8px 0
}

.h2-text {
  color: #fff;
  text-align: center
}

.p-text {
  color: #fff;
  text-align: center
}

.inner-content {
  padding: 35px 0 20px 0;
  background: #f3f2f2
}

.leftSidebar {
  background: #00aade;
  padding: 20px
}

.height-45 {
  height: 45px
}

.filter {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
  padding-bottom: 11px;
  margin-bottom: 22px;
  margin-top: 0
}

.leftSidebar label {
  font-weight: 400;
  color: #fff
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px
}

.listing .form-control {
  border: 1px solid #ddd;
  height: 36px !important;
  border-radius: 0 !important
}

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: 0 0 1px 0 #999;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.city_loader {
  position: absolute;
  top: 37px;
  left: 44%;
  z-index: 9;
  font-size: 20px
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  right: 0;
  z-index: 1;
  width: 100%;
  max-height: 100px
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer
}

.leftSidebar .sbutn {
  width: 100%;
  border-radius: 0;
  color: #fff;
  border: 2px solid #fff;
  margin-top: 10px
}

.listing .sbutn {
  padding: 10px 68px
}

.form-home-search {
  padding: 10px 8px 7px 10px;
  background: #9b9c9a;
  margin-bottom: 15px
}

.city_loader2 {
  position: absolute;
  top: 37px;
  left: 44%;
  z-index: 9;
  font-size: 20px
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  right: 0;
  z-index: 1;
  width: 100%;
  max-height: 100px
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer
}

.inner-btn .searchbutn {
  color: #fff;
  padding: 8px 20px 9px 20px;
  background: #00aade;
  font-size: 15px;
  border: none
}

.listingSearch2 {
  padding: 10px 6px;
  background: #fff
}

button[disabled] {
  cursor: not-allowed;
  background: #00aade
}

ol,
ul {
  list-style: none
}

.pointer {
  cursor: pointer
}

.listWrpService {
  padding: 15px;
  background: #fff;
  margin: 15px 0;
  border: 1px solid #e0e0e0
}

.listImg2 {
  background: #e4e4e4;
  border-radius: 50%;
  border: 1px solid #9b9c9a
}

img {
  vertical-align: middle;
  border-style: none
}

.listService h3 {
  margin-top: 0
}

.featured-wrap h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 20px
}

.fname-title {
  color: #585856;
  font-size: 22px;
  font-weight: 500
}

.featured-wrap p {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0
}

.para {
  font-weight: 400 !important;
  margin-top: 8px
}

.block-skill {
  background: #787b78;
  padding: 0 10px;
  color: #fff;
  border-radius: 4px;
  margin: 3px 3px;
  display: inline-block
}

.listImg2 img {
  border-radius: 50%;
  width: 100%
}

.leftSidebar .sbutn {
  width: 100%;
  border-radius: 0;
  color: #fff;
  border: 2px solid #fff;
  margin-top: 10px;
  border: none;
  padding: 10px 0 15px 0;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700
}

.btn-gray {
  background: #545d61;
  color: #fff
}

.open-tab {
  float: right
}

.tab-a {
  width: 100%;
  display: block
}

.panel-default>.panel-heading {
  color: #333;
  background-color: #def7ff;
  border-color: #ddd
}

.faq-text {
  font-size: 24px;
  color: #7b7d7d;
  padding: 10px 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #d8d8d8
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 0;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px
}

.btn-search-blue {
  background: #00aade;
  color: #fff;
  border-radius: 0
}

.btn-search-icon {
  position: absolute;
  z-index: 999;
  right: 14px;
  top: 0;
  border-radius: 0
}

@media only screen and (min-width: 600px) {
  .listImg2 {
    width: 49px
  }

  .leftSidebar {
    background: #00aade;
    padding: 20px
  }

  .sidebaradvance {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 6rem;
    left: 2rem;
    overflow-y: auto;
    height: 90%
  }

  .btn-filter-icon {
    position: absolute;
    display: inline-block
  }

  .form-control3 {
    padding: 0 5.5rem 0 5.5rem
  }

  .close-filter {
    position: absolute;
    display: block;
    right: 4rem;
    top: 9px
  }
}

@media only screen and (max-width: 600px) {
  .listImg2 {
    width: 49px
  }

  .leftSidebar {
    background: #00aade;
    padding: 20px
  }

  .sidebaradvance {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 6rem;
    left: 2rem;
    overflow-y: auto;
    height: 90%
  }

  .btn-filter-icon {
    position: absolute;
    display: inline-block
  }

  .form-control3 {
    padding: 0 5.5rem 0 5.5rem
  }

  .close-filter {
    position: absolute;
    display: block;
    right: 4rem;
    top: 9px
  }
}

@media only screen and (min-width: 768px) {
  .listImg2 {
    width: 47px
  }

  .leftSidebar {
    background: #00aade;
    padding: 20px
  }

  .sidebaradvance {
    display: block;
    position: relative;
    z-index: 0;
    top: 0;
    left: 0
  }

  .btn-filter-icon {
    display: none
  }

  .form-control3 {
    padding: 0 5.5rem 0 1rem
  }

  .close-filter {
    display: none
  }
}

@media only screen and (min-width: 992px) {
  .listImg2 {
    width: 85px
  }

  .leftSidebar {
    background: #00aade;
    padding: 20px
  }

  .sidebaradvance {
    display: block;
    position: relative;
    z-index: 0;
    top: 0;
    left: 0
  }

  .btn-filter-icon {
    display: none
  }

  .form-control3 {
    padding: 0 5.5rem 0 1rem
  }

  .close-filter {
    display: none
  }
}

@media only screen and (min-width: 1200px) {
  .listImg2 {
    width: 110px
  }

  .leftSidebar {
    background: #00aade;
    padding: 20px
  }

  .sidebaradvance {
    display: block;
    position: relative;
    z-index: 0;
    top: 0;
    left: 0
  }

  .btn-filter-icon {
    display: none
  }

  .form-control3 {
    padding: 0 5.5rem 0 1rem
  }

  .close-filter {
    display: none
  }
}

.listService {
  padding-left: 0
}

a {
  color: #464748;
  text-decoration: none
}

a:hover {
  color: #0062b1;
  text-decoration: none
}