<%- include('../partials/header') %>
<div class="inner-heading">
  <div class="container">
    <h3 class="white">Why OBM</h3>
  </div>
</div>
<div class="inner-content-about about">
  <div class="container">
    <div class="row">

      <div class="col-md-5 col-sm-5">
        <div class="innerImg">
          <img src="images/19cm5vkbzwrbh7.jpg" alt="Sharing of Resource" width="458" height="274">
        </div>
      </div>

      <div class="col-xs-12 col-md-7 col-sm-7">
        <h1 class="heading-title">Sharing of <span>Resource</span></h1>
        <div class="about_us">
          <p class="ql-align-justify"><span style="color: rgb(51, 51, 51);">An Open Platform for&nbsp;On-Demand
              Resourcing and Just-In-Hiring. One-stop solution for Contractual, Part-Time, Temporary&nbsp;Flexible
              Hiring Needs. Free Job Posting &amp; Free Project Posting. Deploy&nbsp;Bench Resources / Bench
              Employees/ Unutilized Resources/ Idle Resources for onsite or Offsite projects. </span></p>
          <p class="ql-align-justify"><span style="color: rgb(51, 51, 51);">Hire Freelancers, Gig Workers, Digital
              Nomads for contract hiring needs. Hire&nbsp;Virtual Assistants, Work from Home, Remote Working &amp;
              Part-Time professionals without any commission and restriction to communicate with Clients or
              Freelancers. </span></p>
          <p class="ql-align-justify"><span style="color: rgb(51, 51, 51);">Create Virtual Teams without having any
              liability for full-time employment. No bidding of projects or depositing of project cost, unlike other
              freelancing sites.</span></p>
          <p class="ql-align-justify"><br></p>
        </div>
      </div>
    </div>
  </div>
  <div class="center-info">
    <div class="container">
      <div class="row">

        <div class="col-md-5 col-sm-5 pull-right">
          <div class="innerImg">
            <img src="images/19cm5vkbzwruuh.jpg" alt="Autonomy fo Freelancers" width="458" height="274">
          </div>
        </div>

        <div class="col-xs-12 col-md-7 col-sm-7">
          <h2 class="heading-title"> Autonomy for<span> Freelancers</span></h2>
          <div class="about_us">
            <p class="ql-align-justify"><span style="color: rgb(51, 51, 51);">Free platform&nbsp;for Freelancers,
                Digital Nomads, Remote workers, Gig workers to get freelance work, Freelance Project, Gig
                work&nbsp;&amp; Job opportunities. Zero commission and Zero Restriction Freelancing Website with
                complete autonomy unlike other Freelancing sites. </span></p>
            <p class="ql-align-justify"><span style="color: rgb(51, 51, 51);">Get connected directly with Clients or
                fellow Freelancers from across the globe and become a real freelancer with global exposure.
                Complete&nbsp;Autonomy being Freelancer by getting away from all the restrictions.</span></p>
            <p class="ql-align-justify"><span style="color: rgb(51, 51, 51);"> Stop working alone and create your
                Virtual Team and create a Team of your own to target for bigger projects and grow as a Freelancer from
                just being an Individual contributor to a Team.</span></p>
            <p class="ql-align-justify"><span style="color: rgb(51, 51, 51);">Get work on various categories like
                Information&nbsp;Technology to Finance, Sales &amp; Marketing, Apparel &amp; Fashion, Engineering
                &amp; Design,&nbsp;Education, Writing &amp; Edition, Health Wellness &amp; Fitness,&nbsp;Life
                Coach/Trainer &amp; Human Resource etc. </span></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-5 hidden-xs">
        <div class="innerImg">

          <img src="images/19cm5vkbzwq906.jpg" alt="Create Virtual Teams" width="458" height="274">


        </div>
      </div>
      <div class="col-xs-12 col-md-7 col-sm-7">
        <h3 class="heading-title"> Networked<span> Business Community </span>
        </h3>
        <div class="about_us">
          <p><span style="color: rgb(24, 24, 24);">Here at OnBenchMark we have created a Virtual Enterprise Network
              (VEN) or network community of companies to share bench or unutilized resources as&nbsp;</span><span style="color: rgb(51, 51, 51);">enabling them to operate as if they had more resources and capacity than
              they actually have</span>.</p>
          <p><span style="color: rgb(51, 51, 51);">The idea of&nbsp;</span>virtual enterprise network&nbsp;(VEN) is
            meant to establish a dynamic community by the synergetic combination of dissimilar companies with
            different core competencies, thereby forming a best of everything consortium to perform a given business
            project to achieve maximum degree of customer satisfaction.&nbsp;<span style="color: rgb(24, 24, 24);">Future winning enterprises will excel at inter-organizational
              collaboration as they evolve successful joint strategies and drive the development and cost
              optimization.</span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="center-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-7 col-sm-7">
          <h4 class="heading-title"> Workforce<span>-as-a-Service</span></h4>
          <div class="about_us">
            <p>Workforce-as-a-Service (WaaS) is a concept where companies can use their employees based on their
              business needs. The workforce can be scaled up or down to match the requirements and prevent losses in
              the event of no sufficient work for employees.</p>
            <p>OnBenchMark WaaS services provide an online marketplace for companies to manage a different kind of gig
              workers like consultants, contractors, remote workers, part-time workers, digital nomads, freelancers
              and work from home professionals. Companies that need immediate skilled workers for a short period of
              time enjoy unique advantages with the WaaS model.</p>
            <p>WaaS is a self-service model through which allows companies to quickly find and meet the hiring
              requirements of their projects.</p>
            <p>WaaS is a business process crowdsourcing, which can easily satisfy the changing demands of a business.
              It provides a very secure platform to companies where they can have seamless delivery of well-qualified
              and in-demand professionals delivered to them in the shortest time.</p>
          </div>
        </div>
        <div class="col-md-5 col-sm-5 hidden-xs">
          <div class="innerImg">

            <img src="images/19cm5vkbzwq1s8.jpg" alt="Workforce as a Service" width="458" height="274">


          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-5 hidden-xs">
        <div class="innerImg">

          <img src="images/19cm5vkbzws0ji.jpg" alt="Create Virtual Teams" width="458" height="274">

        </div>
      </div>
      <div class="col-md-7 col-sm-7">
        <h5 class="heading-title">Flexi <span>Staffing</span>
        </h5>
        <div class="about_us">
          <p>Flexi staffing is continuously proving to be one of the best decisions taken by industry leaders with
            growing uncertainties Flexible staffing is the right decision for Just-In-Time hiring.</p>
          <p>Flexi staffing not only reduces the need for employees working overtime and meeting deadlines but is also
            linked with low legal costs for them.</p>
          <p>OnBenchMark’s Flexi staffing services also have the potential to be among the highest key job-creation
            engines. It makes the business to leverage the subcontracting models without creating headcounts for short
            term requirements. Along with the lower cost of maintaining the workforce, there is no cost associated
            with the termination of employees. Flexi staffing has been globally accepted and is contributing a lot to
            Gig Economy.</p>
          <p>Flexible staffing options are helping businesses adjust quickly and efficiently to high and low
            production demands.Flexi staffing is already existed for long but solutions like OnBenchMark will help you
            to achieve smoothly with no additional cost.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="center-info">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-7">
          <h6 class="heading-title"> Create Virtual <span>Teams</span> </h6>
          <div class="about_us">

            <p class="ql-align-justify"><span style="color: rgb(51, 51, 51);">Stop working alone and create your
                Virtual Team and create a Team of your own to target for bigger projects and grow as a Freelancer from
                just being an Individual contributor to a Team. </span></p>
            <p class="ql-align-justify"><span style="color: rgb(51, 51, 51);">Not only Freelancers but even Businesses
                can also create Virtual Teams and Freelancers can also be hired as a flexible workforce by being part
                of Virtual Teams.&nbsp;Geographical boundaries will no longer be a hindrance to hiring resources for
                Just-in-Time hiring.&nbsp;</span></p>
            <p class="ql-align-justify"><span style="color: rgb(51, 51, 51);">Businesses&nbsp;&amp; Freelancers no
                longer need to have a long term contract but can work on fixed-term contracts with the possibility of
                repeat business.</span></p>
          </div>
        </div>
        <div class="col-md-5 col-sm-5 hidden-xs">
          <div class="innerImg">

            <img src="images/19cm5vkbzwqfh1.jpg" alt="Holiday Employment">

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<%- include('../partials/footer.ejs') %>