<%- include('../partials/header') %>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-2">
      <form action="/collection" method="POST" enctype="multipart/form-data">

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Collection Name</span>
          <input type="text" class="form-control" placeholder="Title" aria-label="Username" aria-describedby="basic-addon1" name="title">
        </div>
        <div class="input-group">
          <span class="input-group-text">Description Maybe?</span>
          <textarea class="form-control" aria-label="With textarea" name="description"></textarea>
        </div>

        <div class="form-check form-switch mt-3">
          <input class="form-check-input" type="checkbox" role="switch" name="isPrivate" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">switch to private collection</label>
        </div>

        <div class="input-group mt-3">
          <span class="input-group-text" id="basic-addon1">Maybe upload image...</span>
          <input type="file" class="form-control" placeholder="Title" name="profile-file" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <button type="submit" class="btn btn-primary btn-lg mt-5">
          <i class="bi bi-plus-circle"></i> &nbsp;Add
        </button>
        https://blog.logrocket.com/how-build-url-shortener-node-js/
      </form>
    </div>
  </div>
</div>


<%- include('../partials/bottom') %>