<%- include('../partials/header') %>
<div class="inner-content listing detail">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li><a href="http://www.onbenchmark.com/">home</a></li>
      <li class="active"><a href="http://www.onbenchmark.com/hire-freelancers">Freelancers</a></li>
      <li class="active">Praveen</li>
    </ol>
    <div class="inner-wrap">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="listWrpService3">
            <div class="row">
              <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">
                <div class="listImg imagesrc text-center" src-img="images/user.svg" alt="freelancer photo" rel="prepend" widthi="64" heighti="64"></div>
              </div>
              <div class="col-xs-12 col-sm-10 col-md-11 col-lg-11">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1 class="title-name">Praveen</h1>
                    <div>Data Science</div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 pad-list">
                        <div class="icon-box-icon-block">
                          <div class="icon-box-round"><img src="images/placeholder.svg" alt="placeholder" width="24" height="24"></div>
                          <div class="icon-box-text"><strong class="d-block">Location</strong>&nbsp;Chennai</div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 pad-list">
                        <div class="icon-box-icon-block">
                          <div class="icon-box-round"><img src="images/view-icon.svg" alt="view-icon" width="24" height="24"></div>
                          <div class="icon-box-text"><strong class="d-block">Total Views</strong>4</div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 pad-list">
                        <div class="icon-box-icon-block">
                          <div class="icon-box-round"><img src="images/availability.svg" alt="availability" width="24" height="24"></div>
                          <div class="icon-box-text"><strong class="d-block">Shortlist</strong>0</div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 pad-list">
                        <div class="icon-box-icon-block">
                          <div class="icon-box-round"><img src="images/back-in-time.svg" alt="back in time" width="24" height="24"></div>
                          <div class="icon-box-text"><strong class="d-block">Member since</strong>1 Days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 addbutton"><button type="button" class="login-btn m-b-10" onclick="addVirtual()">Add To Virtual Team</button>&nbsp;<button type="button" class="login-btn" onclick="addVirtual()">Shortlist to View Contact</button><img data-toggle="tooltip" title="Click Shortlist to View Contact Details" data-placement="left" src="images/information-button.svg" alt="back in time" width="24" height="24"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- <div *ngIf="contact?.countapp>0 && userdata?.userType == 4"><div class="row contact-list"><div class="col-sm-3"><i class="fa fa-phone"></i>{{contact?.cdata?.phone}}</div><div class="col-sm-6"><i class="fa fa-envelope"></i>{{contact?.cdata?.email}}</div><div *ngIf="contact?.cdata?.Resumeurl" class="col-sm-3"><i class="fa fa-file"></i><a href="{{contact?.cdata?.Resumeurl}}" target="_blank">View Resume</a></div></div></div>-->
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <div ng-if="contact.countapp>0" id="contactDetails" class="listWrpService2">
            <div class="row">
              <div class="col-sm-12">
                <div class="view-title-contact">Contact Details</div>
                <div>
                  <div class="row contact-list">
                    <div class="col-sm-3"><img src="images/phone-call.svg" alt="phone call" width="24" height="24">&nbsp;{{contact.cdata.phone}}</div>
                    <div class="col-sm-6"><img src="images/email-blue.svg" alt="phone call" width="24" height="24">&nbsp;{{contact.cdata.email}}</div>
                    <div ng-if="contact.cdata.Resumeurl" class="col-sm-3"><a href="http://www.onbenchmark.com/{{contact.cdata.Resumeurl}}" target="_blank"><img src="images/download.svg" alt="phone call" width="24" height="24">&nbsp; View Resume</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="listWrpService2">
            <div class="row">
              <div class="col-sm-12">
                <div class="view-title">Candidate Information</div>
                <div class="skill-list">
                  <div class="row">
                    <div class="col-sm-12">
                      <ul class="extra-service">
                        <li>
                          <div class="icon-box-icon-block">
                            <div class="icon-box-round"><img src="images/user-experience.svg" alt="User Experience" width="30" height="30"></div>
                            <div class="icon-box-text"><strong class="d-block">Experience</strong>&nbsp;5&nbsp;Year</div>
                          </div>
                        </li>
                        <li>
                          <div class="icon-box-icon-block">
                            <div class="icon-box-round"><img src="images/cost.svg" alt="Cost" width="30" height="30"></div>
                            <div class="icon-box-text"><strong class="d-block">Hourly Rate</strong>$7</div>
                          </div>
                        </li>
                        <li>
                          <div class="icon-box-icon-block">
                            <div class="icon-box-round"><img src="images/availability.svg" alt="availability" width="30" height="30"></div>
                            <div class="icon-box-text"><strong class="d-block">Availability</strong>Immediate</div>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-12">
                      <ul class="extra-service">
                        <li>
                          <div class="icon-box-icon-block">
                            <div class="icon-box-round"><img src="images/work-from.svg" alt="work from" width="30" height="30"></div>
                            <div class="icon-box-text"><strong class="d-block">Work From</strong>Offsite</div>
                          </div>
                        </li>
                        <li>
                          <div class="icon-box-icon-block">
                            <div class="icon-box-round"><img src="images/check-list.svg" alt="check list" width="30" height="30"></div>
                            <div class="icon-box-text"><strong class="d-block">Category</strong>Information Technology &amp; Services</div>
                          </div>
                        </li>
                        <li>
                          <div class="icon-box-icon-block">
                            <div class="icon-box-round"><img src="images/back-in-time.svg" alt="back in time" width="30" height="30"></div>
                            <div class="icon-box-text"><strong class="d-block">Last Active On</strong>August 04, 2023</div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="listWrpService2">
            <div class="row">
              <div class="col-sm-12">
                <div class="view-title">Key Skills</div>
                <div class="skill-list"><span class="skill-list"><span>Data Science</span></span><span class="skill-list"><span>SQL</span></span><span class="skill-list"><span>SQL Server</span></span><span class="skill-list"><span>Power BI</span></span></div>
              </div>
            </div>
          </div>
          <div class="listWrpService2">
            <div class="row">
              <div class="col-sm-12">
                <div class="view-title">Summary</div>
                <div class="view-details">
                  <p>Responsibility: To Connect and analyze your SNAP data. Enabling the Sales Operations users to merge, analyze, and visualize selling data for social apps alongside their other sales performance reports. I was involved in connecting tableau to Linked In to Gain deeper insights from your Sales Navigator Application Platform (SNAP) data. Created data visualizations that educated and informed management and senior partners on key metrics and performance measures Efficiently provide technical support to existing clients for software, hardware, and data issues and effectively document and communicates cause and resolution. Two major Revenue makers of Dubai Airport, which has more than 200 concessionaires, DXB and DWC, requested a Business Intelligence solution to monitor Sales and Revenue. </p>
                  <p><br></p>
                  <p>Responsibility: Nov 2018 - Nov 2019 S O C I A L S E L L I N G D A S H B O A R D , C H E N N A I S A L E S M A N A G E R D A S H B O A R D , C H E N N A I Work with the senior management team and operation-level managers to design and maintain sales and operations-based metrics. Assist in the development, roll-out, and maintenance of dashboards, both executive and management reporting, across the enterprise Sales Manager dashboard gives a view into how sales and marketing are working together. By creating a dashboard for sales and marketing, both departments can make data-driven decisions. Responsibility: D U B A I A I R P O R T , D U B A I E M P I R E R E S T A U R A N T S , C H E N N A I Creating real-time dashboards and reporting capabilities of KPI metrics to senior management. Designed and developed interactive dashboards and reports that portray business intelligence. Empire Restaurant, which has more than 80 outlets, is located in Bengaluru, requested for a Business Intelligence solution to monitor and capture sales activities.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="listWrpService2" id="doc-view-div" style="display: none;">
            <div class="row">
              <div class="col-sm-12 docviewer"></div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-4 pad-1" style="clear: inherit;">
          <div class="sidebarWrp">
            <div *ngIf="userdata?.apply=='No' && data?.adminverified==1" class="listWrpService2">
              <div class="view-title">My Project History & Feedbacks</div>
              <div class="gaadiex-list innerrate"></div>
            </div>
          </div>
          <div class="sidebarWrp">
            <div class="listWrpService2">
              <div class="view-title">Similar Freelancers</div>
              <div class="gaadiex-list">
                <div class="row border-b-1 freelist"><a href="https://www.onbenchmark.com/on/vishnu-5" class="pointer" target="_blank">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 imagesrc" src-img="/ssrsystem/images/user.svg" alt="freelancer photo" rel="prepend" widthi="32" heighti="32"></div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                      <div class="gaadiex-list-item-text">
                        <div class="user-name">Vishnu </div>
                        <div class="color-gray"><span>c,c++,java,MySQL</span></div>
                      </div>
                    </div>
                  </a></div>
                <div class="row border-b-1 freelist"><a href="https://www.onbenchmark.com/on/mohdadnan-35" class="pointer" target="_blank">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 imagesrc" src-img="/ssrsystem/images/user.svg" alt="freelancer photo" rel="prepend" widthi="32" heighti="32"></div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                      <div class="gaadiex-list-item-text">
                        <div class="user-name">Mohd Adnan</div>
                        <div class="color-gray"><span>WordPress,HTML5,CSS,PHP</span></div>
                      </div>
                    </div>
                  </a></div>
                <div class="row border-b-1 freelist"><a href="https://www.onbenchmark.com/on/faisal-40" class="pointer" target="_blank">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 imagesrc" src-img="/ssrsystem/images/user.svg" alt="freelancer photo" rel="prepend" widthi="32" heighti="32"></div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                      <div class="gaadiex-list-item-text">
                        <div class="user-name">Faisal</div>
                        <div class="color-gray"><span>PHP,WordPress,Magento,CSS</span></div>
                      </div>
                    </div>
                  </a></div>
                <div class="row border-b-1 freelist"><a href="https://www.onbenchmark.com/on/fernandohenrique-45" class="pointer" target="_blank">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 imagesrc" src-img="/ssrsystem/images/user.svg" alt="freelancer photo" rel="prepend" widthi="32" heighti="32"></div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                      <div class="gaadiex-list-item-text">
                        <div class="user-name">Fernando Henrique</div>
                        <div class="color-gray"><span>Java,Spring Boot,Hibernate,MySQL</span></div>
                      </div>
                    </div>
                  </a></div>
                <div class="row border-b-1 freelist"><a href="https://www.onbenchmark.com/on/jhowberth-51" class="pointer" target="_blank">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 imagesrc" src-img="/ssrsystem/images/user.svg" alt="freelancer photo" rel="prepend" widthi="32" heighti="32"></div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                      <div class="gaadiex-list-item-text">
                        <div class="user-name">Jhowberth</div>
                        <div class="color-gray"><span>JavaScript,HTML5,CSS3,React JS</span></div>
                      </div>
                    </div>
                  </a></div>
                <div class="row border-b-1 freelist"><a href="https://www.onbenchmark.com/on/shane-56" class="pointer" target="_blank">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 imagesrc" src-img="/ssrsystem/images/user.svg" alt="freelancer photo" rel="prepend" widthi="32" heighti="32"></div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                      <div class="gaadiex-list-item-text">
                        <div class="user-name">Shane</div>
                        <div class="color-gray"><span>JavaScript,React JS,Angular JS,Vue.JS</span></div>
                      </div>
                    </div>
                  </a></div>
                <div class="row border-b-1 freelist"><a href="https://www.onbenchmark.com/on/ashu-59" class="pointer" target="_blank">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 imagesrc" src-img="/ssrsystem/images/user.svg" alt="freelancer photo" rel="prepend" widthi="32" heighti="32"></div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                      <div class="gaadiex-list-item-text">
                        <div class="user-name">Ashu</div>
                        <div class="color-gray"><span>Java,Spring Boot,Microsoft Azure,AWS</span></div>
                      </div>
                    </div>
                  </a></div>
                <div class="row border-b-1 freelist"><a href="https://www.onbenchmark.com/on/sourabh-65" class="pointer" target="_blank">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 imagesrc" src-img="/ssrsystem/images/user.svg" alt="freelancer photo" rel="prepend" widthi="32" heighti="32"></div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                      <div class="gaadiex-list-item-text">
                        <div class="user-name">Sourabh</div>
                        <div class="color-gray"><span>React JS,Node.JS,MongoDB,laravel</span></div>
                      </div>
                    </div>
                  </a></div>
                <div class="row border-b-1 freelist"><a href="https://www.onbenchmark.com/on/asish-69" class="pointer" target="_blank">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 imagesrc" src-img="/ssrsystem/images/user.svg" alt="freelancer photo" rel="prepend" widthi="32" heighti="32"></div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                      <div class="gaadiex-list-item-text">
                        <div class="user-name">Asish</div>
                        <div class="color-gray"><span>Java,Spring Boot,J2EE,MySQL</span></div>
                      </div>
                    </div>
                  </a></div>
                <div class="row border-b-1 freelist"><a href="https://www.onbenchmark.com/on/jathevan-75" class="pointer" target="_blank">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 imagesrc" src-img="/ssrsystem/images/user.svg" alt="freelancer photo" rel="prepend" widthi="32" heighti="32"></div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                      <div class="gaadiex-list-item-text">
                        <div class="user-name">Jathevan</div>
                        <div class="color-gray"><span>Java,Ionic,.Net,MySQL,SQL</span></div>
                      </div>
                    </div>
                  </a></div>
                <div class="row border-b-1 freelist"><a href="https://www.onbenchmark.com/on/rahulsingh-79" class="pointer" target="_blank">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 imagesrc" src-img="/ssrsystem/images/user.svg" alt="freelancer photo" rel="prepend" widthi="32" heighti="32"></div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                      <div class="gaadiex-list-item-text">
                        <div class="user-name">Rahul Singh</div>
                        <div class="color-gray"><span>Codeignitor,laravel,oops,JavaScript</span></div>
                      </div>
                    </div>
                  </a></div>
                <div class="row border-b-1 freelist"><a href="https://www.onbenchmark.com/on/prakash-86" class="pointer" target="_blank">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 imagesrc" src-img="/ssrsystem/images/user.svg" alt="freelancer photo" rel="prepend" widthi="32" heighti="32"></div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                      <div class="gaadiex-list-item-text">
                        <div class="user-name">Prakash</div>
                        <div class="color-gray"><span>laravel,PHP,JavaScript,Jquery</span></div>
                      </div>
                    </div>
                  </a></div>
                <div class="row border-b-1 freelist"><a href="https://www.onbenchmark.com/on/vineet-94" class="pointer" target="_blank">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 imagesrc" src-img="/ssrsystem/images/user.svg" alt="freelancer photo" rel="prepend" widthi="32" heighti="32"></div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                      <div class="gaadiex-list-item-text">
                        <div class="user-name">Vineet</div>
                        <div class="color-gray"><span>Java,Spring Boot,React JS,Angular 2</span></div>
                      </div>
                    </div>
                  </a></div>
                <div class="row border-b-1 freelist"><a href="https://www.onbenchmark.com/on/shashi-100" class="pointer" target="_blank">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 imagesrc" src-img="/ssrsystem/images/user.svg" alt="freelancer photo" rel="prepend" widthi="32" heighti="32"></div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                      <div class="gaadiex-list-item-text">
                        <div class="user-name">shashi</div>
                        <div class="color-gray"><span>Core Php,HTML5,CSS3,JavaScript</span></div>
                      </div>
                    </div>
                  </a></div>
                <div class="row border-b-1 freelist"><a href="https://www.onbenchmark.com/on/agus-101" class="pointer" target="_blank">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 imagesrc" src-img="/ssrsystem/images/user.svg" alt="freelancer photo" rel="prepend" widthi="32" heighti="32"></div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                      <div class="gaadiex-list-item-text">
                        <div class="user-name">Agus</div>
                        <div class="color-gray"><span>Java,Tibco,Webmethods,Talend</span></div>
                      </div>
                    </div>
                  </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- <div  ng-app="myApp" ng-controller="myCntrl" >-->
<%- include('../partials/footer.ejs') %>