<%- include('../partials/header') %>
<div class="inner-heading">
  <div class="container">
    <h3>Contact Us</h3>
  </div>
</div>
<div class="contact-now b-p-20">
  <div class="container">
    <div class="row formCont">
      <div class="col-md-6">
        <form id="contactform"><input type="hidden" id="captcha" name="captcha" value="">
          <div class="form-group row">
            <div class="col-sm-6"><input type="text" name="name" placeholder="Full Name" class="form-control" id="name" onchange="fieldcheck('nameerror','name')" onblur="fieldcheck('nameerror','name')" onkeyup="fieldcheck('nameerror','name')" maxlength="25"><small class="text-danger texthide" id="nameerror">Name must be of at least 5 characters and not exceed 25 characters.</small></div>
            <div class="col-sm-6"><input type="text" onkeypress="return isNumber(event)" name="phone" placeholder="Your Phone" class="form-control" id="phone" onchange="fieldcheck('phoneerror','phone')" onblur="fieldcheck('phoneerror','phone')" onkeyup="fieldcheck('phoneerror','phone')" maxlength="12"><small class="text-danger texthide" id="phoneerror">Please Enter Valid Mobile.</small></div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12"><input type="text" name="email" placeholder="Your Email" class="form-control" id="email" onchange="fieldcheck('emailerror','email')" onblur="fieldcheck('emailerror','email')" onkeyup="fieldcheck('emailerror','email')" maxlength="100"><small class="text-danger texthide" id="emailerror">Email is required.</small></div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12"><textarea class="form-control" placeholder="Type Your Message here.." id="description" onchange="fieldcheck('descriptionerror','description')" onkeyup="fieldcheck('descriptionerror','description')" onblur="fieldcheck('descriptionerror','description')" maxlength="500"></textarea><small class="text-danger texthide" id="descriptionerror">Name must be of at least 10 characters and not exceed 200 characters.</small></div>
          </div>
          <div id="here" class="form-group row">
            <div class="col-sm-12">
              <div id="recaptcha"></div>
            </div>
          </div>
          <div class="contact-btn"><button class="sub" type="button" disabled="disabled" onclick="conatctSubmit()" name="submitted" id="contactbtn">Submit &nbsp;<span class="regloader" style="display: none;"><img src="images/loginloader.gif" alt="loader" /></span></button></div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="contact">
              <div class="information"><strong><img src="images/email-blue.png" width="25" height="25" />&nbsp;Email Address:</strong>
                <p>info@onbenchmark.com</p>
              </div>
              <div class="information"><strong><img src="/images/phone-call.svg" width="25" height="25" />&nbsp;Phone No:</strong>
                <p>+91 97189 28125</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer.ejs') %>