<%- include('../partials/header') %>
<div class="inner-heading">
  <div class="container">
    <h1>FAQS</h1>
  </div>
</div>
<div class="inner-content-faq">
  <div class="container">
    <div class="inner-wrap">
      <div class="row">
        <div class="col-md-12">
          <div class="faqs">
            <div class="collaps">
              <h2>Frequently Asked Questions</h2>
              <ul class="faqs-service">

                <li>
                  <h1 class="">How much is the registration fee at OnBenchMark.com for Freelancers?</h1>
                  <p>Freelancer can register for free and does not require to pay any commission or registration fee at the time of getting job or project work. OnBenchMark is a zero commission freelancing website to get job and project work from global clients. Freelancers can connect directly with clients without any restriction and can share their contacts details to get repeat business unlike traditional top freelancing portals. Freelancers will get required freedom and autonomy to work at their terms and conditions.

                  </p>
                  <div class="clearfix"></div>
                </li>

                <li>
                  <h1 class="">Does OnBenchMark charges any commission if any freelancer gets a project?</h1>
                  <p>No, OnBenchMark does not charge any commission even if you get a project or job. OBM is without Bidding, without Commission Online website to hire freelancers or get freelance work. Its a free website for Freelancers to get part-time, remote and freelance project and job work.</p>
                  <div class="clearfix"></div>
                </li>

                <li>
                  <h1 class="">Is there any payment guarantee given by OnBenchMark from the Client?</h1>
                  <p>No, OnBenchMark does not provide any guarantee for any payment. You have to deal with the Client directly and work at your terms and conditions.</p>
                  <div class="clearfix"></div>
                </li>

                <li>
                  <h1 class="">Does OnBenchMark restrict client or freelancer to communicate with each other?</h1>
                  <p>No, OBM does not restrict any of its registered users to communicate with its Clients or candidates nor it signs any agreement with any of the party for any such restriction in communication. Freelancers can be contacted directly and the Clients also can be contacted directly. But OBM also given an option to its Registered user to get contacted either by email, phone or Internal chat. If you chose Internal Chat then none of your contact details will be displayed it to anybody</p>
                  <div class="clearfix"></div>
                </li>

                <li>
                  <h1 class="">Is there any preferred mode of communication provided by OnBenchMark?</h1>
                  <p>OnBenchMarkdoes give access to the Internal Chat to communicate with Client or Freelancer and it also shares Email ID or Phone Number or both if the other party have chosen to share there contact details</p>
                  <div class="clearfix"></div>
                </li>

                <li>
                  <h1 class="">How to search for Freelancers?</h1>
                  <p>Companies can search for Freelancers once they Sign Up and bought the subscription plan. They can search and directly connect with freelancers by posting Job at OnBenchMark and shortlisting profiles against the Job posted </p>
                  <div class="clearfix"></div>
                </li>

                <li>
                  <h1 class="">What are the different locations from where Jobs/Project is been posted at OnBenchMark?</h1>
                  <p>OnBenchMark is a global platform and it does not restrict any of its users to post any Job/Project from across the globe</p>
                  <div class="clearfix"></div>
                </li>

                <li>
                  <h1 class="">Which all locations can Freelancer post there profile?</h1>
                  <p>Since it’s a global platform any freelancer/Digital Nomad/Gig Worker/Remote Worker can post the profile from any part of the world.</p>
                  <div class="clearfix"></div>
                </li>

                <li>
                  <h1 class="">If I have registered as Business, will my bench resource name and my contact details will be displayed to any user?</h1>
                  <p>No, System will assign a code for each of your bench resource/Unutilized resource and nobody can directly connect with your Bench Employee/unutilized resource. Only Business SPOC, whose email ID and contact details can connect with a potential Freelancer, client or for Bench Deployment opportunities.</p>
                  <div class="clearfix"></div>
                </li>

                <li>
                  <h1 class="">If I don’t have the bench resources/Unutilized resource/Idle resource, may I still hire some other company&#39;s bench resources/ Unutilized resources/idle resources?</h1>
                  <p>Yes you can connect with any other company to hire there bench Employees/ Unutilized Employees /Idle Employees on contract. OnBenchMark does not charges any commission or hiring fee to get those resources on contract</p>
                  <div class="clearfix"></div>
                </li>

                <li>
                  <h1 class="">What kind of Job or Projects I can search for ?</h1>
                  <p>OnBenchMark is variety of Job opportunities that includes skills like Web Designing, Web Development, Graphic Designing, Content Writing, .Net, Java, PHP, Data Science, Python, SAP, Oracle Apps, DBA, Data Entry, Copy Writing etc. It also have Non IT Jobs like Fashion &amp; apparel Jobs, Health &amp; Fitness Jobs, Engineering &amp; Design Jobs, Accounting &amp; Finance Jobs, Travel &amp; Tourism Jobs</p>
                  <div class="clearfix"></div>
                </li>

                <li>
                  <h1 class="">How much is the registration fee for Businesses or Companies at OnBenchMark.com?</h1>
                  <p>Businesses can Sign Up for free for the basic plan but have to pay subscription fee to get essential plan and premium plan. Companies can hire and connect with freelancers directly and can post the Job &amp; bench employee&#39;s profiles for free. OnBenchMark helps companies for sharing of resources by deploying or hiring of bench resources on contract. OBM also helps companies to get projects and outsource project work to 1000s of trusted and verified networked companies</p>
                  <div class="clearfix"></div>
                </li>

                <li>
                  <h1 class="">How much commission charged by OnBenchMark?</h1>
                  <p>OnBenchMark is a zero commission freelancing portal unlike the conventional freelancing portals. It doesn&#39;t charge any commission and it does not interfere in any transaction between client and freelancer and helps freelancers to connect directly with each other to work at your own terms and conditions.</p>
                  <div class="clearfix"></div>
                </li>

                <li>
                  <h1 class="">How to sell Bench resources at OnBenchMark ?</h1>
                  <p>Companies can upload the resumes of bench employees at OnBenchMark.com and networked companies will directly shortlist and connect with the employer of the bench resources for their respective contractual positions. </p>
                  <div class="clearfix"></div>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer.ejs') %>