<%- include('../partials/header') %>
<section class="header-logo">
  <div class="container">
    <div class="logoBox">
      <a href="index.html">
        <img class="img-responsive" src="ssrsystem/images/pages/logo.svg" alt="">
      </a>
    </div>
  </div>
</section>
<!--section-  header-logo -->
<!-- Section-a -->
<section class="section-a">
  <div class="container">
    <div class="row">
      <div class="col-md-7 ">
        <div class="section-a-div-a">
          <h2 class="header-a">
            Connect with&nbsp;<span class="focus-text">Global Clients</span>&nbsp;to Sell <span class="focus-text">Bench or Get Projects</span>
          </h2>
          <h2 class="header-a">
            Join the Biggest&nbsp;<span class="focus-text">Talent Marketplace</span>
          </h2>

          <h2 class="header-a">Expand your Business &&nbsp;<span class="focus-text"> Reduce Sales
              Cost</span></h2>
          <p class="inner-text">
            Deploy bench & get clients to expand your business & increase revenue.
            Reduce your sales cost as we will do help you sell your bench employees or get projects
          </p>
          <p class="sign-up">
            SignUp for Free ( no Credit Card Required) or Connect at : <br><b>+91 97189 28125</b>
          </p>
          <div class="row">
            <div class="col-sm-6 col-sm-6">
              <a href="registration-payment/free/1/in.html" class="btn submit-button-sec-a">Free
                SignUp</a>
              <p class="bottom-sec-b">No Credit Card Required</p>
            </div>
            <div class="col-sm-6 col-sm-6">
              <a href="request-demo.html" class="btn submit-button-sec-a">Request Demo</a>
            </div>
          </div>


          <!-- <button type="button" class="btn btn-block register-btn">Button</button> -->
          <!-- <button class="popUpForm register-btn" type="button">Button</button> -->
        </div>
      </div>
      <div class="col-md-5">
        <div class="section-a-div-b">
          <div class=" form">

            <form class="form-horizontal" id="contactform">
              <input type="hidden" id="captcha" name="captcha" value="">
              <p class="free-trial">Find clients to deploy bench or get projects</p>

              <div class="form-group">
                <!-- <label class="control-label col-sm-2" for="email">Name:</label> -->
                <div class="col-sm-12">
                  <input type="text" class="form-control form-div-b" id="name" placeholder="Enter Name" onchange="fieldcheck('nameerror','name')" onblur="fieldcheck('nameerror','name')" onkeyup="fieldcheck('nameerror','name')" maxlength="25">
                  <small class="text-danger texthide" id="nameerror">
                    Name must be of at least 5 characters and not exceed 25 characters.
                  </small>
                </div>
              </div>
              <div class="form-group">
                <!-- <label class="control-label col-sm-2" for="email">Name:</label> -->
                <div class="col-sm-12">
                  <input type="text" onkeypress="return isNumber(event)" name="phone" placeholder="Your Phone" class="form-control form-div-b" id="phone" onchange="fieldcheck('phoneerror','phone')" onblur="fieldcheck('phoneerror','phone')" onkeyup="fieldcheck('phoneerror','phone')" maxlength="12">
                  <small class="text-danger texthide" id="phoneerror">
                    Please Enter Valid Mobile.
                  </small>
                </div>
              </div>

              <div class="form-group">
                <!-- <label class="control-label col-sm-2" for="email">Email:</label> -->
                <div class="col-sm-12">


                  <input type="text" name="email" placeholder="Your Email" class="form-control form-div-b" id="email" onchange="fieldcheck('emailerror','email')" onblur="fieldcheck('emailerror','email')" onkeyup="fieldcheck('emailerror','email')" maxlength="100">
                  <small class="text-danger texthide" id="emailerror">
                    Email is required.
                  </small>

                </div>
              </div>
              <div class="form-group">
                <!-- <label class="control-label col-sm-2" for="email">Name:</label> -->
                <div class="col-sm-12">
                  <textarea class="form-control form-div-b-text" placeholder="Type Your Message here.." id="description" onchange="fieldcheck('descriptionerror','description')" onkeyup="fieldcheck('descriptionerror','description')" onblur="fieldcheck('descriptionerror','description')" rows="2" maxlength="500"></textarea>
                  <small class="text-danger texthide" id="descriptionerror">
                    Name must be of at least 10 characters and not exceed 200 characters.
                  </small>


                </div>
              </div>

              <div id="here" class="form-group row">
                <div class="col-sm-12">
                  <div id="recaptcha"></div>
                </div>
              </div>
              <!-- <div class="form-group">
                                    <div class="col-sm-12">
                                        <select name="search_category" id="search_category" class="form-control form-div-b">
                                            <option value="0" selected="selected">Select Category</option>
                                            <option class="form-div-b" value="47">Html</option>
                                            <option class="form-div-b" value="31">Css</option>
                                            <option class="form-div-b" value="32">Others</option>
                                            </select>
                                    </div>
                                  </div> -->
              <!-- <div class="form-group">
                                  <div class="col-sm-12 col-sm-12">
                                    <div class="checkbox">
                                      <label><input type="checkbox"> Agree to the <a href="">Terms of Service</a> and <a href="">Privacy Policy</a></label>
                                    </div>
                                  </div>
                                </div> -->
              <div class="form-group">
                <div class="col-sm-12 col-sm-12">

                  <button class="btn submit-button" type="button" disabled="disabled" onclick="conatctSubmit()" name="submitted" id="contactbtn">
                    Contact Us &nbsp;
                    <span class="regloader" style="display: none;">
                      <img src="../obmassets.s3.ap-south-1.amazonaws.com/images/loginloader.gif" alt="loader" /> </span>
                  </button>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section-a -->
<!-- Section-b -->
<section class="section-b">
  <div class="container">
    <div class="sub-title">
      <h2 class="title-b">Deploy Bench & Get Clients</h2>
      <h4 class="subtitle-b">
        Reduce your bench resource loss and deploy your bench employees on contract to
        global clients. Reduce sales cost by upto 70%. Join the global community of IT companies to get
        business
      </h4>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
        <div class="section-b-div">
          <img src="ssrsystem/images/pages/logo1.jpg" class="logo-port">
        </div>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
        <div class="section-b-div">
          <img src="ssrsystem/images/pages/logo2.jpg" class="logo-port">
        </div>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
        <div class="section-b-div">
          <img src="ssrsystem/images/pages/logo3.jpg" class="logo-port">
        </div>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
        <div class="section-b-div">
          <img src="ssrsystem/images/pages/logo4.jpg" class="logo-port">
        </div>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
        <div class="section-b-div">
          <img src="ssrsystem/images/pages/logo5.png" class="logo-port">
        </div>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
        <div class="section-b-div">
          <img src="ssrsystem/images/pages/logo6.jpg" class="logo-port">
        </div>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
        <div class="section-b-div">
          <img src="ssrsystem/images/pages/logo7.jpg" class="logo-port">
        </div>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
        <div class="section-b-div">
          <img src="ssrsystem/images/pages/logo8.jpg" class="logo-port">
        </div>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
        <div class="section-b-div">
          <img src="ssrsystem/images/pages/logo7-2.jpg" class="logo-port">
        </div>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
        <div class="section-b-div">
          <img src="ssrsystem/images/pages/a.jpg" class="logo-port">
        </div>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
        <div class="section-b-div">
          <img src="ssrsystem/images/pages/h.jpg" class="logo-port">
        </div>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
        <div class="section-b-div">
          <img src="ssrsystem/images/pages/i.jpg" class="logo-port">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section-b -->

<!-- Section-C -->
<div class="container">
  <section class="section-c">
    <div class="section-c-div-a">
      <h3 class="title-h3">Trusted Platform for Bench Sales</h3>
      <p>OnBenchMark is the most trusted and easy to use platform for deploying bench at zero commission. An
        open platform for On-Demand Resourcing and Just-In-Hiring. One-stop solution for Contractual,
        Part-Time, Temporary, Flexible Hiring needs. Free Job Posting & Free Project Posting. Deploy Bench
        Resources / Bench Employees/ Unutilized Resources/ Idle Resources for onsite or Offsite projects.
      </p>
    </div>
  </section>
</div>
<!-- Section-C -->

<!-- Section-d -->
<section class="section-d">
  <div class="container">
    <div class="subtitle-section-d">Sell your Bench at Zero Commission</div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden-xs">
        <div class="section-d-div-a">
          <h3>Connect & Deploy Bench</h3>
          <p> Get connected directly with global clients to deploy & bill your bench on contract or get
            projects.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden-xs">
        <div class="section-d-div-b">
          <!-- <img src="images/2.png" class="img-port-d"> -->
          <img src="ssrsystem/images/pages/2.png" class="img-circle" alt="Cinque Terre">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden-xs">
        <div class="section-d-div-b">
          <!-- <img src="images/3.png" class="img-port-d"> -->
          <img src="ssrsystem/images/pages/3.png" class="img-circle" alt="Cinque Terre">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden-xs">
        <div class="section-d-div-a">
          <h3>Make Clients & Expand Business</h3>
          <p> No need to hire a sales team. Make relevant clients to deploy your bench through platform.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden-xs">
        <div class="section-d-div-a">
          <h3>Get Immediate Joiner</h3>
          <p> Get immediate joiner on contract/ part-time from the biggest pool of real time active bench.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden-xs">
        <div class="section-d-div-b">
          <!-- <img src="images/4.png" class="img-port-d"> -->
          <img src="ssrsystem/images/pages/4.png" class="img-circle" alt="Cinque Terre">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden-xs">
        <div class="section-d-div-b">
          <!-- <img src="images/5.png" class="img-port-d"> -->
          <img src="ssrsystem/images/pages/5.png" class="img-circle" alt="Cinque Terre">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden-xs">
        <div class="section-d-div-a">
          <h3>Find Talent Your Way</h3>
          <p> Connect directly with bench employers or freelancers to hire candidates on contract</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden-sm hidden-md hidden-lg">
        <div class="section-d-div-a">
          <h3>Connect & Deploy Bench</h3>
          <p> Get connected directly with global clients to deploy & bill your bench on contract or get
            projects.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 hidden-sm hidden-md hidden-lg">
        <div class="section-d-div-b">
          <!-- <img src="images/2.png" class="img-port-d"> -->
          <img src="ssrsystem/images/pages/2.png" class="img-circle" alt="Cinque Terre">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 hidden-sm hidden-md hidden-lg">
        <div class="section-d-div-a">
          <h3>Make Clients & Expand Business</h3>
          <p> No need to hire a sales team. Make relevant clients to deploy your bench through platform.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 hidden-sm hidden-md hidden-lg">
        <div class="section-d-div-b">
          <!-- <img src="images/3.png" class="img-port-d"> -->
          <img src="ssrsystem/images/pages/3.png" class="img-circle" alt="Cinque Terre">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 hidden-sm hidden-md hidden-lg">
        <div class="section-d-div-a">
          <h3>Get Immediate Joiner</h3>
          <p> Get immediate joiner on contract/ part-time from the biggest pool of real time active bench.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 hidden-sm hidden-md hidden-lg">
        <div class="section-d-div-b">
          <!-- <img src="images/4.png" class="img-port-d"> -->
          <img src="ssrsystem/images/pages/4.png" class="img-circle" alt="Cinque Terre">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 hidden-sm hidden-md hidden-lg">
        <div class="section-d-div-a">
          <h3>Find Talent Your Way</h3>
          <p> Connect directly with bench employers or freelancers to hire candidates on contract</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 hidden-sm hidden-md hidden-lg">
        <div class="section-d-div-b">
          <!-- <img src="images/5.png" class="img-port-d"> -->
          <img src="ssrsystem/images/pages/5.png" class="img-circle" alt="Cinque Terre">
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../partials/footer.ejs') %>