<%- include('../partials/header') %>
<%- include('../partials/navbar.ejs') %>

<div class="login-inner loginWrp">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="login">
          <div class="formint conForm">
            <form [formGroup]="forgotForm">
              <div class="input-wrap">
                <label class="input-group-addon">Email*</label>
                <input type="text" name="name" placeholder="Enter Email" class="form-control" id="email" onchange="fieldcheck('emailerror','email')" onblur="fieldcheck('emailerror','email')" onkeyup="fieldcheck('emailerror','email')">
                <small class="text-danger text-error" id="emailerror">Email is required</small>
              </div>
              <div class="sub-btn">
                <button type="button" disabled="disabled" class="sbutn" id="forgotPasswordbtn" onclick="forgotPasswordFormSubmit()"> Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/bottom.ejs') %>