<%- include('../partials/header') %>
<section class="bg-dark text-light pb-5 text-center">
  <h1 class="pt-5">Keep forgetting <span class="text-danger">links ?</span></h1>
  <h1>Not <span class="text-warning">Anymore!</span></h1>
  <br>

  <p class="mt-5 mb-0">linkcollect is the only browser extension that you need to organise</p>
  <p class="mb-0">your links in simple, clean and efficient manner + we let you</p>
  <p class="mb-5">discover popular collections, just like pinterest</p>
  <button class="btn btn-warning">Install Extension</button>
</section>

<section class="text-center mt-5 mb-5 p-5">
  <h1>Trending Collections</h1>
  <div class="container d-flex w-50 mb-5">
    <div class="card  m-3 border border-1" style="width: 10rem;height: 5rem;">
      <img src="image/sampleImage.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Remote Jobs</h5>
        <span class="badge text-bg-primary mb-3">by dilip kumar</span>
        <br>
        <i class="bi bi-balloon-heart-fill"></i>&nbsp;
        <i class="bi bi-eye"></i>
      </div>
    </div>
    <div class="card m-3 border border-1" style="width: 10rem;height: 5rem;">
      <img src="image/sampleImage.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Remote Jobs</h5>
        <span class="badge text-bg-primary mb-3">by dilip kumar</span>
        <br>
        <i class="bi bi-balloon-heart-fill"></i>&nbsp;
        <i class="bi bi-eye"></i>
      </div>
    </div>
    <div class="card m-3 border border-1" style="width: 10rem;height: 5rem;">
      <img src="image/sampleImage.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Remote Jobs</h5>
        <span class="badge text-bg-primary mb-3">by dilip kumar</span>
        <br>
        <i class="bi bi-balloon-heart-fill"></i>&nbsp;
        <i class="bi bi-eye"></i>
      </div>
    </div>
    <div class="card m-3 border border-1" style="width: 10rem;height: 5rem;">
      <img src="image/sampleImage.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Remote Jobs</h5>
        <span class="badge text-bg-primary mb-3">by dilip kumar</span>
        <br>
        <i class="bi bi-balloon-heart-fill"></i>&nbsp;
        <i class="bi bi-eye"></i>
      </div>
    </div>
    <div class="card m-3 border border-1" style="width: 10rem;height: 5rem;">
      <img src="image/sampleImage.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Remote Jobs</h5>
        <span class="badge text-bg-primary mb-3">by dilip kumar</span>
        <br>
        <i class="bi bi-balloon-heart-fill"></i>&nbsp;
        <i class="bi bi-eye"></i>
      </div>
    </div>

  </div>
</section>

<%- include('../partials/bottom') %>