<%- include('../partials/header') %>
<div class="inner-content listing detail">
  <ol class="breadcrumb">
    <li>
      <a href="https://www.onbenchmark.com/">home</a>
    </li>

    <li>
      <a href="https://www.onbenchmark.com/freelance-jobs">Freelance Jobs</a>
    </li>

    <li class="active">MS Dynamics Developer - UK Shift</li>
  </ol>
  <div class="container-fluid">
    <div class="inner-wrap">
      <div class="row">
        <div class="col-md-8 ">
          <div class="listWrpService2">
            <div class="row other-des">
              <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="listImg imagesrc" src-img="/assets/images/portfolio.png" alt="Job Icon" rel="prepend" widthi="105px" heighti="105px">

                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <h1 class="job-title">
                  MS Dynamics Developer - UK Shift
                </h1>
                <p>
                  <img src="https://obmassets.s3.ap-south-1.amazonaws.com/images/icon/office-chair.svg" width="16" height="16" alt="No of Positions" />&nbsp;
                  No of Positions: &nbsp; 1
                </p>
                <p> <img src="https://obmassets.s3.ap-south-1.amazonaws.com/images/icon/map.svg" width="16" height="16" alt="location" />&nbsp;Location:

                  <span>
                    Delhi

                  </span>

                </p>
                <p> <img src="https://obmassets.s3.ap-south-1.amazonaws.com/images/icon/chronometer.svg" width="16" height="16" alt="date">&nbsp;Tentative Start Date:
                  &nbsp; September 08, 2022
                </p>
                <p> <img src="https://obmassets.s3.ap-south-1.amazonaws.com/images/icon/office.svg" width="16" height="16" alt="Work From">&nbsp;Work From :

                  <span>
                    Offsite
                  </span>


                </p>
              </div>
              <div class="col-sm-4">
                <p><img src="https://obmassets.s3.ap-south-1.amazonaws.com/images/icon/dollar-symbol.svg" width="16" height="16" alt="rate">&nbsp;Rate : $ 7
                  &nbsp;-&nbsp;
                  8 (Hourly)</p>
                <p><img src="https://obmassets.s3.ap-south-1.amazonaws.com/images/icon/achievement.svg" width="16" height="16" alt="experience">&nbsp;Experience :
                  5&nbsp;to&nbsp;8&nbsp;Year
                </p>

              </div>
            </div>
            <div class="row details-panel">
              <!-- <div class="col-sm-4"> 
                  Posted:  
                  
                  
                </div> -->
              <div class="col-sm-6">
                Job Applicants : 5
              </div>
              <div class="col-sm-6">
                Job Views : 276
              </div>
            </div>
            <div ng-if="jobapplydata.count>0 && authdata.loginType == 4">
              <div class="row contact-list">
                <div class="col-sm-12">
                  You have successfully applied. Company will contact you soon.
                </div>
              </div>
            </div>
            <div ng-if="authdata.loginType == 3 && jobapplydata.count>0">
              <div class="row company-info" ng-if="jobapplydata.package=='live' && jobapplydata.packageType==3">
                <div class="col-sm-6">
                  Name : {{jobapplydata.name}}
                </div>
                <div class="col-sm-6">
                  Company Name : {{jobapplydata.cname}}
                </div>
              </div>
              <div class="row contact-list" ng-if="jobapplydata.package=='live'">
                <div class="col-sm-6">
                  <img src="https://www.onbenchmark.com/ssrsystem/images/icon/email-obm.svg" width="25" height="25" alt="Email">&nbsp;
                  {{jobapplydata.email}} |
                  &nbsp;<span class="send-email pointer" ng-click="viewsendemail()"> Send Email </span> &nbsp;
                  <span ng-if="emaildata.total>0" class="badge pointer" ng-click="view_list_email()">{{emaildata.total}}</span>
                </div>
                <div ng-if="jobapplydata.phone!=null" class="col-sm-6">
                  <img src="https://www.onbenchmark.com/ssrsystem/images/icon/phone-obm.svg" width="25" height="25" alt="Phone">&nbsp;{{jobapplydata.phone}} |
                  <span class="call pointer" ng-click="phonecall(jobapplydata.phone)"> Call </span>
                </div>
                <div ng-if="jobapplydata.phone==null" class="col-sm-6">
                  <img src="https://www.onbenchmark.com/ssrsystem/images/icon/phone-obm.svg" width="25" height="25" alt="Phone">&nbsp;
                  <a type="button" class="btn btn-warning" href="https://www.onbenchmark.com/onbench/business/package/plan?checkoutstt=1">
                    Upgrade Plan</a>
                </div>
              </div>
              <div class="row contact-list" ng-if="jobapplydata.package=='upgrade'">
                <div class="col-sm-12">
                  You have successfully applied. Need to upgrade your plan to view contact details of client.
                  <a type="button" class="btn btn-warning" href="https://www.onbenchmark.com/onbench/business/package/plan?checkoutstt=1">
                    Upgrade Plan
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="listWrpService2">
            <div class="row other-des">
              <div class="col-sm-6">
                Job Category : Information Technology &amp; Services
              </div>
              <div class="col-sm-6">
                Duration : 6-12

                <span>&nbsp;Month</span>

              </div>
            </div>
          </div>
          <div class="listWrpService2">
            <div class="row">
              <div class="col-sm-12">
                <div class="view-title">
                  <img src="https://obmassets.s3.ap-south-1.amazonaws.com/images/icon/logical-thinking.png" alt="Key Skills" width="16" height="16">&nbsp;Required Skills
                </div>
                <div class="skill-list">

                  <span class="skill-list">
                    Dynamics 365 CRM
                  </span>

                  <span class="skill-list">
                    Sales and Marketing Module
                  </span>

                  <span class="skill-list">
                    MS Dynamics CRM
                  </span>

                  <span class="skill-list">
                    C#
                  </span>

                  <span class="skill-list">
                    Javascript
                  </span>

                  <span class="skill-list">
                    HTML
                  </span>

                  <span class="skill-list">
                    CSS
                  </span>

                  <span class="skill-list">
                    Azure
                  </span>

                  <span class="skill-list">
                    Cloud Technologies
                  </span>

                  <span class="skill-list">
                    Power BI
                  </span>

                  <span class="skill-list">
                    .Net
                  </span>

                </div>
              </div>
            </div>
          </div>
          <div class="listWrpService2">
            <div class="row">
              <div class="col-sm-12">
                <div class="view-title">
                  Description
                </div>
                <div class="view-details">

                  <p><strong>Your Day-to-day Responsibilities Include</strong></p>

                  <ul>
                    <li>Deliver quality developments (customizations and integrations) with defined quality standards</li>
                    <li>Go through functional design of given business requirements for technical solution and build detailed Technical Design Document (TDD)</li>
                    <li>Work closely with functional consultants to understand requirements</li>
                    <li>Report progress periodically to lead/project manager and assist them in reporting</li>
                    <li>Check in/check out code in Azure DevOps and update work items</li>
                    <li>Tackle technical issues encountered during testing cycles</li>
                  </ul>

                  <p><strong>Desirable Skills &amp; Experience</strong></p>

                  <ul>
                    <li>5+ years of experience in Dynamics 365 CRM (Online Preferred) Development &ndash; MUST</li>
                    <li>Must have knowledge in Sales and Marketing Module. &ndash; MUST</li>
                    <li>Must have strong Technical knowledge of MS Dynamics CRM, including customization, deployment and configuring CRM &ndash; MUST</li>
                    <li>Must have knowledge in developing using the following programming languages C#, .net, JavaScript, HTML, CSS etc. - MUST</li>
                    <li>Specific areas of .Net Plug -in development, JavaScript, Workflow, configuration, logic Apps, power automate, understanding data models etc. - MUST</li>
                    <li>Hands-on Microsoft Dynamics 365 CRM design and development experience&nbsp;</li>
                    <li>Knowledge of capabilities of the supporting software in the Microsoft stack such as Power Platform and Azure integration tools is a plus &ndash; OPTIONAL</li>
                    <li>Understanding of Azure and cloud technologies, .Net development and Power BI Power Platform</li>
                    <li>Microsoft Certifications are a plus &nbsp;</li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 pad-1">
          <div class="sidebarWrp">
            <div ng-if="loginType==0" class="free-innner">
              <button onclick="applyjob()" type="button" class="btn btn-blue">Upload Resume</button>
            </div>
            <div class="ng_div" style="display:none;">
              <div class="sidebarWrp " ng-if="loginType==4">
                <div ng-if="freecheck==0" class="free-innner">
                  <button ng-click="applyjob(4)" type="button" class="btn btn-blueBtn btn2">Apply</button>
                  &nbsp;
                  <i class="fa fa-info-circle info" tooltip="Apply on job" placement="top"></i>
                </div>
                <div ng-if="freecheck>0" class="free-innner">
                  <button type="button" class="btn btn-green">Applied</button>
                  &nbsp;
                  <i class="fa fa-info-circle info" tooltip="You applied already, go to job/project history list and can contact direclty to a company" placement="top"></i>
                  <div class="msg-already"> Job applied, view dashboard for more details </div>
                </div>
              </div>
              <div ng-if="loginType==3" class="sidebarWrp">
                <div class="margin-bottum-10 listWrpService2">
                  <div class="title-can2 blue-bg">
                    My Resources ({{totalapply}})
                    <div ng-if="totalapply>mybenchfilter.limit" class="pull-right">
                      <button ng-disabled="mybenchfilter.page==1" type="button" class="btn btn-page" ng-click="prev(3)">

                        <img src="https://www.onbenchmark.com/ssrsystem/images/icon/left-arrow-white.png" width="15" alt="left arrow white">
                      </button>

                      <button ng-disabled="mybenchfilter.pagetotal==mybenchfilter.page" class="btn btn-page" type="button" ng-click="next(3)">

                        <img src="https://www.onbenchmark.com/ssrsystem/images/icon/right-chevron-white.png" width="15" alt="right chevron white">
                      </button>
                    </div>
                  </div>
                  <!-- <div class="search-text">
                         <input type="text" class="form-control" placeholder="Search by Name"/>
                      </div> -->
                  <div class="search-text">
                    <div class="row">


                      <div class="col-sm-5">
                        <select class="form-control-2" id="searchskill" ng-model="searchskill">
                          <option value="">Search by Skill </option>

                          <option value="Dynamics 365 CRM"> Dynamics 365 CRM </option>


                          <option value="Sales and Marketing Module"> Sales and Marketing Module </option>


                          <option value="MS Dynamics CRM "> MS Dynamics CRM </option>


                          <option value=" C#"> C# </option>


                          <option value="Javascript"> Javascript </option>


                          <option value="HTML"> HTML </option>


                          <option value="CSS"> CSS </option>


                          <option value="Azure"> Azure </option>


                          <option value="Cloud Technologies"> Cloud Technologies </option>


                          <option value="Power BI"> Power BI </option>


                          <option value=".Net"> .Net </option>


                        </select>
                      </div>
                      <div class="col-sm-5">
                        <input type="text" class="form-control-2" id="searchname" ng-model="searchname" placeholder="Name or Designation" />
                      </div>
                      <div class="col-sm-2">
                        <div class="search-div" ng-click="search_candidate()">
                          <img src="https://www.onbenchmark.com/ssrsystem/images/icon/search-icon.svg" width="22" alt="search icon">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div ng-if="candidateresult.length>0" class="gaadiex-list">

                    <div ng-repeat="list in candidateresult track by $index">
                      <div ng-if="list.appliedstatus==0 && list.adminverified==1" ng-class="list.select==true?'sltrow':''" class="row border-b-1 my-r pointer" ng-click="selectcandidate(list._id,$index,list.companyLoginId,list.name ,list.resourceId)">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                          <img src="https://www.onbenchmark.com/ssrsystem/images/icon/small.svg" class="candidate" width="50" width="50" alt="candidate">
                        </div>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                          <div class="gaadiex-list-item-text">
                            <div>{{list.name}} </div>
                            <div><span class="label label-orange">{{list.designation}}</span> </div>
                          </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">

                          <span ng-if="list.select==true" class="pointer add-btn">
                            <img src="https://www.onbenchmark.com/ssrsystem/images/icon/minus.png" tooltip="Remove to select" placement="auto" width="24" height="24" alt="minus" />
                          </span>
                          <span ng-if="list.select==false" class="pointer add-btn">
                            <img src="https://www.onbenchmark.com/ssrsystem/images/icon/show.svg" tooltip="Click to select" placement="auto" width="24" height="24" alt="plus" />
                          </span>

                        </div>
                      </div>
                      <div ng-if="list.appliedstatus>=1 && list.adminverified==1" ng-class="list.appliedstatus>=1?'sltrow':''" class="row border-b-1 my-r">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                          <img src="https://www.onbenchmark.com/ssrsystem/images/icon/small.svg" class="candidate" width="50" width="50">
                        </div>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                          <div class="gaadiex-list-item-text">
                            <div>{{list.name}} </div>
                            <div><span class="label label-orange">{{list.designation}}</span></div>
                          </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                          <div class="applied-already">
                            <span class="label label-success">Already Applied</span>
                          </div>
                        </div>
                      </div>
                      <div ng-if="list.adminverified==0" class="row border-b-1 my-r">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                          <img src="https://www.onbenchmark.com/ssrsystem/images/icon/small.svg" class="candidate" width="50" width="50" alt="candidate small">
                        </div>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                          <div class="gaadiex-list-item-text">
                            <div>{{list.name}} </div>
                            <div><span class="label label-orange">{{list.designation}}</span></div>
                          </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                          <div class="applied-already">
                            <span class="label label-default not-verify" tooltip="Under Process, Yet to be Verified" placement="left">
                              <i class="fa fa-times-circle-o "></i> Not Verified </span>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div ng-if="candidateresult.length==0" class="not-found">
                    <div class="row">
                      <div class="col-sm-12 text-center">
                        <span>
                          No Resources have been added.
                        </span>
                        <br>
                        <a href="https://www.onbenchmark.com/onbench/business/resource/add-candidate" class="btn btn-link not-found" target="_blank">
                          <i class="fa fa-plus"> </i> Add Resources</a>
                        <br>
                      </div>
                    </div>
                  </div>
                  <div class="apply text-center footer-apply">
                    <button type="button" class="btn btn-blueBtn btn2" ng-disabled="sltList.length==0" ng-click="applyjob(3)"> Apply
                    </button> &nbsp;
                    <i class="fa fa-info-circle info" tooltip="Select Resources to Apply" placement="top"></i>
                    <br>
                    <br>
                  </div>
                </div>
              </div>
            </div>

            <div class="margin-bottum-10 listWrpService2">
              <div class="title-can blue-bg">
                Similar Job/Project
              </div>
              <div class="gaadiex-list">

                <div class="row job-r">
                  <div class="col-sm-2 col-xs-12">
                    <img src="https://www.onbenchmark.com/assets/images/work.png" width="45" height="45" alt="work">
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <div class="gaadiex-list-item-text">
                      <div>

                        <a href="https://www.onbenchmark.com/job-details/qa-automation-engineer/641d7d87b6dee8904b5181ee" target="_blank">
                          QA Automation Engineer
                        </a>
                      </div>
                      <div>
                        <img src="https://obmassets.s3.ap-south-1.amazonaws.com/images/icon/map.png" width="16" height="16" alt="location">



                      </div>
                    </div>
                  </div>
                </div>

                <div class="row job-r">
                  <div class="col-sm-2 col-xs-12">
                    <img src="https://www.onbenchmark.com/assets/images/work.png" width="45" height="45" alt="work">
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <div class="gaadiex-list-item-text">
                      <div>

                        <a href="https://www.onbenchmark.com/job-details/full-stack-developer/645124bbb6dee8904b51dd80" target="_blank">
                          Full Stack Developer
                        </a>
                      </div>
                      <div>
                        <img src="https://obmassets.s3.ap-south-1.amazonaws.com/images/icon/map.png" width="16" height="16" alt="location">

                        Pune

                      </div>
                    </div>
                  </div>
                </div>

                <div class="row job-r">
                  <div class="col-sm-2 col-xs-12">
                    <img src="https://www.onbenchmark.com/assets/images/work.png" width="45" height="45" alt="work">
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <div class="gaadiex-list-item-text">
                      <div>

                        <a href="https://www.onbenchmark.com/job-details/sharepoint-developer/649943677c0d693897b69c91" target="_blank">
                          Sharepoint developer
                        </a>
                      </div>
                      <div>
                        <img src="https://obmassets.s3.ap-south-1.amazonaws.com/images/icon/map.png" width="16" height="16" alt="location">

                        REMOTE

                      </div>
                    </div>
                  </div>
                </div>

                <div class="row job-r">
                  <div class="col-sm-2 col-xs-12">
                    <img src="https://www.onbenchmark.com/assets/images/work.png" width="45" height="45" alt="work">
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <div class="gaadiex-list-item-text">
                      <div>

                        <a href="https://www.onbenchmark.com/job-details/data-architect/64a28bdf7c0d693897b6a85c" target="_blank">
                          Data Architect
                        </a>
                      </div>
                      <div>
                        <img src="https://obmassets.s3.ap-south-1.amazonaws.com/images/icon/map.png" width="16" height="16" alt="location">

                        bangalore\mangalore

                      </div>
                    </div>
                  </div>
                </div>

                <div class="row job-r">
                  <div class="col-sm-2 col-xs-12">
                    <img src="https://www.onbenchmark.com/assets/images/work.png" width="45" height="45" alt="work">
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <div class="gaadiex-list-item-text">
                      <div>

                        <a href="https://www.onbenchmark.com/job-details/salesforce-developer/64a950a47c0d693897b6b21e" target="_blank">
                          Salesforce Developer
                        </a>
                      </div>
                      <div>
                        <img src="https://obmassets.s3.ap-south-1.amazonaws.com/images/icon/map.png" width="16" height="16" alt="location">

                        REMOTE

                      </div>
                    </div>
                  </div>
                </div>

                <div class="row job-r">
                  <div class="col-sm-2 col-xs-12">
                    <img src="https://www.onbenchmark.com/assets/images/work.png" width="45" height="45" alt="work">
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <div class="gaadiex-list-item-text">
                      <div>

                        <a href="https://www.onbenchmark.com/job-details/full-stack-developer/64ad1ccd7c0d693897b6b571" target="_blank">
                          Full Stack Developer
                        </a>
                      </div>
                      <div>
                        <img src="https://obmassets.s3.ap-south-1.amazonaws.com/images/icon/map.png" width="16" height="16" alt="location">

                        REMOTE

                      </div>
                    </div>
                  </div>
                </div>

                <div class="row job-r">
                  <div class="col-sm-2 col-xs-12">
                    <img src="https://www.onbenchmark.com/assets/images/work.png" width="45" height="45" alt="work">
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <div class="gaadiex-list-item-text">
                      <div>

                        <a href="https://www.onbenchmark.com/job-details/dot-net-engineer/64804e8e7c0d693897b67e4a" target="_blank">
                          DOT NET ENGINEER
                        </a>
                      </div>
                      <div>
                        <img src="https://obmassets.s3.ap-south-1.amazonaws.com/images/icon/map.png" width="16" height="16" alt="location">

                        REMOTE

                      </div>
                    </div>
                  </div>
                </div>

                <div class="row job-r">
                  <div class="col-sm-2 col-xs-12">
                    <img src="https://www.onbenchmark.com/assets/images/work.png" width="45" height="45" alt="work">
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <div class="gaadiex-list-item-text">
                      <div>

                        <a href="https://www.onbenchmark.com/job-details/full-stack-developer-net-react-/64c251941c252c6d818fa124" target="_blank">
                          FULL STACK DEVELOPER (.NET + REACT)
                        </a>
                      </div>
                      <div>
                        <img src="https://obmassets.s3.ap-south-1.amazonaws.com/images/icon/map.png" width="16" height="16" alt="location">

                        Jaipur

                      </div>
                    </div>
                  </div>
                </div>

                <div class="row job-r">
                  <div class="col-sm-2 col-xs-12">
                    <img src="https://www.onbenchmark.com/assets/images/work.png" width="45" height="45" alt="work">
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <div class="gaadiex-list-item-text">
                      <div>

                        <a href="https://www.onbenchmark.com/job-details/full-stack-developer/64c3a4701c252c6d8190fc4e" target="_blank">
                          FULL STACK DEVELOPER
                        </a>
                      </div>
                      <div>
                        <img src="https://obmassets.s3.ap-south-1.amazonaws.com/images/icon/map.png" width="16" height="16" alt="location">

                        REMOTE

                      </div>
                    </div>
                  </div>
                </div>

                <div class="row job-r">
                  <div class="col-sm-2 col-xs-12">
                    <img src="https://www.onbenchmark.com/assets/images/work.png" width="45" height="45" alt="work">
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <div class="gaadiex-list-item-text">
                      <div>

                        <a href="https://www.onbenchmark.com/job-details/azure-data-engineer/64534d81b6dee8904b51e0fa" target="_blank">
                          Azure Data Engineer
                        </a>
                      </div>
                      <div>
                        <img src="https://obmassets.s3.ap-south-1.amazonaws.com/images/icon/map.png" width="16" height="16" alt="location">

                        Gurgaon

                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer.ejs') %>