<%- include('../partials/header') %>
<section class="grayBox">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <figure>
          <h3>Post Your Job For Free</h3>
          <div class="sub-title"><span>OnBenchMark is one of the best free job posting sites for hiring<span class="inner-text">Contract resources</span>and freelancers . Reach the top talent!</span></div><img class="img-responsive" src="ssrsystem/images/icon/post-job-free.svg" alt="post free job">
        </figure>
        <div class="btnBox"><a class="btn btn-lineBtn btn2" href="auth/login.html">Login</a><a class="btn btn-blueBtn btn2" href="registration-payment/free/1/in.html">Sign up for free</a></div>
      </div>
      <div class="col-sm-6">
        <div id='card' class="animated fadeIn" style="display: none;">
          <div id='upper-side'>
            <?xml version="1.0" encoding="utf-8"?>
            <!-- Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  --><svg version="1.1" id="checkmark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" xml:space="preserve">
              <path d="M131.583,92.152l-0.026-0.041c-0.713-1.118-2.197-1.447-3.316-0.734l-31.782,20.257l-4.74-12.65
        c-0.483-1.29-1.882-1.958-3.124-1.493l-0.045,0.017c-1.242,0.465-1.857,1.888-1.374,3.178l5.763,15.382
        c0.131,0.351,0.334,0.65,0.579,0.898c0.028,0.029,0.06,0.052,0.089,0.08c0.08,0.073,0.159,0.147,0.246,0.209
        c0.071,0.051,0.147,0.091,0.222,0.133c0.058,0.033,0.115,0.069,0.175,0.097c0.081,0.037,0.165,0.063,0.249,0.091
        c0.065,0.022,0.128,0.047,0.195,0.063c0.079,0.019,0.159,0.026,0.239,0.037c0.074,0.01,0.147,0.024,0.221,0.027
        c0.097,0.004,0.194-0.006,0.292-0.014c0.055-0.005,0.109-0.003,0.163-0.012c0.323-0.048,0.641-0.16,0.933-0.346l34.305-21.865
        C131.967,94.755,132.296,93.271,131.583,92.152z" />
              <circle fill="none" stroke="#ffffff" stroke-width="5" stroke-miterlimit="10" cx="109.486" cy="104.353" r="32.53" />
            </svg>
            <h3 id='status'>Job Posted successfully</h3>
          </div>
          <div id='lower-side'>
            <p id='message'>Congratulations, Onbenchmark team will contact you shortly.</p><!-- <a href="#" id="contBtn">Continue</a>-->
          </div>
        </div><!-- ifTrue ? 'opacity:1;' : 'opacity: 0.5; -->
        <div id="alreadtstt" class="login" style="display: block;">
          <div class="formint conForm">
            <form name="postjob"><input type="hidden" id="captcha" name="captcha" value="">
              <div class="form-group text-left">
                <div class="row">
                  <div class="col-sm-6"><label class="input-group-addon">Email*</label><input type="text" class="form-control" name="email" ng-blur="checkmail()" ng-model="jobdata.email" placeholder="Enter Email">
                    <div ng-style="emailloader == true && {'display':'block'}  || emailloader == false && {'display':'none'}" class="email-loader" style="display: none;"><img src="../obmassets.s3.ap-south-1.amazonaws.com/images/loader.gif" width="30" height="30" /></div><small ng-if="error.email" class="text-danger text-error">Business Email is required*</small>
                  </div>
                  <div class="col-sm-6"><label class="input-group-addon">Phone*</label><input type="text" ng-model="jobdata.phone" placeholder="Enter Phone" class="form-control" onkeypress="return isNumber(event)" maxlength="10"><small ng-if="error.phone" class="text-danger text-error">Phone is required</small></div>
                </div>
              </div>
              <div class="form-group text-left"></div>
              <div class="form-group text-left"><label class="input-group-addon">Job Title*</label><input type="text" ng-model="jobdata.jobtitle" placeholder="Enter Job Title" class="form-control"><small ng-if="error.jobtitle" class="text-danger text-error">Job title is required</small></div>
              <div class="form-group text-left"><label class="input-group-addon">Budget *</label><select class="form-control" ng-model="jobdata.budget">
                  <option value="">Select Budget</option>
                  <option value="50000-100000">Rs. 50,000-1,00,000 Monthly</option>
                  <option value="100000-150000">Rs. 1,00,000-1,50,000 Monthly</option>
                  <option value="150000-200000">Rs. 1,50,000-2,00,000 Monthly</option>
                  <option value="200000">Rs. 2,00,000 above Monthly</option>
                </select><small ng-if="error.budget" class="text-danger text-error">Job budget is required</small></div>
              <div class="form-group text-left"><label class="input-group-addon">Job Description*</label><textarea class="form-control" rows="5" ng-model="jobdata.summary"></textarea><small ng-if="error.summary" class="text-danger text-error">Job Description</small></div>
              <div id="here" class="form-group row  text-left">
                <div class="col-sm-12">
                  <div id="recaptcha"></div>
                </div>
                <div class="col-sm-12 text-left"><small ng-if="error.captcha" class="text-danger text-error">Captcha is required</small></div>
              </div>
              <div class="form-group">
                <div ng-if="loaderstt==false" class="sub-btn"><button type="button" id="loginbtn" ng-click="postjobSubmit()" class="login-btn"><span id="loginstt">Request for Job Post</span><span id="loginstt2" style="display: none;">Please Wait</span></button></div>
                <div ng-if="loaderstt==true" class="sub-btn"><button type="button" id="loginbtn" class="login-btn">Please Wait<img src="../obmassets.s3.ap-south-1.amazonaws.com/images/loginloader.gif" /></button></div>
              </div><!-- <div class="newuser">New User?<a href="https://www.onbenchmark.com/auth/register">&nbsp;Register Here</a></div>-->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="whiteBox">
  <div class="container">
    <div class="heading">
      <h3>How it works</h3><span>Join the business community to hire<b>&nbsp;immediate&nbsp;</b>joiner on contract from real time bench resource pool. Deploy & bill your bench.</span>
    </div>
    <div class="howItWorks">
      <div class="stepBox">
        <div class="details">
          <figure><img class="img-responsive" src="ssrsystem/images/icon/step1.svg" alt=""></figure>
          <h4>Register with Us</h4>
          <p>You need to register with your valid credentials like name, phone number, email id, create and then sign in with the password.</p>
        </div>
      </div>
      <div class="stepBox">
        <div class="details">
          <figure><img class="img-responsive" src="ssrsystem/images/icon/step2.svg" alt=""></figure>
          <h4>Post a Job</h4>
          <p>After logging in to your account, you can post job for the requirements with all the details.</p>
        </div>
      </div>
      <div class="stepBox">
        <div class="details">
          <figure><img class="img-responsive" src="ssrsystem/images/icon/step3.svg" alt=""></figure>
          <h4>Connect with Applicants:</h4>
          <p>You can directly see and connect with the applicants for the job, shortlist and interview them, and finally select the most suitable one.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="grayBox">
  <div class="container">
    <div class="heading">
      <h3>Trusted by 3,500+ companies</h3><span>Our strong community of businesses works in collaboration and they are our biggest asset.</span>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="ul-li-text">
          <ul style="text-align: left;">
            <li>
              <h4>Connect & collaborate</h4>
              <p>Join networked community of companies to deploy & bill your bench on contract or get projects.</p>
            </li>
            <li>
              <h4>Top talent on demand</h4>
              <p>Hire the top rated Contract /part-time talent in a day</p>
            </li>
            <li>
              <h4>Get Immediate Joiner</h4>
              <p>Get immediate joiner on contract/ part-time from the biggest pool of bench.</p>
            </li>
          </ul>
        </div>
        <div class="trustedBusinessesBox owlSlider">
          <div class="owl-carousel owl-theme" id="trustedBusinesses">
            <div class="item">
              <figure><img class="img-responsive" src="images/logo/4740zg8qoli1q8yxb.jpg" alt="Devii"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/logo/4740zc94qlf9io3lx.png" alt="eMudhra Limited"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/logo/4740zc94qlf86wbb7.png" alt="MBO partners"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/logo/4740zc94qlf86oimt.jpg" alt="Maveric Systems Limited"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/logo/4740zc94qlf86cy7k.png" alt="Bitwise Inc"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/logo/4740zc94qlf866e8y.png" alt="Uplers"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/logo/4740z19gk1l7edra5j.jpg" alt="Htc Global"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/logo/4740zqe71l14zwfqz.jpg" alt="Tata technologies"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/logo/4740zp7x5l0ho7e3q.jpg" alt="Voonik"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/logo/19ci97kwpdxhkk.jpg" alt="Clean Harbors"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/logo/19ci97kwpdt3qt.jpg" alt="Infobeans Logo"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/logo/19ci97kwpdn1d7.jpg" alt="Urban Ladder Logo"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/logo/19cu6ksfr0zjv.jpg" alt="Wheebox logo"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/logo/19cu6ksfqx4pj.png" alt="Birlasoft Logo"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/logo/19cu6ksfqs0lp.png" alt="Technicolor Logo"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/logo/19cu6ksfqpi5o.jpg" alt="FarEye Logo"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/logo/19cu6ksfqiim0.jpg" alt="LensKart Logo"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/logo/19cu6ksfqea9x.png" alt="Tata Steel Logo"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/logo/19cu6ksfq21zm.jpg" alt="CarDekho Logo"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/logo/19c1u2k7yuqow8.jpg" alt="ThoughtWorks"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/logo/5r6c1w1k7xnnyez.jpg" alt="Epam"></figure>
            </div>
            <div class="item">
              <figure><img class="img-responsive" src="images/logo/5r6c1w1k7xnnhyw.jpg" alt="AccionLabs"></figure>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <figure><img class="img-responsive" src="ssrsystem/images/icon/company-list.svg" alt=""><a class="play-btn" href="javascript:void(0)" onclick="playvideo(1)"></a></figure>
      </div>
    </div>
  </div>
</section>
<section class="whiteBox">
  <div class="container">
    <h3>Frequently asked questions</h3>
    <div class="faqBox">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne_0">
            <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_0" aria-expanded="false" aria-controls="collapseOne">How can I post the jobs for free?</a></h4>
          </div>
          <div id="collapseOne_0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_0">
            <div class="panel-body">
              <p>You can use the free account of OnBenchMark and post a job for free of cost. In your free account, you can view 25 freelancer profiles, post jobs and deploy your bench.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne_1">
            <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_1" aria-expanded="false" aria-controls="collapseOne">How do I know the approval status of my job?</a></h4>
          </div>
          <div id="collapseOne_1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_1">
            <div class="panel-body">
              <p>After posting a job on our board, it will take generally minimum time to get the approval. Until it gets the approval, the status will be showing In Review. After it gets the approval, the status will be changed to “Published” and the candidates can start applying for it.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne_2">
            <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_2" aria-expanded="false" aria-controls="collapseOne">Is it mandatory to work at an hourly rate?</a></h4>
          </div>
          <div id="collapseOne_2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_2">
            <div class="panel-body">
              <p>No, it&#39;s not mandatory to work only at hourly rate. You can discuss with the client about fixed rate or monthly rate also.It entirely depends on your preference and agreement between freelancer &amp; client</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne_3">
            <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_3" aria-expanded="false" aria-controls="collapseOne">When do I need to pay for the posted job?</a></h4>
          </div>
          <div id="collapseOne_3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_3">
            <div class="panel-body">
              <p>You can register and post jobs on OnBenchMark for free. However, to access the email id and phone number of the applicants you can opt the essentials and premium plans. We also offer custom plans to companies as per their requirements.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne_4">
            <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_4" aria-expanded="false" aria-controls="collapseOne">Why OnBenchMark is better than all the job posting platforms?.</a></h4>
          </div>
          <div id="collapseOne_4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_4">
            <div class="panel-body">
              <p>OnBenchMark is a trusted platform both for freelancers and companies. Here you can get experienced and beginner freelance talents and contract employees from verified companies of almost all domain. You don&#39;t need to wait for long after posting the job as it will publish almost instantly and you will start receiving applications</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne_5">
            <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_5" aria-expanded="false" aria-controls="collapseOne">What to do if I am looking for a job instead of posting one?.</a></h4>
          </div>
          <div id="collapseOne_5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_5">
            <div class="panel-body">
              <p>If you are a freelancer or job seeker, you will have thousands of freelance and contract jobs posted in our jobs section</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- <div id="myModal" class="modal fade" role="dialog"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button><h4 class="modal-title">Modal Header</h4></div><div class="modal-body"><p>Some text in the modal.</p></div><div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div></div></div></div>-->
<%- include('../partials/footer.ejs') %>