<%- include('../partials/header') %>
<div class="inner-content about">
  <div class="container">
    <!-- <div class="row">
           <div class="col-sm-12 text-center">
            <h2 class="offer-heading"> <img src="/ssrsystem/images/icon/gift.svg"  width="50" height="50"/>
                 <span> New Year Offer</span> <span class="upto"> UPTO</span> <span class="offer">  40% Off</span>
                 <div class="valid-till"> Valid till: 10 Jan 2022 </div>
            </h2>
            <div>
            </div>
           </div>
         </div> -->
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="t-text">Join the Biggest Quick Talent Marketplace</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <p class="sub-text"> Hire Resources on Contract in a Just a Day, Find Clients & Deploy Bench.
        </p>
      </div>
    </div>



    <!-- <div class="row">
            <div class="col-sm-6">
                <div class="heading-register text-center"><span>Employers</span>
                </div>
                <div class="sub-heading-register text-center">Quickly Hire immediate joiners&nbsp;<span>on-contract and freelancers</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="heading-register text-center"><span>IT Service Companies</span>
                </div>
                <div class="sub-heading-register text-center">Find clients and&nbsp;<span>deploy your resources</span>
                </div>
            </div>
         </div> -->


    <br>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-right">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
        <div class="switch-field">
          <input type="hidden" id="totalmonth" value="1" />
          <input type="radio" id="radio-three" name="switch-two" value="Monthly" checked onchange="datestt(this.value)" />
          <label for="radio-three">Monthly</label>
          <input type="radio" id="radio-four" name="switch-two" value="Quarterly" onchange="datestt(this.value)" />
          <label for="radio-four">Quarterly</label>
          <input type="radio" id="radio-five" name="switch-two" value="halfyearly" onchange="datestt(this.value)" />
          <label for="radio-five">Half Yearly</label>
          <input type="radio" id="radio-six" name="switch-two" value="Yearly" onchange="datestt(this.value)" />
          <label for="radio-six">Yearly</label>

          <span class="y_offer">50% Discount </span>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-right">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <!-- <div class="col-sm-2">

                    </div> -->
          <!-- <div class="col-sm-3">
                        <div class="price-top">
                            <div class="text-white plan-head text-center">
                                Free
                            </div>
                            <div id="free-plan" class="price-text text-center" style="padding: 8px 15px;">
                                <span class="month">
                                    
                                        <img src="https://obmassets.s3.ap-south-1.amazonaws.com/images/icon/rupee.png" alt="rupee icon" />
                                        0
                                            
                                </span>
                                <span class="year" style="display: none;">
                                </span>
                                <span class="h6 d-block month">7 Day Trial</span>
                                <div style="font-size: 14px;color: #ff9800;">
                                   Note: No Credit card required
                                </div>
                            </div>
                            <div class="text-free-div">
                                <div class="text-view-btn">
                                    <a href="javascript:void(0)" onclick="signup('free')"
                                        class="link-hover1 text-white h5 w-100 d-block py-4 mb-0 totalrs">Get
                                        Started
                                    </a>
                                </div>
                                <div class="text-view">
                                    Freelancer Resume Views&nbsp;<b>(25)</b>
                                </div>
                                <div class="text-view">
                                    Job Posting
                                </div>
                                <div class="text-view">
                                    Deploy Bench
                                </div>
                            </div>
                        </div>
                    </div> -->
          <!-- <div class="col-sm-3">
                        <div class="price-top">
                            <div class="text-white plan-head text-center">
                                Essentials
                            </div>
                            <div class="price-text text-center essentials-plan">
                                <span class="month">
                                    
                                        <img src="https://obmassets.s3.ap-south-1.amazonaws.com/images/icon/rupee.png"  width="20"  alt="rupee icon"/>
                                        4500
                                            
                                </span>
                                <span class="h6 d-block month">per month</span>
                                
                            </div>
                            <div class="text-essentials-div">
                                <div class="text-view-btn">
                                    <a href="javascript:void(0)" onclick="signup('essentials')"
                                        class="link-hover1 text-white h5 w-100 d-block py-4 mb-0 totalrs">
                                        Buy Now
                                    </a>
                                </div>
                                <div class="text-view">
                                    Freelancer Resume Views&nbsp;<b>(500)</b>
                                </div>
                                <div class="text-view">
                                    Company Email Views &nbsp;<b>(50) </b>
                                </div>
                                <div class="text-view">
                                    Direct Connect  with Company
                                </div>
                                <div class="text-view">
                                    Job Posting
                                </div>
                                <div class="text-view">
                                    Hire Bench 
                                </div>
                                <div class="text-view">
                                    Deploy Bench
                                </div>
                            </div>
                        </div>
                    </div> -->
          <div class="col-sm-4">
            <div class="most-poplr">Most Popular</div>
            <div class="price-top">
              <div class="blnkBox"></div>
              <div class="text-white plan-head text-center">
                Premium
              </div>
              <div class="price-text text-center premium-plan">
                <span class="month">

                  <img src="../obmassets.s3.ap-south-1.amazonaws.com/images/icon/rupee.png" width="20" alt="rupee icon" />
                  15000

                </span>
                <span class="h6 d-block month">per month</span>
                <!--  -->
              </div>

              <div class="billing-type-premium">
                (Monthly Billing)
              </div>
              <div class="text-premium-div">
                <div class="text-view-btn">
                  <a href="javascript:void(0)" onclick="signup('premium')" class="link-hover1 text-white h5 w-100 d-block py-4 mb-0 totalrs">
                    Buy Now
                  </a>
                </div>
                <div class="text-view-h4 text-left text-title">
                  <span class="form-checkbox">
                    <label for="html1">Hiring</label>
                  </span>
                </div>
                <!-- <div class="text-view">
                                    <h2>Hiring</h2>
                                </div> -->
                <div class="text-view">
                  ● Job Posting
                </div>
                <div class="text-view">
                  ● Hire Bench on Contract
                </div>
                <div class="text-view">
                  ● Hire Candidates on Part-Time
                </div>
                <div class="text-view">
                  ● Hire Subject Matter Experts on Consulting assignment
                </div>
                <div class="text-view">
                  ● Directly connect with Vendors
                </div>
                <div class="text-view">
                  ● Directly connect with Freelancers
                </div>
                <div class="text-view">
                  ● Job Posting
                </div>
                <div class="text-view">
                  ● Hire Bench on Contract
                  <!-- (50 vendor contacts) -->
                </div>
                <div class="text-view">
                  ● Hire Candidates on Part-Time
                </div>
                <div class="text-view">
                  ● Hire Subject Matter Experts on Consulting assignment
                </div>
                <div class="text-view">
                  ● Directly connect with Vendors
                </div>
                <div class="text-view">
                  ● Directly connect with Freelancers
                </div>
                <div class="text-view">
                  <h2>Find Trusted Clients</h2>
                </div>
                <div class="text-view">
                  ● Find Clients/Generate Leads
                </div>
                <div class="text-view">
                  ● Post Bench Employee profiles
                </div>
                <div class="text-view">
                  ● Sell /Deploy Bench
                </div>
                <div class="text-view">
                  ● Directly connect with Clients
                </div>
                <div class="text-view">
                  ● Get Software Projects
                </div>
                <!-- <div class="text-view">
                                    <h2>OnBenchMark Team support</h2>
                                </div> -->
                <!-- <div class="text-view">
                                    Freelancer Resume views&nbsp;<b>(2500)</b>
                                </div>
                                <div class="text-view">
                                    Company Email & Phone Views&nbsp;<b>(50
                                            )</b>
                                </div> -->
                <!-- <div class="text-view">
                                    Resumes in Inbox
                                </div>
                                <div class="text-view">
                                    Direct Connect with Company
                                </div>
                                <div class="text-view">
                                    Job Posting
                                </div>
                                <div class="text-view">
                                    Hire Bench
                                </div>
                                <div class="text-view">
                                    Deploy Bench
                                </div>
                                <div class="text-view">
                                    Email Campaign
                                </div>
                                <div class="text-view">
                                    Hiring Support
                                </div> -->
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="price-top">
              <div class="text-white plan-head text-center">
                Enterprise
              </div>
              <div class="price-text text-center enterprise-plan" style="padding: 7px 15px;">

                <img src="ssrsystem/images/icon/rupee.png" width="20" alt="rupee icon">----
                <div class="offer-price"><span class="offer-line-through">
                    <img src="ssrsystem/images/icon/rupee.png" width="20" alt="rupee icon">----</span>
                  ( -- % off )</div>

              </div>
              <div class="billing-type-enterprise">
                ((Monthly Billing))
              </div>
              <div class="text-enterprise-div">
                <div class="text-view-btn">
                  <a href="javascript:void(0)" onclick="signup('enterprise')" class="link-hover1 text-white h5 w-100 d-block py-4 mb-0 totalrs">
                    Buy Now
                  </a>
                </div>



                <div class="text-view-h4 text-left text-title">
                  <span class="form-checkbox">
                    <input type="checkbox" id="html1" class="checkbox-plan" value="Contract" checked onchange="changeplan(this.value)">
                    <label for="html1">Hiring</label>
                  </span>
                </div>
                <div class="text-view">
                  ● Dedicated Recruiter Assistance
                </div>
                <div class="text-view">
                  ● Preferred Candidate Sharing
                </div>
                <div class="text-view">
                  ● Identifying Vendors
                </div>
                <div class="text-view">
                  ● Coordination with Vendor
                </div>
                <div class="text-view">
                  ● Screen Candidates
                </div>
                <div class="text-view">
                  ● Schedule Interviews
                </div>
                <div class="text-view">
                  ● On-Boarding Assistance
                </div>

                <!-- <div class="text-view">
                                    ● For on-boarding assistance
                                </div> -->

                <!-- <div class="text-view-h4 text-center">
                                    <h4 class="text-title">
                                        <input type="checkbox" class="checkbox-view" />
                                        Deploy Bench:
                                    </h4> 
                                </div> -->
                <div class="text-view-h4 text-left text-title">
                  <span class="form-checkbox">
                    <input type="checkbox" id="html" class="checkbox-plan" value="Bench" onchange="changeplan(this.value)">
                    <label for="html">Find Clients</label>
                  </span>
                </div>
                <div class="text-view">
                  Dedicated Sales Assistant
                </div>
                <div class="text-view">
                  Preferred Lead Sharing
                </div>
                <div class="text-view">
                  Identifying Clients
                </div>
                <div class="text-view">
                  Coordination with Clients
                </div>
                <div class="text-view">
                  Schedule Interviews
                </div>
                <div class="text-view">
                  On-Boarding Assistance
                </div>
                <div class="text-view">
                  Offline Assistance for new business
                </div>
                <div class="text-view-h4 text-center">
                  <h4 class="text-plus">(Plus Premium Features)</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="price-top">
              <div class="text-white plan-head text-center">
                Create My Plan
              </div>
              <div class="price-text text-center create-my-plan">
                Talk to us
              </div>
              <div class="text-create-my-plan-div">
                <div class="text-view-btn">
                  <a href="javascript:void(0)" onclick="opentalk(1)" class="link-hover1 text-white h5 w-100 d-block py-4 mb-0 totalrs">Lets
                    talk</a>
                </div>
                <!-- <div class="text-view">
                                    Freelancer Resume Views (Custom)
                                </div>
                                <div class="text-view">
                                    Direct Connect with Company
                                </div>
                                <div class="text-view">
                                    Job Posting
                                </div>
                                <div class="text-view">
                                    Deploy Bench
                                </div>
                                <div class="text-view">
                                    Hire Bench
                                </div>
                                <div class="text-view">
                                    Email Campaign
                                </div>
                                <div class="text-view">
                                    Hiring Support
                                </div>
                                <div class="text-view">
                                    Resumes in Inbox
                                </div>
                                <div class="text-view">
                                    Dedicated Recruiter
                                </div>
                                <div class="text-view">
                                    Freelancer Hiring
                                </div>
                                <div class="text-view">
                                    Full Time Hiring
                                </div>
                                <div class="text-view">
                                    Hire on-Contract
                                </div>
                                <div class="text-view">
                                    C2H Hiring
                                </div> -->
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer.ejs') %>