<%- include('../partials/header') %>
<%- include('../partials/navbar.ejs') %>

<div class="login-inner">
  <div class="container">
    <h1 class="heading-register text-center">Sign Up <span>&nbsp;As</span></h1>
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="offset-md-2 col-md-5 col-sm-5 text-center">
        <a href="https://www.onbenchmark.com/pricing-table">
          <div class="listWrpService-reg featured-wrap candidate">
            <h2 class="white">Business</h2>
            <p class="white">If you have a Job/Project & Deploy Bench Resources</p>
          </div>
        </a>
      </div>
      <div class="col-md-5 col-sm-5 text-center">
        <a href="https://www.onbenchmark.com/auth/freelancer-register">
          <div class="listWrpService-reg featured-wrap candidate">
            <h2 class="white">Freelancer</h2>
            <p class="white">If you need a Job/Project & Create Virtual Team</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer.ejs') %>
<%- include('../partials/bottom.ejs') %>